<div>
  <br>
  <div class="adhayaTitle">॥ दैवासुरसंपद्विभागयोग ॥ </div>
  <br>

  <div class="adhayaText">
    श्रीभगवानुवाच । <br>
    अभयं सत्त्वसंशुद्धिर्ज्ञानयोगव्यवस्थितिः । <br>
    दानं दमश्च यज्ञश्च स्वाध्यायस्तप आर्जवम्‌ ॥ १६-१ ॥ <br> <br>
  </div>
  भगवान श्रीकृष्ण म्हणाले, भयाचा संपूर्ण अभाव, अंतःकरणाची पूर्ण निर्मळता, तत्त्वज्ञानाकरता ध्यानयोगात निरंतर दृढ स्थिती
  आणि सात्त्विक दान, इंद्रियांचे दमन, भगवान, देवता आणि गुरुजनांची पूजा, तसेच अग्निहोत्र इत्यादी उत्तम कर्मांचे आचरण,
  त्याचप्रमाणे वेदशास्त्रांचे पठन-पाठन, भगवंतांच्या नामांचे व गुणांचे कीर्तन, स्वधर्माचे पालन करण्यासाठी कष्ट सोसणे आणि
  शरीर व इंद्रियांसह अंतःकरणाची सरलता ॥ १६-१ ॥ <br> <br>

  <div class="adhayaText">
    अहिंसा सत्यमक्रोधस्त्यागः शान्तिरपैशुनम्‌ । <br>
    दया भूतेष्वलोलुप्त्वं मार्दवं ह्रीरचापलम्‌ ॥ १६-२ ॥ <br> <br>
  </div>
  काया-वाचा-मनाने कोणालाही कोणत्याही प्रकाराने दुःख न देणे, यथार्थ व प्रिय भाषण, आपल्यावर अपकार करणाऱ्यावरही न रागावणे,
  कर्मांच्या ठिकाणी कर्तेपणाच्या अभिमानाचा त्याग, अंतःकरणात चंचलता नसणे, कोणाचीही निंदा वगैरे न करणे, सर्व
  प्राणीमात्रांच्या ठिकाणी निर्हेतुक दया, इंद्रियांचा विषयांशी संयोग झाला तरी त्यांच्याविषयी आसक्ती न वाटणे, कोमलता,
  लोकविरुद्ध व शास्त्रविरुद्ध आचरण करण्याची लज्जा, निरर्थक हालचाली न करणे ॥ १६-२ ॥ <br> <br>

  <div class="adhayaText">
    तेजः क्षमा धृतिः शौचमद्रोहो नातिमानिता । <br>
    भवन्ति सम्पदं दैवीमभिजातस्य भारत ॥ १६-३ ॥ <br> <br>
  </div>
  तेज, क्षमा, धैर्य, बाह्य शुद्धी, कोणाविषयीही शत्रुत्व न वाटणे आणि स्वतःविषयी मोठेपणाचा अभिमान नसणे - ही सर्व हे भारता
  (अर्थात भरतवंशी अर्जुना), दैवी संपत्ती घेऊन जन्मलेल्या माणसाची लक्षणे आहेत. ॥ १६-३ ॥ <br> <br>

  <div class="adhayaText">
    दम्भो दर्पोऽभिमानश्च क्रोधः पारुष्यमेव च । <br>
    अज्ञानं चाभिजातस्य पार्थ सम्पदमासुरीम्‌ ॥ १६-४ ॥ <br> <br>
  </div>
  हे पार्था (अर्थात पृथापुत्र अर्जुना), ढोंग, घमेंड, अभिमान, राग, कठोरपणा आणि अज्ञान ही सर्व आसुरी संपत्ती घेऊन
  जन्मलेल्या पुरुषाची लक्षणे आहेत. ॥ १६-४ ॥ <br> <br>

  <div class="adhayaText">
    दैवी सम्पद्विमोक्षाय निबन्धायासुरी मता । <br>
    मा शुचः सम्पदं दैवीमभिजातोऽसि पाण्डव ॥ १६-५ ॥ <br> <br>
  </div>
  दैवी संपदा मुक्तिदायक आणि आसुरी संपदा बंधनकारक मानली आहे. म्हणून हे पांडवा (अर्थात पांडुपुत्र अर्जुना), तू शोक करू
  नकोस. कारण तू दैवी संपदा घेऊन जन्मला आहेस. ॥ १६-५ ॥ <br> <br>

  <div class="adhayaText">
    द्वौ भूतसर्गौ लोकेऽस्मिनदैव आसुर एव च । <br>
    दैवो विस्तरशः प्रोक्त आसुरं पार्थ मे शृणु ॥ १६-६ ॥ <br> <br>
  </div>
  हे पार्था (अर्थात पृथापुत्र अर्जुना), या जगात मनुष्यसमुदाय दोनच प्रकारचे आहेत. एक दैवी प्रकृतीचे आणि दुसरे आसुरी
  प्रकृतीचे. त्यांपैकी दैवी प्रकृतीचे विस्तारपूर्वक सांगितले. आता तू आसुरी प्रकृतीच्या मनुष्यसमुदायाबद्दलही माझ्याकडून
  सविस्तर ऐक. ॥ १६-६ ॥ <br> <br>

  <div class="adhayaText">
    प्रवृत्तिं च निवृत्तिं च जना न विदुरासुराः । <br>
    न शौचं नापि चाचारो न सत्यं तेषु विद्यते ॥ १६-७ ॥ <br> <br>
  </div>
  आसुरी स्वभावाचे लोक प्रवृत्ती आणि निवृत्ती दोन्हीही जाणत नाहीत. त्यामुळे त्यांच्या ठिकाणी अंतर्बाह्य शुद्धी असत नाही,
  उत्तम आचरण असत नाही आणि सत्य भाषणही असत नाही. ॥ १६-७ ॥ <br> <br>

  <div class="adhayaText">
    असत्यमप्रतिष्ठं ते जगदाहुरनीश्वरम्‌ । <br>
    अपरस्परसम्भूतं किमन्यत्कामहैतुकम्‌ ॥ १६-८ ॥ <br> <br>
  </div>
  ते आसुरी स्वभावाचे मनुष्य असे सांगतात की, हे जग आश्रयरहित, सर्वथा खोटे आणि ईश्वराशिवाय आपोआप केवळ स्त्रीपुरुषांच्या
  संयोगातून उत्पन्न झाले आहे. म्हणूनच केवळ काम हेच त्याचे कारण आहे. त्याशिवाय दुसरे काय आहे? ॥ १६-८ ॥ <br> <br>

  <div class="adhayaText">
    एतां दृष्टिमवष्टभ्य नष्टात्मानोऽल्पबुद्धयः । <br>
    प्रभवन्त्युग्रकर्माणः क्षयाय जगतोऽहिताः ॥ १६-९ ॥ <br> <br>
  </div>
  या खोट्या ज्ञानाचा अवलंब करून ज्यांचा स्वभाव नष्ट झाला आहे आणि ज्यांची बुद्धी मंद आहे असे सर्वांवर अपकार करणारे
  क्रूरकर्मी मनुष्य केवळ जगाच्या नाशाला समर्थ होतात. ॥ १६-९ ॥ <br> <br>

  <div class="adhayaText">
    काममाश्रित्य दुष्पूरं दम्भमानमदान्विताः । <br>
    मोहाद्‌गृहीत्वासद्ग्राहान्प्रवर्तन्तेऽशुचिव्रताः ॥ १६-१० ॥ <br> <br>
  </div>
  ते दंभ, मान आणि मद यांनी युक्त असलेले मनुष्य कोणत्याही प्रकारे पूर्ण न होणाऱ्या कामनांचा आश्रय घेऊन अज्ञानाने खोटे
  सिद्धांत स्वीकारून भ्रष्ट आचरण करीत जगात वावरत असतात. ॥ १६-१० ॥ <br> <br>

  <div class="adhayaText">
    चिन्तामपरिमेयां च प्रलयान्तामुपाश्रिताः । <br>
    कामोपभोगपरमा एतावदिति निश्चिताः ॥ १६-११ ॥ <br> <br>
  </div>
  तसेच ते आमरणान्त असंख्य चिंतांचे ओझे घेतलेले विषयभोग भोगण्यात तत्पर असलेले, हाच काय तो आनंद आहे, असे मानणारे असतात. ॥
  १६-११ ॥ <br> <br>

  <div class="adhayaText">
    आशापाशशतैर्बद्धाः कामक्रोधपरायणाः । <br>
    ईहन्ते कामभोगार्थमन्यायेनार्थसञ्चयान्‌ ॥ १६-१२ ॥ <br> <br>
  </div>
  शेकडो आशांच्या पाशांनी बांधले गेलेले ते मनुष्य काम-क्रोधात बुडून जाऊन विषयभोगांसाठी अन्यायाने द्रव्यादी पदार्थांचा
  संग्रह करण्याचा प्रयत्‍न करीत असतात. ॥ १६-१२ ॥ <br> <br>

  <div class="adhayaText">
    इदमद्य मया लब्धमिमं प्राप्स्ये मनोरथम्‌ । <br>
    इदमस्तीदमपि मे भविष्यति पुनर्धनम्‌ ॥ १६-१३ ॥ <br> <br>
  </div>
  ते विचार करतात की, मी आज हे मिळविले आणि आता मी हा मनोरथ पूर्ण करीन. माझ्याजवळ हे इतके द्रव्य आहे आणि पुन्हा सुद्धा हे
  मला मिळेल. ॥ १६-१३ ॥ <br> <br>

  <div class="adhayaText">
    असौ मया हतः शत्रुर्हनिष्ये चापरानपि । <br>
    ईश्वरोऽहमहं भोगी सिद्धोऽहं बलवान्सुखी ॥ १६-१४ ॥ <br> <br>
  </div>
  या शत्रूला मी मारले आणि त्या दुसऱ्या शत्रूंनाही मी मारीन. मी ईश्वर आहे, ऐश्वर्य भोगणारा आहे. मी सर्व सिद्धींनी युक्त
  आहे आणि बलवान तसाच सुखी आहे. ॥ १६-१४ ॥ <br> <br>

  <div class="adhayaText">
    आढ्योऽभिजनवानस्मि कोऽन्योऽस्ति सदृशो मया । <br>
    यक्ष्ये दास्यामि मोदिष्य इत्यज्ञानविमोहिताः ॥ १६-१५ ॥ <br>
    अनेकचित्तविभ्रान्ता मोहजालसमावृताः । <br>
    प्रसक्ताः कामभोगेषु पतन्ति नरकेऽशुचौ ॥ १६-१६ ॥ <br> <br>
  </div>
  मी मोठा धनिक आणि मोठ्या कुळात जन्मलेला आहे. माझ्यासारखा दुसरा कोण आहे? मी यज्ञ करीन. दाने देईन. मजेत राहीन. अशा
  प्रकारे अज्ञानाने मोहित झालेले अनेक प्रकारांनी भ्रांतचित्त झालेले, मोहाच्या जाळ्यात अडकलेले आणि विषयभोगांत अत्यंत
  आसक्त असे आसुरी लोक महा अपवित्र नरकात पडतात. ॥ १६-१५, १६-१६ ॥ <br> <br>

  <div class="adhayaText">
    आत्मसम्भाविताः स्तब्धा धनमानमदान्विताः । <br>
    यजन्ते नामयज्ञैस्ते दम्भेनाविधिपूर्वकम्‌ ॥ १६-१७ ॥ <br> <br>
  </div>
  ते स्वतःलाच श्रेष्ठ मानणारे घमेंडखोर लोक धन आणि मान यांच्या मदाने उन्मत्त होऊन केवळ नावाच्या यज्ञांनी पाखंडीपणाने
  शास्त्रविधिहीन यज्ञ करतात. ॥ १६-१७ ॥ <br> <br>

  <div class="adhayaText">
    अहङ्कारं बलं दर्पं कामं क्रोधं च संश्रिताः । <br>
    मामात्मपरदेहेषु प्रद्विषन्तोऽभ्यसूयकाः ॥ १६-१८ ॥ <br> <br>
  </div>
  ते अहंकार, बळ, घमेंड, कामना आणि क्रोधादिकांच्या आहारी गेलेले आणि दुसऱ्यांची निंदा करणारे पुरुष आपल्या व इतरांच्या
  शरीरांत असलेल्या मज अंतर्यामीचा द्वेष करणारे असतात. ॥ १६-१८ ॥ <br> <br>

  <div class="adhayaText">
    तानहं द्विषतः क्रूरान्संसारेषु नराधमान्‌ । <br>
    क्षिपाम्यजस्रमशुभानासुरीष्वेव योनिषु ॥ १६-१९ ॥ <br> <br>
  </div>
  त्या द्वेष करणाऱ्या, पापी, क्रूरकर्मे करणाऱ्या नराधमांना मी संसारात वारंवार आसुरी योनींतच टाकतो. ॥ १६-१९ ॥ <br> <br>

  <div class="adhayaText">
    आसुरीं योनिमापन्ना मूढा जन्मनि जन्मनि । <br>
    मामप्राप्यैव कौन्तेय ततो यान्त्यधमां गतिम्‌ ॥ १६-२० ॥ <br> <br>
  </div>
  हे कौंतेया (अर्थात कुंतीपुत्र अर्जुना), ते मूढ मला न प्राप्त होता जन्मोजन्मी आसुरी योनींतच जन्मतात. उलट त्याहूनही
  अतिनीच गतीला प्राप्त होतात. अर्थात घोर नरकांत पडतात. ॥ १६-२० ॥ <br> <br>

  <div class="adhayaText">
    त्रिविधं नरकस्येदं द्वारं नाशनमात्मनः । <br>
    कामः क्रोधस्तथा लोभस्तस्मादेतत्त्रयं त्यजेत्‌ ॥ १६-२१ ॥ <br> <br>
  </div>
  काम, क्रोध आणि लोभ ही तीन प्रकारची नरकाची दारे आत्म्याचा नाश करणारी अर्थात त्याला अधोगतीला नेणारी आहेत. म्हणूनच त्या
  तिन्हींचा त्याग करावा. ॥ १६-२१ ॥ <br> <br>

  <div class="adhayaText">
    एतैर्विमुक्तः कौन्तेय तमोद्वारैस्त्रिभिर्नरः । <br>
    आचरत्यात्मनः श्रेयस्ततो याति परां गतिम्‌ ॥ १६-२२ ॥ <br> <br>
  </div>
  हे कौंतेया (अर्थात कुंतीपुत्र अर्जुना), या तिन्ही नरकाच्या दारांपासून मुक्त झालेला पुरुष आपल्या कल्याणाचे आचरण करतो.
  त्याने तो परम गती मिळवितो. अर्थात मला येऊन मिळतो. ॥ १६-२२ ॥ <br> <br>

  <div class="adhayaText">
    यः शास्त्रविधिमुत्सृज्य वर्तते कामकारतः । <br>
    न स सिद्धिमवाप्नोति न सुखं न परां गतिम्‌ ॥ १६-२३ ॥ <br> <br>
  </div>
  जो मनुष्य शास्त्राचे नियम सोडून स्वतःच्या मनाला वाटेल तसे वागतो, त्याला सिद्धी मिळत नाही, परम गती मिळत नाही आणि सुखही
  मिळत नाही. ॥ १६-२३ ॥ <br> <br>

  <div class="adhayaText">
    तस्माच्छास्त्रं प्रमाणं ते कार्याकार्यव्यवस्थितौ । <br>
    ज्ञात्वा शास्त्रविधानोक्तं कर्म कर्तुमिहार्हसि ॥ १६-२४ ॥ <br> <br>
  </div>
  म्हणून तुला कर्तव्य आणि अकर्तव्य यांची व्यवस्था लावण्यात शास्त्रच प्रमाण आहे, असे जाणून तू शास्त्रविधीने नेमलेले कर्मच
  करणे योग्य आहे. ॥ १६-२४ ॥ <br> <br>

  <div class="adhayaText">
    ॐ तत्सदिति श्रीमद्‌भगवद्‌गीतासूपनिषत्सु ब्रह्मविद्यायां योगशास्त्रे श्रीकृष्णार्जुनसंवादे
    दैवासुरसंपद्विभागयोगो नाम षोडशोऽध्यायः ॥ १६ ॥ <br> <br>
  </div>
  ॐ हे परमसत्य आहे. याप्रमाणे श्रीमद्‌भगवद्‌गीतारूपी उपनिषद तथा ब्रह्मविद्या आणि योगशास्त्राविषयी श्रीकृष्ण आणि अर्जुन
  यांच्या संवादातील दैवासुरसंपद्विभागयोग नावाचा हा सोळावा अध्याय समाप्त झाला. ॥ १६ ॥ <br> <br> <br>
</div>