<div>
  <br>
  <div class="adhayaTitle">॥ पुरुषोत्तमयोग ॥ </div>
  <br>

  <div class="adhayaText">
    श्रीभगवानुवाच । <br>
    ऊर्ध्वमूलमधःशाखमश्वत्थं प्राहुरव्ययम्‌ । <br>
    छन्दांसि यस्य पर्णानि यस्तं वेद स वेदवित्‌ ॥ १५-१ ॥ <br> <br>
  </div>
  भगवान श्रीकृष्ण म्हणाले, आदिपुरुष परमेश्वररूपी मूळ असलेल्या, ब्रह्मदेवरूप मुख्य फांदी असलेल्या, ज्या संसाररूप
  अश्वत्थवृक्षाला अविनाशी म्हणतात, तसेच वेद ही ज्याची पाने म्हटली आहेत, त्या संसाररूप वृक्षाला जो पुरुष मुळासहित
  तत्त्वतः जाणतो, तो वेदांचे तात्पर्य जाणणारा आहे. ॥ १५-१ ॥ <br> <br>

  <div class="adhayaText">
    अधश्चोर्ध्वं प्रसृतास्तस्य शाखा गुणप्रवृद्धा विषयप्रवालाः । <br>
    अधश्च मूलान्यनुसन्ततानि कर्मानुबन्धीनि मनुष्यलोके ॥ १५-२ ॥ <br> <br>
  </div>
  त्या संसारवृक्षाच्या तिन्ही गुणरूपी पाण्याने वाढलेल्या, तसेच विषयभोगरूप अंकुरांच्या, देव, मनुष्य आणि पशुपक्ष्यादी
  योनिरूप फांद्या खाली व वर सर्वत्र पसरल्या आहेत. तसेच मनुष्ययोनीत कर्मांनुसार बांधणारी अहंता, ममता आणि वासना रूपी
  मुळेही खाली व वर सर्व लोकांत व्यापून राहिली आहेत. ॥ १५-२ ॥ <br> <br>

  <div class="adhayaText">
    न रूपमस्येह तथोपलभ्यते नान्तो न चादिर्न च सम्प्रतिष्ठा । <br>
    अश्वत्थमेनं सुविरूढमूलमसङ्गशस्त्रेण दृढेन छित्त्वा ॥ १५-३ ॥ <br> <br>
  </div>
  या संसारवृक्षाचे स्वरूप जसे सांगितले आहे, तसे येथे विचारकाळी आढळत नाही. कारण याचा आदी नाही, अंत नाही. तसेच त्याची
  उत्तम प्रकारे स्थिरताही नाही. म्हणून या अहंता, ममता आणि वासना रूपी अतिशय घट्ट मुळे असलेल्या संसाररूपी अश्वत्थवृक्षाला
  बळकट वैराग्यरूप शस्त्राने कापून ॥ १५-३ ॥ <br> <br>

  <div class="adhayaText">
    ततः पदं तत्परिमार्गितव्यं यस्मिन्गता न निवर्तन्ति भूयः । <br>
    तमेव चाद्यम पुरुषं प्रपद्ये यतः प्रवृत्तिः प्रसृता पुराणी ॥ १५-४ ॥ <br> <br>
  </div>
  त्यानंतर त्या परमपदरूप परमेश्वराला चांगल्या प्रकारे शोधले पाहिजे. जेथे गेलेले पुरुष संसारात परत येत नाहीत आणि ज्या
  परमेश्वरापासून या प्राचीन संसारवृक्षाची प्रवृत्तिपरंपरा विस्तार पावली आहे, त्या आदिपुरुष नारायणाला मी शरण आहे, अशा दृढ
  निश्चयाने त्या परमेश्वराचे मनन आणि निदिध्यासन केले पाहिजे. ॥ १५-४ ॥ <br> <br>

  <div class="adhayaText">
    निर्मानमोहा जितसङ्गदोषा अध्यात्मनित्या विनिवृत्तकामाः । <br>
    द्वन्द्वैर्विमुक्ताः सुखदुःखसञ्ज्ञैर्गच्छन्त्यमूढाः पदमव्ययं तत्‌ ॥ १५-५ ॥ <br> <br>
  </div>
  ज्यांचे मान व मोह नष्ट झाले, ज्यांनी आसक्तिरूप दोष जिंकला, ज्यांची परमात्म्याच्या स्वरूपात नित्य स्थिती असते आणि
  ज्यांच्या कामना पूर्णपणे नाहीशा झाल्या आहेत, ते सुख-दुःख नावाच्या द्वंद्वापासून मुक्त झालेले ज्ञानीजन त्या अविनाशी
  परमपदाला पोचतात. ॥ १५-५ ॥ <br> <br>

  <div class="adhayaText">
    न तद्भासयते सूर्यो न शशाङ्को न पावकः । <br>
    यद्गत्वा न निवर्तन्ते तद्धाम परमं मम ॥ १५-६ ॥ <br> <br>
  </div>
  ज्या परमपदाला पोचल्यावर माणसे फिरून या संसारात येत नाहीत, त्या स्वयंप्रकाशी परमपदाला ना सूर्य प्रकाशित करू शकतो, ना
  चंद्र, ना अग्नी; तेच माझे परमधाम आहे. ॥ १५-६ ॥ <br> <br>

  <div class="adhayaText">
    ममैवांशो जीवलोके जीवभूतः सनातनः । <br>
    मनःषष्ठानीन्द्रियाणि प्रकृतिस्थानि कर्षति ॥ १५-७ ॥ <br> <br>
  </div>
  या देहात असणारा हा सनातन जीवात्मा माझाच अंश आहे आणि तोच प्रकृतीत स्थित मनाला आणि पाचही इंद्रियांना आकर्षित करतो. ॥
  १५-७ ॥ <br> <br>

  <div class="adhayaText">
    शरीरं यदवाप्नोति यच्चाप्युत्क्रामतीश्वरः । <br>
    गृहीत्वैतानि संयाति वायुर्गन्धानिवाशयात्‌ ॥ १५-८ ॥ <br> <br>
  </div>
  वारा वासाच्या वस्तूतून वास घेऊन स्वतःबरोबर नेतो, तसाच देहादिकांचा स्वामी जीवात्माही ज्या शरीराचा त्याग करतो, त्या
  शरीरातून मनसहित इंद्रिये बरोबर घेऊन नवीन मिळणाऱ्या शरीरात जातो. ॥ १५-८ ॥ <br> <br>

  <div class="adhayaText">
    श्रोत्रं चक्षुः स्पर्शनं च रसनं घ्राणमेव च । <br>
    अधिष्ठायं मनश्चायं विषयानुपसेवते ॥ १५-९ ॥ <br> <br>
  </div>
  हा जीवात्मा कान, डोळे, त्वचा, जीभ, नाक आणि मन यांच्या आश्रयानेच विषयांचा उपभोग घेतो. ॥ १५-९ ॥ <br> <br>

  <div class="adhayaText">
    उत्क्रामन्तं स्थितं वापि भुञ्जानं वा गुणान्वितम्‌ । <br>
    विमूढा नानुपश्यन्ति पश्यन्ति ज्ञानचक्षुषः ॥ १५-१० ॥ <br> <br>
  </div>
  शरीर सोडून जात असता किंवा शरीरात राहात असता किंवा विषयांचा भोग घेत असता किंवा तीन गुणांनी युक्त असताही (त्या
  आत्मस्वरूपाला) अज्ञानी लोक ओळखत नाहीत. केवळ ज्ञानरूपी दृष्टी असलेले विवेकी ज्ञानीच तत्त्वतः ओळखतात. ॥ १५-१० ॥ <br>
  <br>

  <div class="adhayaText">
    यतन्तो योगिनश्चैनं पश्यन्त्यात्मन्यवस्थितम्‌ । <br>
    यतन्तोऽप्यकृतात्मानो नैनं पश्यन्त्यचेतसः ॥ १५-११ ॥ <br> <br>
  </div>
  योगीजनही आपल्या हृदयात असलेल्या या आत्म्याला प्रयत्‍नानेच तत्त्वतः जाणतात; परंतु ज्यांनी आपले अंतःकरण शुद्ध केले नाही
  असे अज्ञानी लोक प्रयत्‍न करूनही या आत्मस्वरूपाला जाणत नाहीत. ॥ १५-११ ॥ <br> <br>

  <div class="adhayaText">
    यदादित्यगतं तेजो जगद्भासयतेऽखिलम्‌ । <br>
    यच्चन्द्रमसि यच्चाग्नौ तत्तेजो विद्धि मामकम्‌ ॥ १५-१२ ॥ <br> <br>
  </div>
  सूर्यामध्ये राहून जे तेज सर्व जगाला प्रकाशित करते, जे तेज चंद्रात आहे आणि जे तेज अग्नीत आहे, ते माझेच तेज आहे, असे तू
  जाण. ॥ १५-१२ ॥ <br> <br>

  <div class="adhayaText">
    गामाविश्य च भूतानि धारयाम्यहमोजसा । <br>
    पुष्णामि चौषधीः सर्वाः सोमो भूत्वा रसात्मकः ॥ १५-१३ ॥ <br> <br>
  </div>
  आणि मीच पृथ्वीत शिरून आपल्या शक्तीने सर्व भूतांना धारण करतो आणि रसरूप अर्थात अमृतमय चंद्र होऊन सर्व वनस्पतींचे पोषण
  करतो. ॥ १५-१३ ॥ <br> <br>

  <div class="adhayaText">
    अहं वैश्वानरो भूत्वा प्राणिनां देहमाश्रितः । <br>
    प्राणापानसमायुक्तः पचाम्यन्नं चतुर्विधम्‌ ॥ १५-१४ ॥ <br> <br>
  </div>
  मीच सर्व प्राण्यांच्या शरीरात राहणारा, प्राण व अपान यांनी संयुक्त वैश्वानर अग्निरूप होऊन चार प्रकारचे अन्न पचवितो. ॥
  १५-१४ ॥ <br> <br>

  <div class="adhayaText">
    सर्वस्य चाहं हृदि सन्निविष्टो मत्तः स्मृतिर्ज्ञानमपोहनं च । <br>
    वेदैश्च सर्वैरहमेव वेद्यो वेदान्तकृद्वेदविदेव चाहम्‌ ॥ १५-१५ ॥ <br> <br>
  </div>
  मीच सर्व प्राण्यांच्या हृदयात अंतर्यामी होऊन राहिलो आहे. माझ्यापासूनच स्मृती, ज्ञान आणि अपोहन ही होतात. सर्व वेदांकडून
  मीच जाणण्यास योग्य आहे. तसेच वेदांतांचा कर्ता आणि वेदांना जाणणारासुद्धा मीच आहे. ॥ १५-१५ ॥ <br> <br>

  <div class="adhayaText">
    द्वाविमौ पुरुषौ लोके क्षरश्चाक्षर एव च । <br>
    क्षरः सर्वाणि भूतानि कूटस्थोऽक्षर उच्यते ॥ १५-१६ ॥ <br> <br>
  </div>
  या विश्वात नाशवान आणि अविनाशी असे दोन प्रकारचे पुरुष आहेत. त्यामध्ये सर्व भूतमात्रांची शरीरे हा नाशवान आणि जीवात्मा हा
  अविनाशी म्हटला जातो. ॥ १५-१६ ॥ <br> <br>

  <div class="adhayaText">
    उत्तमः पुरुषस्त्वन्यः परमात्मेत्युदाहृतः । <br>
    यो लोकत्रयमाविश्य बिभर्त्यव्यय ईश्वरः ॥ १५-१७ ॥ <br> <br>
  </div>
  परंतु या दोन्हींपेक्षा उत्तम पुरुष तर वेगळाच आहे, जो तिन्ही लोकांत प्रवेश करून सर्वांचे धारण-पोषण करतो. याप्रमाणेच तो
  अविनाशी परमेश्वर आणि परमात्मा असा म्हटला जातो. ॥ १५-१७ ॥ <br> <br>

  <div class="adhayaText">
    यस्मात्क्षरमतीतोऽहमक्षरादपि चोत्तमः । <br>
    अतोऽस्मि लोके वेदे च प्रथितः पुरुषोत्तमः ॥ १५-१८ ॥ <br> <br>
  </div>
  कारण मी नाशवान जडवर्ग-क्षेत्रापासून तर पूर्णपणे पलीकडचा आहे आणि अविनाशी जीवात्म्यापेक्षाही उत्तम आहे. म्हणून लोकांत
  आणि वेदांतही पुरुषोत्तम नावाने प्रसिद्ध आहे. ॥ १५-१८ ॥ <br> <br>

  <div class="adhayaText">
    यो मामेवमसम्मूढो जानाति पुरुषोत्तमम्‌ । <br>
    स सर्वविद्भजति मां सर्वभावेन भारत ॥ १५-१९ ॥ <br> <br>
  </div>
  हे भारता (अर्थात भरतवंशी अर्जुना), जो ज्ञानी पुरुष मला अशा प्रकारे तत्त्वतः पुरुषोत्तम म्हणून जाणतो, तो सर्वज्ञ पुरुष
  सर्व रीतीने नेहमी मला वासुदेव परमेश्वरालाच भजतो. ॥ १५-१९ ॥ <br> <br>

  <div class="adhayaText">
    इति गुह्यतमं शास्त्रमिदमुक्तं मयानघ । <br>
    एतद्‌बुद्ध्वा बुद्धिमान्स्यात्कृतकृत्यश्च भारत ॥ १५-२० ॥ <br> <br>
  </div>
  हे निष्पाप भारता (अर्थात भरतवंशी अर्जुना), असे हे अतिरहस्यमय गुप्त शास्त्र मी तुला सांगितले आहे, याचे तत्त्वतः ज्ञान
  करून घेतल्याने मनुष्य ज्ञानवान आणि कृतार्थ होतो. ॥ १५-२० ॥ <br> <br>

  <div class="adhayaText">
    ॐ तत्सदिति श्रीमद्‌भगवद्‌गीतासूपनिषत्सु ब्रह्मविद्यायां योगशास्त्रे श्रीकृष्णार्जुनसंवादे
    पुरुषोत्तमयोगो नाम पञ्चदशोऽध्यायः ॥ १५ ॥ <br> <br>
  </div>
  ॐ हे परमसत्य आहे. याप्रमाणे श्रीमद्‌भगवद्‌गीतारूपी उपनिषद तथा ब्रह्मविद्या आणि योगशास्त्राविषयी श्रीकृष्ण आणि अर्जुन
  यांच्या संवादातील पुरुषोत्तमयोग नावाचा हा पंधरावा अध्याय समाप्त झाला. ॥ १५ ॥ <br> <br> <br>
</div>