<div>
  <br>
  <div class="adhayaTitle">॥ विश्वरूपदर्शनयोग ॥ </div>
  <br>

  <div class="adhayaText">
    अर्जुन उवाच । <br>
    मदनुग्रहाय परमं गुह्यमध्यात्मसञ्ज्ञितम्‌ । <br>
    यत्त्वयोक्तं वचस्तेन मोहोऽयं विगतो मम ॥ ११-१ ॥ <br> <br>
  </div>
  अर्जुन म्हणाला, माझ्यावर कृपा करण्यासाठी आपण जो अत्यंत गुप्त अध्यात्मविषयक उपदेश मला केला, त्याने माझे हे अज्ञान
  नाहीसे झाले. ॥ ११-१ ॥ <br> <br>

  <div class="adhayaText">
    भवाप्ययौ हि भूतानां श्रुतौ विस्तरशो मया । <br>
    त्वत्तः कमलपत्राक्ष माहात्म्यमपि चाव्ययम्‌ ॥ ११-२ ॥ <br> <br>
  </div>
  कारण हे कमलदलनयना, मी आपल्याकडून भूतांची उत्पत्ती आणि प्रलय विस्तारपूर्वक ऐकले आहेत. तसेच आपला अविनाशी प्रभावही ऐकला
  आहे. ॥ ११-२ ॥ <br> <br>

  <div class="adhayaText">
    एवमेतद्यथात्थ त्वमात्मानं परमेश्वर । <br>
    द्रष्टुमिच्छामि ते रूपमैश्वरं पुरुषोत्तम ॥ ११-३ ॥ <br> <br>
  </div>
  हे परमेश्वरा, आपण आपल्याविषयी जसे सांगत आहात, ते बरोबर तसेच आहे. हे पुरुषोत्तमा, आपले ज्ञान, ऐश्वर्य, शक्ती, बल, वीर्य
  आणि तेज यांनी युक्त ईश्वरी स्वरूप मला प्रत्यक्ष पाहाण्याची इच्छा आहे. ॥ ११-३ ॥ <br> <br>

  <div class="adhayaText">
    मन्यसे यदि तच्छक्यं मया द्रष्टुमिति प्रभो । <br>
    योगेश्वर ततो मे त्वं दर्शयात्मानमव्ययम्‌ ॥ ११-४ ॥ <br> <br>
  </div>
  हे प्रभो, जर मला आपले ते रूप पाहता येईल, असे आपल्याला वाटत असेल, तर हे योगेश्वरा, त्या अविनाशी स्वरूपाचे मला दर्शन
  घडवा. ॥ ११-४ ॥ <br> <br>

  <div class="adhayaText">
    श्रीभगवानुवाच । <br>
    पश्य मे पार्थ रूपाणि शतशोऽथ सहस्रशः । <br>
    नानाविधानि दिव्यानि नानावर्णाकृतीनि च ॥ ११-५ ॥ <br> <br>
  </div>
  भगवान श्रीकृष्ण म्हणाले, हे पार्था (अर्थात पृथापुत्र अर्जुना), आता तू माझी शेकडो-हजारो नाना प्रकारची, नाना रंगांची आणि
  नाना आकारांची अलौकिक रूपे पाहा. ॥ ११-५ ॥ <br> <br>

  <div class="adhayaText">
    पश्यादित्यान्वसून्‍रुद्रानश्विनौ मरुतस्तथा । <br>
    बहून्यदृष्टपूर्वाणि पश्याश्चर्याणि भारत ॥ ११-६ ॥ <br> <br>
  </div>
  हे भारता (अर्थात भरतवंशी अर्जुना), माझ्यामध्ये अदितीच्या बारा पुत्रांना, आठ वसूंना, अकरा रुद्रांना, दोन्ही
  अश्विनीकुमारांना आणि एकोणपन्नास मरुद्‌गणांना पाहा. तसेच आणखीही पुष्कळशी यापूर्वी न पाहिलेली आश्चर्यकारक रूपे पाहा. ॥
  ११-६ ॥ <br> <br>

  <div class="adhayaText">
    इहैकस्थं जगत्कृत्स्नं पश्याद्य सचराचरम्‌ । <br>
    मम देहे गुडाकेश यच्चान्यद्‍द्रष्टुमिच्छसि ॥ ११-७ ॥ <br> <br>
  </div>
  हे अर्जुना, आता या माझ्या शरीरात एकत्रित असलेले चराचरासह संपूर्ण जग पाहा. तसेच इतरही जे काही तुला पाहण्याची इच्छा
  असेल, ते पाहा. ॥ ११-७ ॥ <br> <br>

  <div class="adhayaText">
    न तु मां शक्यसे द्रष्टुमनेनैव स्वचक्षुषा । <br>
    दिव्यं ददामि ते चक्षुः पश्य मे योगमैश्वरम्‌ ॥ ११-८ ॥ <br> <br>
  </div>
  परंतु मला तू या तुझ्या चर्मचक्षूंनी खात्रीने पाहू शकणार नाहीस, म्हणून मी तुला दिव्य दृष्टी देतो. तिच्या सहाय्याने तू
  माझी ईश्वरी योगशक्ती पाहा. ॥ ११-८ ॥ <br> <br>

  <div class="adhayaText">
    सञ्जय उवाच । <br>
    एवमुक्त्वा ततो राजन्महायोगेश्वरो हरिः । <br>
    दर्शयामास पार्थाय परमं रूपमैश्वरम्‌ ॥ ११-९ ॥ <br> <br>
  </div>
  संजय म्हणाले, हे महाराज, महायोगेश्वर आणि सर्व पापांचा नाश करणाऱ्या भगवंतांनी (अर्थात श्रीकृष्णांनी) असे सांगून मग
  पार्थाला (अर्थात पृथापुत्र अर्जुनाला) परम ऐश्वर्ययुक्त दिव्य स्वरूप दाखविले. ॥ ११-९ ॥ <br> <br>

  <div class="adhayaText">
    अनेकवक्त्रनयनमनेकाद्भुतदर्शनम्‌ । <br>
    अनेक दिव्याभरणं दिव्यानेकोद्यतायुधम्‌ ॥ ११-१० ॥ <br>
    दिव्यमाल्याम्बरधरं दिव्यगन्धानुलेपनम्‌ । <br>
    सर्वाश्चर्यमयं देवमनन्तं विश्वतोमुखम्‌ ॥ ११-११ ॥ <br> <br>
  </div>
  अनेक तोंडे व डोळे असलेल्या, अनेक आश्चर्यकारक दर्शने असलेल्या, पुष्कळशा दिव्य अलंकारांनी विभूषित आणि पुष्कळशी दिव्य
  शस्त्रे हातात घेतलेल्या, दिव्य माळा आणि वस्त्रे धारण केलेल्या, तसेच दिव्य गंधाने विभूषित, सर्व प्रकारच्या आश्चर्यांनी
  युक्त, अनंतस्वरूप, सर्व बाजूंना तोंडे असलेल्या विराटस्वरूप परमदेव परमेश्वराला अर्जुनाने पाहिले. ॥ ११-१०, ११-११ ॥ <br>
  <br>

  <div class="adhayaText">
    दिवि सूर्यसहस्रस्य भवेद्युगपदुस्थिता । <br>
    यदि भाः सदृशी सा स्याद्भासस्तस्य महात्मनः ॥ ११-१२ ॥ <br> <br>
  </div>
  आकाशात हजार सूर्य एकदम उगवले असता जो प्रकाश पडेल, तोही त्या विश्वरूप परमात्म्याच्या प्रकाशाइतका कदाचितच होईल म्हणजे
  होणार नाही. ॥ ११-१२ ॥ <br> <br>

  <div class="adhayaText">
    तत्रैकस्थं जगत्‌कृत्स्नं प्रविभक्तमनेकधा । <br>
    अपश्यद्देवदेवस्य शरीरे पाण्डवस्तदा ॥ ११-१३ ॥ <br> <br>
  </div>
  पांडवाने (पांडुपुत्र अर्जुनाने) त्यावेळी अनेक प्रकारांत विभागलेले संपूर्ण जग देवाधिदेव भगवान श्रीकृष्णांच्या त्या
  शरीरात एकत्रित असलेले पाहिले. ॥ ११-१३ ॥ <br> <br>

  <div class="adhayaText">
    ततः स विस्मयाविष्टो हृष्टरोमा धनञ्जयः । <br>
    प्रणम्य शिरसा देवं कृताञ्जलिरभाषत ॥ ११-१४ ॥ <br> <br>
  </div>
  त्यानंतर तो आश्चर्यचकित झालेला व अंगावर रोमांच उभे राहिलेला धनंजय (अर्थात अर्जुन), प्रकाशमय विश्वरूप परमात्म्याला
  श्रद्धाभक्तीसह मस्तकाने प्रणाम करून हात जोडून म्हणाला ॥ ११-१४ ॥ <br> <br>

  <div class="adhayaText">
    अर्जुन उवाच । <br>
    पश्यामि देवांस्तव देव देहे सर्वांस्तथा भूतविशेषसंघान्‌ । <br>
    ब्रह्माणमीशं कमलासनस्थमृषींश्च सर्वानुरगांश्च दिव्यान्‌ ॥ ११-१५ ॥ <br> <br>
  </div>
  अर्जुन म्हणाला, हे देवा, मी आपल्या दिव्य देहात संपूर्ण देवांना तसेच अनेक भूतांच्या समुदायांना, कमळाच्या आसनावर
  विराजमान झालेल्या ब्रह्मदेवांना, शंकरांना, सर्व ऋषींना तसेच दिव्य सर्पांना पाहात आहे. ॥ ११-१५ ॥ <br> <br>

  <div class="adhayaText">
    अनेकबाहूदरवक्त्रनेत्रं पश्यामि त्वां सर्वतोऽनन्तरूपम्‌ । <br>
    नान्तं न मध्यं न पुनस्तवादिं पश्यामि विश्वेश्वर विश्वरूप ॥ ११-१६ ॥ <br> <br>
  </div>
  हे संपूर्ण विश्वाचे स्वामी, मी आपल्याला अनेक बाहू, पोटे, तोंडे आणि डोळे असलेले, तसेच सर्व बाजूंनी अनंत रूपे असलेले
  पाहात आहे. हे विश्वरूपा, मला आपला ना अंत दिसत, ना मध्य दिसत, ना आरंभ ॥ ११-१६ ॥ <br> <br>

  <div class="adhayaText">
    किरीटिनं गदिनं चक्रिणं च तेजोराशिं सर्वतो दीप्तिमन्तम्‌ । <br>
    पश्यामि त्वां दुर्निरीक्ष्यं समन्ताद्दीप्तानलार्कद्युतिमप्रमेयम्‌ ॥ ११-१७ ॥ <br> <br>
  </div>
  मी आपल्याला मुकुट घातलेले, गदा व चक्र धारण केलेले, सर्व बाजूंनी प्रकाशमान तेजाचा समूह असे, प्रज्वलित अग्नी व सूर्य
  यांच्याप्रमाणे तेजाने युक्त, पाहण्यास अतिशय कठीण आणि सर्व दृष्टींनी अमर्याद असे पाहात आहे. ॥ ११-१७ ॥ <br> <br>

  <div class="adhayaText">
    त्वमक्षरं परमं वेदितव्यं त्वमस्य विश्वस्य परं निधानम्‌ । <br>
    त्वमव्ययः शाश्वतधर्मगोप्ता सनातनस्त्वं पुरुषो मतो मे ॥ ११-१८ ॥ <br> <br>
  </div>
  आपणच जाणण्याजोगे परब्रह्म परमात्मा आहात. आपणच या जगाचे परम आधार आहात. आपणच अनादी धर्माचे रक्षक आहात आणि आपणच अविनाशी
  सनातन पुरुष आहात, असे मला वाटते. ॥ ११-१८ ॥ <br> <br>

  <div class="adhayaText">
    अनादिमध्यान्तमनन्तवीर्यमनन्तबाहुं शशिसूर्यनेत्रम्‌ । <br>
    पश्यामि त्वां दीप्तहुताशवक्त्रं स्वतेजसा विश्वमिदं तपन्तम्‌ ॥ ११-१९ ॥ <br> <br>
  </div>
  आपण आदी, मध्य आणि अंत नसलेले, अनंत सामर्थ्याने युक्त, अनंत बाहू असलेले, चंद्र व सूर्य हे ज्यांचे नेत्र आहेत, पेटलेल्या
  अग्नीसारखे ज्यांचे मुख आहे आणि आपल्या तेजाने या जगाला तापविणारे, असे आहात, असे मला दिसते. ॥ ११-१९ ॥ <br> <br>

  <div class="adhayaText">
    द्यावापृथिव्योरिदमन्तरं हि व्याप्तं त्वयैकेन दिशश्च सर्वाः । <br>
    दृष्ट्वाद्भुतं रूपमुग्रं तवेदं लोकत्रयं प्रव्यथितं महात्मन ॥ ११-२० ॥ <br> <br>
  </div>
  हे महात्मन्‌, हे स्वर्ग आणि पृथ्वी यांच्यामधील आकाश आणि सर्व दिशा फक्त आपण एकट्यानेच व्यापून टाकल्या आहेत. आपले हे
  अलौकिक आणि भयंकर रूप पाहून तिन्ही लोक अत्यंत भयभीत झाले आहेत. ॥ ११-२० ॥ <br> <br>

  <div class="adhayaText">
    अमी हि त्वां सुरसङ्घा विशन्ति केचिद्भीताः प्राञ्जलयो गृणन्ति । <br>
    स्वस्तीत्युक्त्वा महर्षिसिद्धसङ्घाः स्तुवन्ति त्वां स्तुतिभिः पुष्कलाभिः ॥ ११-२१ ॥ <br> <br>
  </div>
  तेच देवतांचे समुदाय आपल्यात शिरत आहेत आणि काही भयभीत होऊन हात जोडून आपल्या नावांचे व गुणांचे वर्णन करीत आहेत. तसेच
  महर्षी व सिद्ध यांचे समुदाय, सर्वांचे कल्याण होवो, अशी मंगलाशा करून उत्तमोत्तम स्तोत्रे म्हणून आपली स्तुती करीत आहेत.
  ॥ ११-२१ ॥ <br> <br>

  <div class="adhayaText">
    रुद्रादित्या वसवो ये च साध्या विश्वेऽश्विनौ मरुतश्चोष्मपाश्च । <br>
    गन्धर्वयक्षासुरसिद्धसङ्घा वीक्षन्ते त्वां विस्मिताश्चैव सर्वे ॥ ११-२२ ॥ <br> <br>
  </div>
  अकरा रुद्र, बारा आदित्य तसेच आठ वसू, साध्यगण, विश्वेदेव, दोन अश्विनीकुमार, मरुद्‌गण आणि पितरांचे समुदाय, तसेच गंधर्व,
  यक्ष, राक्षस आणि सिद्धांचे समुदाय आहेत, ते सर्वच चकित होऊन आपल्याकडे पाहात आहेत. ॥ ११-२२ ॥ <br> <br>

  <div class="adhayaText">
    रूपं महत्ते बहुवक्त्रनेत्रं महाबाहो बहुबाहूरुपादम्‌ । <br>
    बहूदरं बहुदंष्ट्राकरालं दृष्ट्वा लोकाः प्रव्यथितास्तथाहम्‌ ॥ ११-२३ ॥ <br> <br>
  </div>
  हे महाबाहो, आपले अनेक तोंडे, अनेक डोळे, अनेक हात, मांड्या व पाय असलेले, अनेक पोटांचे आणि अनेक दाढांमुळे अतिशय भयंकर
  असे महान रूप पाहून सर्व लोक व्याकूळ होत आहेत. तसेच मीही व्याकूळ होत आहे. ॥ ११-२३ ॥ <br> <br>

  <div class="adhayaText">
    नभःस्पृशं दीप्तमनेकवर्णं व्यात्ताननं दीप्तविशालनेत्रम्‌ । <br>
    दृष्ट्वा हि त्वां प्रव्यथितान्तरात्मा धृतिं न विन्दामि शमं च विष्णो ॥ ११-२४ ॥ <br> <br>
  </div>
  कारण हे विष्णो, आकाशाला जाऊन भिडलेल्या, तेजस्वी, अनेक रंगांनी युक्त, पसरलेली तोंडे व तेजस्वी विशाल डोळे यांनी युक्त
  अशा आपल्याला पाहून भयभीत अंतःकरण झालेल्या माझे धैर्य व शांती नाहीशी झाली आहेत. ॥ ११-२४ ॥ <br> <br>

  <div class="adhayaText">
    दंष्ट्राकरालानि च ते मुखानि दृष्ट्वैव कालानलसन्निभानि । <br>
    दिशो न जाने न लभे च शर्म प्रसीद देवेश जगन्निवास ॥ ११-२५ ॥ <br> <br>
  </div>
  दाढांमुळे भयानक व प्रलयकाळच्या अग्नीसारखी प्रज्वलित आपली तोंडे पाहून मला दिशा कळेनाशा झाल्या असून माझे सुखही हरपले
  आहे. म्हणून हे देवाधिदेवा, हे जगन्निवासा, आपण प्रसन्न व्हा. ॥ ११-२५ ॥ <br> <br>

  <div class="adhayaText">
    अमी च त्वां धृतराष्ट्रस्य पुत्राः सर्वे सहैवावनिपालसङ्घैः । <br>
    भीष्मो द्रोणः सूतपुत्रस्तथासौ सहास्मदीयैरपि योधमुख्यैः ॥ ११-२६ ॥ <br>
    वक्त्राणि ते त्वरमाणा विशन्ति दंष्ट्राकरालानि भयानकानि । <br>
    केचिद्विलग्ना दशनान्तरेषु संदृश्यन्ते चूर्णितैरुत्तमाङ्गैः ॥ ११-२७ ॥ <br> <br>
  </div>
  ते सर्व धृतराष्ट्राचे पुत्र राजसमुदायासह आपल्यात प्रवेश करीत आहेत आणि पितामह भीष्म, द्रोणाचार्य तसेच तो कर्ण आणि
  आमच्या बाजूच्याही प्रमुख योद्ध्यांसह सगळेच आपल्या दाढांमुळे भयंकर दिसणाऱ्या तोंडात मोठ्या वेगाने धावत धावत जात आहेत
  आणि कित्येक डोकी चिरडलेले आपल्या दातांच्या फटीत अडकलेले दिसत आहेत. ॥ ११-२६, ११-२७ ॥ <br> <br>

  <div class="adhayaText">
    यथा नदीनां बहवोऽम्बुवेगाः समुद्रमेवाभिमुखा द्रवन्ति । <br>
    तथा तवामी नरलोकवीरा विशन्ति वक्त्राण्यभिविज्वलन्ति ॥ ११-२८ ॥ <br> <br>
  </div>
  ज्याप्रमाणे नद्यांचे पुष्कळसे जलप्रवाह स्वाभाविकच समुद्राच्याच दिशेने धाव घेतात अर्थात समुद्रात प्रवेश करतात,
  त्याचप्रमाणे ते मनुष्यलोकातील वीर आपल्या प्रज्वलित तोंडात शिरत आहेत. ॥ ११-२८ ॥ <br> <br>

  <div class="adhayaText">
    यथा प्रदीप्तं ज्वलनं पतङ्गा विशन्ति नाशाय समृद्धवेगाः । <br>
    तथैव नाशाय विशन्ति लोकास्तवापि वक्त्राणि समृद्धवेगाः ॥ ११-२९ ॥ <br> <br>
  </div>
  जसे पतंग नष्ट होण्यासाठी पेटलेल्या अग्नीत अतिशय वेगाने धावत शिरतात, तसेच हे सर्व लोकही स्वतःच्या नाशासाठी आपल्या
  तोंडात अतिशय वेगाने धावत प्रवेश करीत आहेत. ॥ ११-२९ ॥ <br> <br>

  <div class="adhayaText">
    लेलिह्यसे ग्रसमानः समन्ताल्लोकान्समग्रान्वदनैर्ज्वलद्भिः । <br>
    तेजोभिरापूर्य जगत्समग्रं भासस्तवोग्राः प्रतपन्ति विष्णो ॥ ११-३० ॥ <br> <br>
  </div>
  आपण त्या सर्व लोकांना प्रज्वलित तोंडांनी गिळत गिळत सर्व बाजूंनी वारंवार चाटत आहात. हे विष्णो, आपला प्रखर प्रकाश सर्व
  जगाला तेजाने पूर्ण भरून तापवीत आहे. ॥ ११-३० ॥ <br> <br>

  <div class="adhayaText">
    आख्याहि मे को भवानुग्ररूपो नमोऽस्तु ते देववर प्रसीद । <br>
    विज्ञातुमिच्छामि भवन्तमाद्यं न हि प्रजानामि तव प्रवृत्तिम्‌ ॥ ११-३१ ॥ <br> <br>
  </div>
  मला सांगा की, भयंकर रूप धारण करणारे आपण कोण आहात? हे देवश्रेष्ठा, आपणास नमस्कार असो. आपण प्रसन्न व्हा. आदिपुरुष अशा
  आपल्याला मी विशेष रीतीने जाणू इच्छितो. कारण आपली ही करणी मला कळत नाही. ॥ ११-३१ ॥ <br> <br>

  <div class="adhayaText">
    श्रीभगवानुवाच । <br>
    कालोऽस्मि लोकक्षयकृत्प्रवृद्धो लोकान्समाहर्तुमिह प्रवृत्तः । <br>
    ऋतेऽपि त्वां न भविष्यन्ति सर्वे येऽवस्थिताः प्रत्यनीकेषु योधाः ॥ ११-३२ ॥ <br> <br>
  </div>
  भगवान श्रीकृष्ण म्हणाले, मी लोकांचा नाश करणारा वाढलेला महाकाल आहे. यावेळी या लोकांच्या नाशासाठी मी प्रवृत्त झालो आहे.
  म्हणून शत्रुपक्षीय सैन्यात जे योद्धे आहेत, ते सर्व तुझ्याशिवायही राहणार नाहीत. म्हणजेच तू युद्ध केले नाहीस, तरी या
  सर्वांचा नाश होणार आहे. ॥ ११-३२ ॥ <br> <br>

  <div class="adhayaText">
    तस्मात्त्वमुत्तिष्ठ यशो लभस्व जित्वा शत्रून्भुङ्क्ष्व राज्यं समृद्धम्‌ । <br>
    मयैवैते निहताः पूर्वमेव निमित्तमात्रं भव सव्यसाचिन्‌ ॥ ११-३३ ॥ <br> <br>
  </div>
  म्हणूनच तू ऊठ. यश मिळव. शत्रूंना जिंकून धनधान्यसंपन्न राज्याचा उपभोग घे. हे सर्व शूरवीर आधीच माझ्याकडून मारले गेलेले
  आहेत. हे सव्यसाची अर्जुना, तू फक्त निमित्तमात्र हो. ॥ ११-३३ ॥ <br> <br>

  <div class="adhayaText">
    द्रोणं च भीष्मं च जयद्रथं च कर्णं तथान्यानपि योधवीरान्‌ । <br>
    मया हतांस्त्वं जहि मा व्यथिष्ठा युध्यस्व जेतासि रणे सपत्‍नान्‌ ॥ ११-३४ ॥ <br> <br>
  </div>
  द्रोणाचार्य आणि पितामह भीष्म तसेच जयद्रथ आणि कर्ण, त्याचप्रमाणे माझ्याकडून मारल्या गेलेल्या इतरही पुष्कळ शूर
  योद्ध्यांना तू मार. भिऊ नकोस. युद्धात तू खात्रीने शत्रूंना जिंकशील. म्हणून युद्ध कर. ॥ ११-३४ ॥ <br> <br>

  <div class="adhayaText">
    सञ्जय उवाच । <br>
    एतच्छ्रुत्वा वचनं केशवस्य कृताञ्जलिर्वेपमानः किरीटी । <br>
    नमस्कृत्वा भूय एवाह कृष्णं सगद्गदं भीतभीतः प्रणम्य ॥ ११-३५ ॥ <br> <br>
  </div>
  संजय म्हणाले, भगवान केशवांचे हे बोलणे ऐकून किरीटी अर्जुनाने हात जोडून कापत कापत नमस्कार केला आणि फिरूनही अत्यंत भयभीत
  होऊन प्रणाम करून भगवान श्रीकृष्णांना सद्‍गदित होऊन तो म्हणाला ॥ ११-३५ ॥ <br> <br>

  <div class="adhayaText">
    अर्जुन उवाच । <br>
    स्थाने हृषीकेश तव प्रकीर्त्या जगत्प्रहृष्यत्यनुरज्यते च । <br>
    रक्षांसि भीतानि दिशो द्रवन्ति सर्वे नमस्यन्ति च सिद्धसङ्घाः ॥ ११-३६ ॥ <br> <br>
  </div>
  अर्जुन म्हणाला, हे अंतर्यामी श्रीकृष्णा, आपले नाव, गुण आणि प्रभाव यांच्या वर्णनाने जग अतिशय आनंदित होते व तुमच्यावर
  अतिशय प्रेम करू लागते. तसेच भ्यालेले राक्षस दिशादिशांत पळून जात आहेत आणि सर्व सिद्धगणांचे समुदाय आपल्याला नमस्कार करीत
  आहेत, हे योग्यच होय. ॥ ११-३६ ॥ <br> <br>

  <div class="adhayaText">
    कस्माच्च ते न नमेरन्महात्मन्‌ गरीयसे ब्रह्मणोऽप्यादिकर्त्रे । <br>
    अनन्त देवेश जगन्निवास त्वमक्षरं सदसत्तत्परं यत्‌ ॥ ११-३७ ॥ <br> <br>
  </div>
  हे महात्मन, ब्रह्मदेवाचेही आदिकारण आणि सर्वात श्रेष्ठ अशा आपल्याला हे नमस्कार का बरे करणार नाहीत? कारण हे अनंता, हे
  देवाधिदेवा, हे जगन्निवासा, जे सत, असत व त्यापलीकडील अक्षर अर्थात सच्चिदानंदघन ब्रह्म आहे, ते आपणच आहात. ॥ ११-३७ ॥ <br>
  <br>

  <div class="adhayaText">
    त्वमादिदेवः पुरुषः पुराणस्त्वमस्य विश्वस्य परं निधानम्‌ । <br>
    वेत्तासि वेद्यं च परं च धाम त्वया ततं विश्वमनन्तरूप ॥ ११-३८ ॥ <br> <br>
  </div>
  आपण आदिदेव आणि सनातन पुरुष आहात. आपण या जगाचे परम आश्रयस्थान आहात. जग जाणणारेही आपणच व जाणण्याजोगेही आपणच आहात. परम
  धामही आपणच आहात. हे अनंतरूपा, आपण हे सर्व विश्व व्यापले आहे. ॥ ११-३८ ॥ <br> <br>

  <div class="adhayaText">
    वायुर्यमोऽग्निर्वरुणः शशाङ्कः प्रजापतिस्त्वं प्रपितामहश्च । <br>
    नमो नमस्तेऽस्तु सहस्रकृत्वः पुनश्च भूयोऽपि नमो नमस्ते ॥ ११-३९ ॥ <br> <br>
  </div>
  आपण वायू, यमराज, अग्नी, वरुण, चंद्र, प्रजेचे स्वामी ब्रह्मदेव आणि ब्रह्मदेवाचेही जनक आहात. आपल्याला हजार वेळा नमस्कार
  नमस्कार असो. आपणाला आणखीही वारंवार नमस्कार नमस्कार असोत. ॥ ११-३९ ॥ <br> <br>

  <div class="adhayaText">
    नमः पुरस्तादथ पृष्ठतस्ते नमोऽस्तु ते सर्वत एव सर्व । <br>
    अनन्तवीर्यामितविक्रमस्त्वं सर्वं समाप्नोषि ततोऽसि सर्वः ॥ ११-४० ॥ <br> <br>
  </div>
  हे अनंत सामर्थ्यशाली, आपल्याला पुढून व मागूनही नमस्कार. हे सर्वात्मका, आपल्याला सर्व बाजूंनीच नमस्कार असो. कारण अनंत
  पराक्रमशाली अशा आपण सर्व जग व्यापले आहे. म्हणून आपण सर्वरूप आहात. ॥ ११-४० ॥ <br> <br>

  <div class="adhayaText">
    सखेति मत्वा प्रसभं यदुक्तं हे कृष्ण हे यादव हे सखेति । <br>
    अजानता महिमानं तवेदं मया प्रमादात्प्रणयेन वापि ॥ ११-४१ ॥ <br>
    यच्चावहासार्थमसत्कृतोऽसि विहारशय्यासनभोजनेषु । <br>
    एकोऽथवाप्यच्युत तत्समक्षं तत्क्षामये त्वामहमप्रमेयम्‌ ॥ ११-४२ ॥ <br> <br>
  </div>
  आपला हा प्रभाव न जाणवल्यामुळे, आपण माझे मित्र आहात असे मानून प्रेमाने किंवा चुकीने मी हे कृष्णा, हे यादवा, हे सख्या,
  असे जे काही विचार न करता मुद्दाम म्हटले असेल, आणि हे अच्युता, माझ्याकडून विनोदासाठी फिरताना, झोपताना, बसल्यावेळी आणि
  भोजन इत्यादी करताना आपला एकांतात किंवा त्या मित्रांच्या समक्ष जो अपमान झाला असेल, त्या सर्व अपराधांची अचिंत्य
  प्रभावशाली अशा आपणाकडे मी क्षमा मागत आहे. ॥ ११-४१, ११-४२ ॥ <br> <br>

  <div class="adhayaText">
    पितासि लोकस्य चराचरस्य त्वमस्य पूज्यश्च गुरुर्गरीयान्‌ । <br>
    न त्वत्समोऽस्त्यभ्यधिकः कुतोऽन्यो लोकत्रयेऽप्यप्रतिमप्रभाव ॥ ११-४३ ॥ <br> <br>
  </div>
  आपण या चराचर जगताचे जनक आहात. तसेच सर्वश्रेष्ठ गुरू व अत्यंत पूजनीय आहात. हे अतुलनीयप्रभावा, त्रैलोक्यात आपल्या
  बरोबरीचाही दुसरा कोणी नाही. मग आपल्याहून श्रेष्ठ कसा असू शकेल? ॥ ११-४३ ॥ <br> <br>

  <div class="adhayaText">
    तस्मात्प्रणम्य प्रणिधाय कायं प्रसादये त्वामहमीशमीड्यम्‌ । <br>
    पितेव पुत्रस्य सखेव सख्युः प्रियः प्रियायार्हसि देव सोढुम्‌ ॥ ११-४४ ॥ <br> <br>
  </div>
  म्हणूनच हे प्रभो, मी आपल्या चरणांवर शरीराने लोटांगण घालून नमस्कार करून स्तुत्य अशा आपण ईश्वराने प्रसन्न व्हावे, म्हणून
  प्रार्थना करीत आहे. हे देवा, वडील जसे पुत्राचे, मित्र जसे मित्राचे आणि पती जसे आपल्या प्रियतम पत्‍नीचे अपराध सहन
  करतात, तसेच आपणही माझे अपराध सहन करण्यास योग्य आहात. ॥ ११-४४ ॥ <br> <br>

  <div class="adhayaText">
    अदृष्टपूर्वं हृषितोऽस्मि दृष्ट्वा भयेन च प्रव्यथितं मनो मे । <br>
    तदेव मे दर्शय देवरूपं प्रसीद देवेश जगन्निवास ॥ ११-४५ ॥ <br> <br>
  </div>
  पूर्वी न पाहिलेले आपले हे आश्चर्यकारक रूप पाहून मी आनंदित झालो आहे आणि माझे मन भीतीने अतिशय व्याकूळही होत आहे. म्हणून
  आपण मला ते चतुर्भुज विष्णुरूपच दाखवा. हे देवेशा, हे जगन्निवासा, प्रसन्न व्हा. ॥ ११-४५ ॥ <br> <br>

  <div class="adhayaText">
    किरीटिनं गदिनं चक्रहस्तमिच्छामि त्वां द्रष्टुमहं तथैव । <br>
    तेनैव रूपेण चतुर्भुजेन सहस्रबाहो भव विश्वमूर्ते ॥ ११-४६ ॥ <br> <br>
  </div>
  मी पहिल्यासारखेच आपणाला मुकुट धारण केलेले तसेच गदा आणि चक्र हातात घेतलेले पाहू इच्छितो. म्हणून हे विश्वस्वरूपा, हे
  सहस्रबाहो, आपण त्याच चतुर्भुज रूपाने प्रकट व्हा. ॥ ११-४६ ॥ <br> <br>

  <div class="adhayaText">
    श्रीभगवानुवाच । <br>
    मया प्रसन्नेन तवार्जुनेदं रूपं परं दर्शितमात्मयोगात्‌ । <br>
    तेजोमयं विश्वमनन्तमाद्यं यन्मे त्वदन्येन न दृष्टपूर्वम्‌ ॥ ११-४७ ॥ <br> <br>
  </div>
  भगवान श्रीकृष्ण म्हणाले, हे अर्जुना, मी तुझ्यावर अनुग्रह करण्यासाठी आपल्या योगशक्तीच्या प्रभावाने हे माझे परम तेजोमय,
  सर्वांचे आदि, सीमा नसलेले, विराट रूप तुला दाखविले. ते तुझ्याशिवाय दुसऱ्या कोणीही यापूर्वी पाहिले नव्हते. ॥ ११-४७ ॥
  <br> <br>

  <div class="adhayaText">
    न वेदयज्ञाध्ययनैर्न दानैर्न च क्रियाभिर्न तपोभिरुग्रैः । <br>
    एवंरूपः शक्य अहं नृलोके द्रष्टुं त्वदन्येन कुरुप्रवीर ॥ ११-४८ ॥ <br> <br>
  </div>
  हे अर्जुना, मानवलोकात अशा प्रकारचा विश्वरूपधारी मी वेदांच्या आणि यज्ञांच्या अध्ययनाने, दानाने, वैदिक कर्मांनी आणि उग्र
  तपश्चर्यांनीही तुझ्याखेरीज दुसऱ्याकडून पाहिला जाणे शक्य नाही. ॥ ११-४८ ॥ <br> <br>

  <div class="adhayaText">
    मा ते व्यथा मा च विमूढभावो दृष्ट्वा रूपं घोरमीदृङ्ममेदम्‌ । <br>
    व्यपेतभीः प्रीतमनाः पुनस्त्वं तदेव मे रूपमिदं प्रपश्य ॥ ११-४९ ॥ <br> <br>
  </div>
  माझे या प्रकारचे हे भयंकर रूप पाहून तू भयभीत हौऊ नकोस किंवा गोंधळून जाऊ नकोस. तू भीती सोडून प्रीतियुक्त अंतःकरणाने तेच
  माझे हे शंख-चक्र-गदा-पद्म धारण केलेले चतुर्भुज रूप पुन्हा पाहा. ॥ ११-४९ ॥ <br> <br>

  <div class="adhayaText">
    सञ्जय उवाच । <br>
    इत्यर्जुनं वासुदेवस्तथोक्त्वा स्वकं रूपं दर्शयामास भूयः । <br>
    आश्वासयामास च भीतमेनं भूत्वा पुनः सौम्यवपुर्महात्मा ॥ ११-५० ॥ <br> <br>
  </div>
  संजय म्हणाले, भगवान वासुदेवांनी अर्जुनाला असे सांगून पुन्हा तसलेच आपले चतुर्भुज रूप दाखविले आणि पुन्हा महात्म्या
  श्रीकृष्णांनी सौम्य रूप धारण करून भयभीत अर्जुनाला धीर दिला. ॥ ११-५० ॥ <br> <br>

  <div class="adhayaText">
    अर्जुन उवाच । <br>
    दृष्ट्वेदं मानुषं रूपं तव सौम्यं जनार्दन । <br>
    इदानीमस्मि संवृत्तः सचेताः प्रकृतिं गतः ॥ ११-५१ ॥ <br> <br>
  </div>
  अर्जुन म्हणाला, हे जनार्दना, आपले हे अतिशय शांत मनुष्यरूप पाहून आता माझे मन स्थिर झाले असून मी माझ्या मूळ स्थितीला
  प्राप्त झालो आहे. ॥ ११-५१ ॥ <br> <br>

  <div class="adhayaText">
    श्रीभगवानुवाच । <br>
    सुदुर्दर्शमिदं रूपं दृष्टवानसि यन्मम । <br>
    देवा अप्यस्य रूपस्य नित्यं दर्शनकाङ्क्षिणः ॥ ११-५२ ॥ <br> <br>
  </div>
  भगवान श्रीकृष्ण म्हणाले, माझे जे चतुर्भुज रूप तू पाहिलेस, ते पाहावयास मिळणे अतिशय दुर्लभ आहे. देवसुद्धा नेहमी या
  रूपाच्या दर्शनाची इच्छा करीत असतात. ॥ ११-५२ ॥ <br> <br>

  <div class="adhayaText">
    नाहं वेदैर्न तपसा न दानेन न चेज्यया । <br>
    शक्य एवंविधो द्रष्टुं दृष्टवानसि मां यथा ॥ ११-५३ ॥ <br> <br>
  </div>
  तू जसे मला पाहिलेस, तशा माझ्या चतुर्भुज रूपाचे दर्शन वेदांनी, तपाने, दानाने आणि यज्ञानेही मिळणे शक्य नाही. ॥ ११-५३ ॥
  <br> <br>

  <div class="adhayaText">
    भक्त्या त्वनन्यया शक्य अहमेवंविधोऽर्जुन । <br>
    ज्ञातुं द्रष्टुं च तत्त्वेन प्रवेष्टुं च परन्तप ॥ ११-५४ ॥ <br> <br>
  </div>
  परंतु हे परंतपा (अर्थात शत्रुतापना) अर्जुना, अनन्य भक्तीने या प्रकारच्या चतुर्भुजरूपधारी मला प्रत्यक्ष पाहणे, तत्त्वतः
  जाणणे तसेच (माझ्यात) प्रवेश करणे अर्थात (माझ्याशी) एकरूप होणेही शक्य आहे. ॥ ११-५४ ॥ <br> <br>

  <div class="adhayaText">
    मत्कर्मकृन्मत्परमो मद्भक्तः सङ्गवर्जितः । <br>
    निर्वैरः सर्वभूतेषु यः स मामेति पाण्डव ॥ ११-५५ ॥ <br> <br>
  </div>
  हे पांडवा (अर्थात पांडुपुत्र अर्जुना), जो पुरुष केवळ माझ्याचसाठी सर्व कर्तव्यकर्मे करणारा, मलाच परम आश्रय मानणारा,
  माझा भक्त आसक्तिरहित असतो आणि सर्व भूतमात्राविषयी निर्वैर असतो, तो अनन्य भक्त मलाच प्राप्त होतो. ॥ ११-५५ ॥ <br> <br>

  <div class="adhayaText">
    ॐ तत्सदिति श्रीमद्‌भगवद्‌गीतासूपनिषत्सु ब्रह्मविद्यायां योगशास्त्रे श्रीकृष्णार्जुनसंवादे
    विश्वरूपदर्शनयोगो नामैकादशोऽध्यायः ॥ ११ ॥ <br> <br>
  </div>
  ॐ हे परमसत्य आहे. याप्रमाणे श्रीमद्‌भगवद्‌गीतारूपी उपनिषद तथा ब्रह्मविद्या आणि योगशास्त्राविषयी श्रीकृष्ण आणि अर्जुन
  यांच्या संवादातील विश्वरूपदर्शनयोग नावाचा हा अकरावा अध्याय समाप्त झाला. ॥ ११ ॥ <br> <br> <br>
</div>