<div>
  <br>
  <div class="adhayaTitle">॥ राजविद्याराजगुह्ययोग ॥ </div>
  <br>

  <div class="adhayaText">
    श्रीभगवानुवाच । <br>
    इदं तु ते गुह्यतमं प्रवक्ष्याम्यनसूयवे । <br>
    ज्ञानं विज्ञानसहितं यज्ञात्वा मोक्ष्यसेऽशुभात्‌ ॥ ९-१ ॥ <br> <br>
  </div>
  श्रीभगवान म्हणाले, दोषदृष्टीरहित अशा तुला भक्ताला हे अतिशय गोपनीय विज्ञानासहित ज्ञान पुन्हा नीटपणे सांगतो. ते
  जाणल्याने तू दुःखरूप संसारापासून मुक्त होशील. ॥ ९-१ ॥ <br> <br>

  <div class="adhayaText">
    राजविद्या राजगुह्यं पवित्रमिदमुत्तमम्‌ । <br>
    प्रत्यक्षावगमं धर्म्यं सुसुखं कर्तुमव्ययम्‌ ॥ ९-२ ॥ <br> <br>
  </div>
  हे विज्ञानासहित ज्ञान सर्व विद्यांचा राजा, सर्व गुप्त गोष्टींचा राजा, अतिशय पवित्र, अतिशय उत्तम, प्रत्यक्ष फळ देणारे,
  धर्मयुक्त, साधन करण्यास फार सोपे आणि अविनाशी आहे. ॥ ९-२ ॥ <br> <br>

  <div class="adhayaText">
    अश्रद्दधानाः पुरुषा धर्मस्यास्य परन्तप । <br>
    अप्राप्य मां निवर्तन्ते मृत्युसंसारवर्त्मनि ॥ ९-३ ॥ <br> <br>
  </div>
  हे परंतपा (अर्थात शत्रुतापना) अर्जुना, या वर सांगितलेल्या धर्मावर श्रद्धा नसलेले पुरुष मला प्राप्त न होता मृत्युरूप
  संसारचक्रात फिरत राहतात. ॥ ९-३ ॥ <br> <br>

  <div class="adhayaText">
    मया ततमिदं सर्वं जगदव्यक्तमूर्तिना । <br>
    मत्स्थानि सर्वभूतानि न चाहं तेष्ववस्थितः ॥ ९-४ ॥ <br> <br>
  </div>
  जसे पाण्याने बर्फ परिपूर्ण भरलेले असते, तसे मी निराकार परमात्म्याने हे सर्व जग पूर्ण व्यापलेले आहे. तसेच सर्व भूते
  माझ्यामध्ये संकल्पाच्या आधारावर राहिलेली आहेत. पण वास्तविक मी त्यांच्यामध्ये राहिलेलो नाही. ॥ ९-४ ॥ <br> <br>

  <div class="adhayaText">
    न च मत्स्थानि भूतानि पश्य मे योगमैश्वरम्‌ । <br>
    भूतभृन्न च भूतस्थो ममात्मा भूतभावनः ॥ ९-५ ॥ <br> <br>
  </div>
  ती सर्व भूते माझ्या ठिकाणी राहिलेली नाहीत. परंतु माझी ईश्वरी योगशक्ती पाहा की, भूतांना उत्पन्न करणारा व त्यांचे
  धारण-पोषण करणारा असूनही माझा आत्मा वास्तविकपणे भूतांच्या ठिकाणी राहिलेला नाही. ॥ ९-५ ॥ <br> <br>

  <div class="adhayaText">
    यथाकाशस्थितो नित्यं वायुः सर्वत्रगो महान्‌ । <br>
    तथा सर्वाणि भूतानि मत्स्थानीत्युपधारय ॥ ९-६ ॥ <br> <br>
  </div>
  जसा आकाशापासून उत्पन्न होऊन सर्वत्र फिरणारा महान वायू नेहमी आकाशातच राहातो, त्याचप्रमाणे माझ्या संकल्पाने उत्पन्न
  झाल्यामुळे सर्व भूते माझ्यात राहातात, असे समज. ॥ ९-६ ॥ <br> <br>

  <div class="adhayaText">
    सर्वभूतानि कौन्तेय प्रकृतिं यान्ति मामिकाम्‌ । <br>
    कल्पक्षये पुनस्तानि कल्पादौ विसृजाम्यहम्‌ ॥ ९-७ ॥ <br> <br>
  </div>
  हे कौन्तेया (अर्थात कुंतीपुत्र अर्जुना), कल्पाच्या शेवटी सर्व भूते माझ्या प्रकृतीत विलीन होतात आणि कल्पाच्या आरंभी
  त्यांना मी पुन्हा उत्पन्न करतो. ॥ ९-७ ॥ <br> <br>

  <div class="adhayaText">
    प्रकृतिं स्वामवष्टभ्य विसृजामि पुनः पुनः । <br>
    भूतग्राममिमं कृत्स्नमवशं प्रकृतेर्वशात्‌ ॥ ९-८ ॥ <br> <br>
  </div>
  आपल्या मायेचा अंगीकार करून प्रकृतीच्या ताब्यात असल्यामुळे पराधीन झालेल्या या सर्व भूतसमुदायाला मी वारंवार त्यांच्या
  कर्मांनुसार उत्पन्न करतो. ॥ ९-८ ॥ <br> <br>

  <div class="adhayaText">
    न च मां तानि कर्माणि निबध्नन्ति धनञ्जय । <br>
    उदासीनवदासीनमसक्तं तेषु कर्मसु ॥ ९-९ ॥ <br> <br>
  </div>
  हे धनंजया (अर्थात अर्जुना), त्या कर्मांत आसक्ती नसलेल्या व उदासीनाप्रमाणे असलेल्या मज परमात्म्याला ती कर्मे बंधानकारक
  होत नाहीत. ॥ ९-९ ॥ <br> <br>

  <div class="adhayaText">
    मयाध्यक्षेण प्रकृतिः सूयते सचराचरम्‌ । <br>
    हेतुनानेन कौन्तेय जगद्विपरिवर्तते ॥ ९-१० ॥ <br> <br>
  </div>
  हे कौन्तेया (अर्थात कुंतीपुत्र अर्जुना), माझ्या अधिष्ठानामुळे प्रकृती चराचरासह सर्व जग निर्माण करते. याच कारणाने हे
  संसारचक्र फिरत आहे. ॥ ९-१० ॥ <br> <br>

  <div class="adhayaText">
    अवजानन्ति मां मूढा मानुषीं तनुमाश्रितम्‌ । <br>
    परं भावमजानन्तो मम भूतमहेश्वरम्‌ ॥ ९-११ ॥ <br> <br>
  </div>
  माझ्या परम भावाला न जाणणारे मूढ लोक मनुष्यशरीर धारण करणाऱ्या मला-सर्व भूतांच्या महान ईश्वराला-तुच्छ समजतात. अर्थात
  आपल्या योगमायेने जगाच्या उद्धारासाठी मनुष्यरूपात वावरणाऱ्या मला परमेश्वराला सामान्य मनुष्य समजतात. ॥ ९-११ ॥ <br> <br>

  <div class="adhayaText">
    मोघाशा मोघकर्माणो मोघज्ञाना विचेतसः । <br>
    राक्षसीमासुरीं चैव प्रकृतिं मोहिनीं श्रिताः ॥ ९-१२ ॥ <br> <br>
  </div>
  ज्यांची आशा व्यर्थ, कर्मे निरर्थक आणि ज्ञान फुकट असे विक्षिप्त चित्त असलेले अज्ञानी लोक राक्षसी, आसुरी आणि मोहिनी
  प्रकृतीचाच आश्रय करून राहातात. ॥ ९-१२ ॥ <br> <br>

  <div class="adhayaText">
    महात्मानस्तु मां पार्थ दैवीं प्रकृतिमाश्रिताः । <br>
    भजन्त्यनन्यमनसो ज्ञात्वा भूतादिमव्ययम्‌ ॥ ९-१३ ॥ <br> <br>
  </div>
  परंतु हे पार्था (अर्थात पृथापुत्र अर्जुना), दैवी प्रकृतीचा आश्रय घेतलेले महात्मे मला सर्व भूतांचे सनातन कारण आणि
  अविनाशी अक्षरस्वरूप जाणून अनन्य चित्ताने युक्त होऊन निरंतर भजतात. ॥ ९-१३ ॥ <br> <br>

  <div class="adhayaText">
    सततं कीर्तयन्तो मां यतन्तश्च दृढव्रताः । <br>
    नमस्यन्तश्च मां भक्त्या नित्ययुक्ता उपासते ॥ ९-१४ ॥ <br> <br>
  </div>
  ते दृढनिश्चयी भक्त निरंतर माझ्या नामाचे व गुणांचे कीर्तन करीत माझ्या प्राप्तीसाठी प्रयत्‍न करीत असतात. तसेच वारंवार
  मला प्रणाम करीत नेहमी माझ्या ध्यानात मग्न होऊन अनन्य प्रेमाने माझी उपासना करतात. ॥ ९-१४ ॥ <br> <br>

  <div class="adhayaText">
    ज्ञानयज्ञेन चाप्यन्ये यजन्तो मामुपासते । <br>
    एकत्वेन पृथक्त्वेन बहुधा विश्वतोमुखम्‌ ॥ ९-१५ ॥ <br> <br>
  </div>
  दुसरे काही ज्ञानयोगी मज निर्गुण-निराकार ब्रह्माची ज्ञानयज्ञाने अभेदभावाने पूजा करीतही माझी उपासना करतात आणि दुसरे काही
  अनेक रूपांनी असलेल्या मज विराट-स्वरूप परमेश्वराची नाना प्रकारांनी उपासना करतात. ॥ ९-१५ ॥ <br> <br>

  <div class="adhayaText">
    अहं क्रतुरहं यज्ञः स्वधाहमहमौषधम्‌ । <br>
    मन्त्रोऽहमहमेवाज्यमहमग्निरहं हुतम्‌ ॥ ९-१६ ॥ <br> <br>
  </div>
  श्रौतयज्ञ मी आहे, स्मार्तयज्ञ मी आहे, पितृयज्ञ मी आहे, वनस्पती, अन्न व औषध मी आहे. मंत्र मी आहे, तूप मी आहे, अग्नी मी
  आहे आणि हवनाची क्रियाही मीच आहे. ॥ ९-१६ ॥ <br> <br>

  <div class="adhayaText">
    पिताहमस्य जगतो माता धाता पितामहः । <br>
    वेद्यं पवित्रमोङ्कार ऋक्साम यजुरेव च ॥ ९-१७ ॥ <br> <br>
  </div>
  या जगाला धारण करणारा व कर्मफळ देणारा, आई-वडील, आजोबा, जाणण्याजोगा पवित्र ॐ कार, तसेच ऋग्वेद, सामवेद आणि यजुर्वेदही मीच
  आहे. ॥ ९-१७ ॥ <br> <br>

  <div class="adhayaText">
    गतिर्भर्ता प्रभुः साक्षी निवासः शरणं सुहृत्‌ । <br>
    प्रभवः प्रलयः स्थानं निधानं बीजमव्ययम्‌ ॥ ९-१८ ॥ <br> <br>
  </div>
  प्राप्त होण्याजोगे परमधाम, भरण-पोषण करणारा, सर्वांचा स्वामी, शुभाशुभ पाहणारा, सर्वांचे निवासस्थान, शरण जाण्यास योग्य,
  प्रत्युपकाराची इच्छा न करता हित करणारा, सर्वांच्या उत्पत्ती-प्रलयाचे कारण, स्थितीला आधार, निधान आणि अविनाशी कारणही मीच
  आहे. ॥ ९-१८ ॥ <br> <br>

  <div class="adhayaText">
    तपाम्यहमहं वर्षं निगृह्णाम्युत्सृजामि च । <br>
    अमृतं चैव मृत्युश्च सदसच्चाहमर्जुन ॥ ९-१९ ॥ <br> <br>
  </div>
  मीच सूर्याच्या रूपाने उष्णता देतो, पाणी आकर्षून घेतो व त्याचा वर्षाव करतो. हे अर्जुना, मीच अमृत आणि मृत्यू आहे, आणि
  सत्‌ व असत्‌ सुद्धा मीच आहे. ॥ ९-१९ ॥ <br> <br>

  <div class="adhayaText">
    त्रैविद्या मां सोमपाः पूतपापा यज्ञैरिष्ट्वा स्वर्गतिं प्रार्थयन्ते । <br>
    ते पुण्यमासाद्य सुरेन्द्रलोकमश्नन्ति दिव्यान्दिवि देवभोगान्‌ ॥ ९-२० ॥ <br> <br>
  </div>
  तिन्ही वेदांत सांगितलेली सकाम कर्मे करणारे, सोमरस पिणारे, पापमुक्त लोक माझी यज्ञांनी पूजा करून स्वर्गप्राप्तीची इच्छा
  करतात; ते पुरुष आपल्या पुण्याईचे फळ असणाऱ्या स्वर्गलोकाला जाऊन स्वर्गात देवांचे भोग भोगतात. ॥ ९-२० ॥ <br> <br>

  <div class="adhayaText">
    ते तं भुक्त्वा स्वर्गलोकं विशालं क्षीणे पुण्ये मर्त्यलोकं विशन्ति । <br>
    एवं त्रयीधर्ममनुप्रपन्ना गतागतं कामकामा लभन्ते ॥ ९-२१ ॥ <br> <br>
  </div>
  ते त्या विशाल स्वर्गलोकाचा उपभोग घेऊन पुण्याई संपल्यावर मृत्युलोकात येतात. अशा रीतीने स्वर्गप्राप्तीचे साधन असणाऱ्या,
  तिन्ही वेदात सांगितलेल्या, सकाम कर्मांचे अनुष्ठान करून भोगांची इच्छा करणारे पुरुष वारंवार ये-जा करीत असतात. अर्थात
  पुण्याच्या जोरावर स्वर्गात जातात आणि पुण्य संपल्यावर मृत्युलोकात येतात. ॥ ९-२१ ॥ <br> <br>

  <div class="adhayaText">
    अनन्याश्चिन्तयन्तो मां ये जनाः पर्युपासते । <br>
    तेषां नित्याभियुक्तानां योगक्षेमं वहाम्यहम्‌ ॥ ९-२२ ॥ <br> <br>
  </div>
  जे अनन्य प्रेमी भक्त मज परमेश्वराला निरंतर चिंतन करीत निष्काम भावाने भजतात, त्या नित्य माझे चिंतन करणाऱ्या माणसांचा
  योगक्षेम मी स्वतः त्यांना प्राप्त करून देतो. ॥ ९-२२ ॥ <br> <br>

  <div class="adhayaText">
    येऽप्यन्यदेवता भक्ता यजन्ते श्रद्धयान्विताः । <br>
    तेऽपि मामेव कौन्तेय यजन्त्यविधिपूर्वकम्‌ ॥ ९-२३ ॥ <br> <br>
  </div>
  हे कौन्तेया (अर्थात कुंतीपुत्र अर्जुना), जे सकाम भक्त श्रद्धेने दुसऱ्या देवांची पूजा करतात, तेही माझीच पूजा करतात.
  परंतु त्यांचे ते पूजन अज्ञानपूर्वक असते. ॥ ९-२३ ॥ <br> <br>

  <div class="adhayaText">
    अहं हि सर्वयज्ञानां भोक्ता च प्रभुरेव च । <br>
    न तु मामभिजानन्ति तत्त्वेनातश्च्यवन्ति ते ॥ ९-२४ ॥ <br> <br>
  </div>
  कारण सर्व यज्ञांचा भोक्ता आणि स्वामीही मीच आहे. पण ते मला परमेश्वराला तत्त्वतः जाणत नाहीत; म्हणून पुनर्जन्म घेतात. ॥
  ९-२४ ॥ <br> <br>

  <div class="adhayaText">
    यान्ति देवव्रता देवान्पितॄन्यान्ति पितृव्रताः । <br>
    भूतानि यान्ति भूतेज्या यान्ति मद्याजिनोऽपि माम्‌ ॥ ९-२५ ॥ <br> <br>
  </div>
  देवांची पूजा करणारे देवांना मिळतात. पितरांची पूजा करणारे पितरांना जाऊन मिळतात. भूतांची पूजा करणारे भूतांना प्राप्त
  होतात आणि माझी पूजा करणारे भक्त मला येऊन मिळतात. त्यामुळे माझ्या भक्तांना पुनर्जन्म नाही. ॥ ९-२५ ॥ <br> <br>

  <div class="adhayaText">
    पत्रं पुष्पं फलं तोयं ये मे भक्त्या प्रयच्छति । <br>
    तदहं भक्त्युपहृतमश्नामि प्रयतात्मनः ॥ ९-२६ ॥ <br> <br>
  </div>
  जो कोणी भक्त मला प्रेमाने पान, फूल, फळ, पाणी इत्यादी अर्पण करतो, त्या शुद्ध बुद्धीच्या व निष्काम प्रेमी भक्ताने
  प्रेमाने अर्पण केलेले ते पान, फूल इत्यादी मी सगुण रूपाने प्रकट होऊन मोठ्या प्रीतीने खातो. ॥ ९-२६ ॥ <br> <br>

  <div class="adhayaText">
    यत्करोषि यदश्नासि यज्जुहोषि ददासि यत्‌ । <br>
    यत्तपस्यसि कौन्तेय तत्कुरुष्व मदर्पणम्‌ ॥ ९-२७ ॥ <br> <br>
  </div>
  हे कौन्तेया (अर्थात कुंतीपुत्र अर्जुना), तू जे कर्म करतोस, जे खातोस, जे हवन करतोस, जे दान देतोस आणि जे तप करतोस, ते
  सर्व मला अर्पण कर. ॥ ९-२७ ॥ <br> <br>

  <div class="adhayaText">
    शुभाशुभफलैरेवं मोक्ष्यसे कर्मबन्धनैः । <br>
    संन्यासयोगयुक्तात्मा विमुक्तो मामुपैष्यसि ॥ ९-२८ ॥ <br> <br>
  </div>
  अशा रीतीने ज्यामध्ये सर्व कर्मे मला भगवंताला अर्पण होतात, अशा संन्यासयोगाने युक्त चित्त असलेला तू शुभाशुभफळरूप
  कर्मबंधनातून मुक्त होशील आणि मला येऊन मिळशील. ॥ ९-२८ ॥ <br> <br>

  <div class="adhayaText">
    समोऽहं सर्वभूतेषु न मे द्वेष्योऽस्ति न प्रियः । <br>
    ये भजन्ति तु मां भक्त्या मयि ते तेषु चाप्यहम्‌ ॥ ९-२९ ॥ <br> <br>
  </div>
  मी सर्व भूतमात्रात समभावाने व्यापून राहिलो आहे. मला ना कोणी अप्रिय ना प्रिय. परंतु जे भक्त मला प्रेमाने भजतात, ते
  माझ्यात राहतात आणि मीही त्यांच्यात प्रत्यक्ष प्रकट असतो. ॥ ९-२९ ॥ <br> <br>

  <div class="adhayaText">
    अपि चेत्सुदुराचारो भजते मामनन्यभाक्‌ । <br>
    साधुरेव स मन्तव्यः सम्यग्व्यवसितो हि सः ॥ ९-३० ॥ <br> <br>
  </div>
  जर एखादा अत्यंत दुर्वर्तनीसुद्धा अनन्यभावाने माझा भक्त होऊन मला भजेल, तर तो सज्जनच समजावा. कारण तो यथार्थ निश्चयी
  असतो. अर्थात त्याने ईश्वरभजनासारखे दुसरे काहीही नाही, असा पूर्ण निश्चय केलेला असतो. ॥ ९-३० ॥ <br> <br>

  <div class="adhayaText">
    क्षिप्रं भवति धर्मात्मा शश्वच्छान्तिं निगच्छति । <br>
    कौन्तेय प्रति जानीहि न मे भक्तः प्रणश्यति ॥ ९-३१ ॥ <br> <br>
  </div>
  तो तात्काळ धर्मात्मा होतो आणि नेहमी टिकणाऱ्या परम शांतीला प्राप्त होतो. हे कौन्तेया (अर्थात कुंतीपुत्र अर्जुना), तू हे
  पक्के सत्य लक्षात ठेव की, माझा भक्त नाश पावत नाही. ॥ ९-३१ ॥ <br> <br>

  <div class="adhayaText">
    मां हि पार्थ व्यपाश्रित्य येऽपि स्युः पापयोनयः । <br>
    स्त्रियो वैश्यास्तथा शूद्रास्तेऽपि यान्ति परां गतिम्‌ ॥ ९-३२ ॥ <br> <br>
  </div>
  हे पार्था (अर्थात पृथापुत्र अर्जुना), स्त्रिया, वैश्य, शूद्र तसेच पापयोनी अर्थात चांडाळादी कोणीही असो, ते सुद्धा मला
  शरण आले असता परम गतीलाच प्राप्त होतात. ॥ ९-३२ ॥ <br> <br>

  <div class="adhayaText">
    किं पुनर्ब्राह्मणाः पुण्या भक्ता राजर्षयस्तथा । <br>
    अनित्यमसुखं लोकमिमं प्राप्य भजस्व माम्‌ ॥ ९-३३ ॥ <br> <br>
  </div>
  मग पुण्यशील, ब्राह्मण तसेच राजर्षी भक्तलोक मला शरण येऊन परम गतीला प्राप्त होतात, हे काय सांगावयास पाहिजे? म्हणून तू
  सुखरहित व नाशवंत या मनुष्यशरीराला प्राप्त होऊन नेहमी माझेच भजन कर. ॥ ९-३३ ॥ <br> <br>

  <div class="adhayaText">
    मन्मना भव मद्भक्तो मद्याजी मां नमस्कुरु । <br>
    मामेवैष्यसि युक्त्वैवमात्मानं मत्परायणः ॥ ९-३४ ॥ <br> <br>
  </div>
  माझ्यात मन ठेव. माझा भक्त हो. माझी पूजा कर. मला नमस्कार कर. अशा रीतीने आत्म्याला माझ्याशी जोडून मत्परायण होऊन तू मलाच
  प्राप्त होशील. ॥ ९-३४ ॥ <br> <br>

  <div class="adhayaText">
    ॐ तत्सदिति श्रीमद्‌भगवद्‌गीतासूपनिषत्सु ब्रह्मविद्यायां योगशास्त्रे श्रीकृष्णार्जुनसंवादे
    राजविद्याराजगुह्ययोगो नाम नवमोऽध्यायः ॥ ९ ॥ <br> <br>
  </div>
  ॐ हे परमसत्य आहे. याप्रमाणे श्रीमद्‌भगवद्‌गीतारूपी उपनिषद तथा ब्रह्मविद्या आणि योगशास्त्राविषयी श्रीकृष्ण आणि अर्जुन
  यांच्या संवादातील राजविद्याराजगुह्ययोग नावाचा हा नववा अध्याय समाप्त झाला. ॥ ९ ॥ <br> <br> <br>
</div>