<div class="dialogTitle" [ngStyle]="setting.getHeaderStyle()">
  <input type="image" src="assets\icon\back.png" (click)="closeDialog()" alt="Submit" align="left"
    class="dialogBackBtn">
  पसायदान
</div>

<div class="dialogPage" [ngStyle]="setting.getDialogPageStyle()">
  <div class="dialogText">
    आतां विश्वात्मकें देवें । येणें वाग्यज्ञें तोषावें । तोषोनि मज द्यावें । पसायदान हें ॥ १ ॥ <br><br>
    जे खळांची व्यंकटी सांडो । तयां सत्कर्मीं रती वाढो । भूतां परस्परें जडो। मैत्र जीवांचें ॥ २ ॥ <br><br>
    दुरिताचें तिमिर जावो । विश्व स्वधर्म सूर्यें पाहो । जो जें वांच्छील तो तें लाहो । प्राणिजात ॥ ३ ॥ <br><br>
    वर्षत सकळमंगळीं । ईश्वर निष्ठांची मांदियाळी । अनवरत भूमंडळीं । भेटतु या भूतां ॥ ४ ॥ <br><br>
    चलां कल्पतरूंचे आरव । चेतना चिंतामणीचें गांव । बोलते जे अर्णव । पीयूषाचे ॥ ५ ॥ <br><br>
    चंद्रमे जे अलांछन । मार्तंड जे तापहीन । ते सर्वांही सदा सज्जन । सोयरे होतु ॥ ६ ॥ <br><br>
    किंबहुना सर्वसुखीं । पूर्ण होऊनि तिहीं लोकीं । भाजिजो आदिपुरुखीं । अखंडित ॥ ७ ॥ <br><br>
    आणि ग्रंथोपजीविये । विशेषीं लोकीं इयें । दृष्टादृष्ट विजयें । होआवें जी ॥ ८ ॥ <br><br>
    येथ म्हणे श्रीविश्वेश्वरावो । हा होईल दानपसावो । येणें वरें ज्ञानदेवो । सुखिया झाला ॥ ९ ॥ <br> <br>

    <br>
    <b>
      <li>मराठी अर्थ</li>
    </b><br>
    आता विश्वात्मक देवाने, या माझ्या वाग्यज्ञाने संतुष्ट व्हावे आणि मला हे पसायदान ( प्रसाद ) द्यावे. ॥ १ ॥ <br><br>

    दुष्टांचे दुष्टपण नाहीसे होवो, त्यांना सत्कर्मे करण्या मध्ये स्वारस्य वाढो. सर्व प्राणीमात्रांमध्ये मित्रत्वाची
    भावना निर्माण होवो. ॥ २ ॥ <br><br>

    पापी माणसाचा अज्ञानरुपी अंधार नाहीसा होवो, विश्वात स्वधर्मरूपी सूर्याचा उदय होवो. प्राणमात्रांच्या मंगल इच्छा
    पूर्ण होवोत. ॥ ३ ॥ <br><br>

    सर्व प्रकारच्या मंगलांचा वर्षाव करणारे ईश्वरनिष्ठ संत पृथ्वीवर अवतरत जावोत आणि प्राणिमात्रांना भेटत जावोत. ॥ ४ ॥
    <br><br>

    जे (संत) कल्पतरूंची चालती बोलती उद्याने आहेत, चेतनारूपी चिंतामणी रत्नांची जणू गावेच आहेत, अमृताचे बोलणारे
    समुद्रच आहेत, ॥ ५ ॥ <br><br>

    जे कोणताही डाग नसलेले निर्मळ चंद्रच आहेत, तापहीन सूर्यच आहेत असे संतसज्जन सर्व प्राणिमात्रांचे मित्र होवोत. ॥ ६
    ॥ <br><br>

    तिन्ही लोकांनी सर्व सुखांनी परिपूर्ण होऊन अखंडितपणे विश्वाच्या आदिपुरुषाची सेवा करावी. ॥ ७ ॥ <br><br>
    हा ग्रंथ ज्यांचे जीवन आहे, त्यांनी या जगातील दृष्य आणि अदृष्य भोगांवर विजयी व्हावे. ॥ ८ ॥ <br><br>
    यावर विश्वेश्वर गूरु श्री निवृत्तीनाथ म्हणाले की हा प्रसाद तुला लाभेल. या वराने ज्ञानदेव सुखी झाले. ॥ ९ ॥
    <br><br>
  </div>
</div>