<div class="dialogTitle" [ngStyle]="setting.getHeaderStyle()">
  <input type="image" src="assets\icon\back.png" (click)="closeDialog()" alt="Submit" align="left"
    class="dialogBackBtn">
  श्रीमद भगवद गीता
</div>

<div class="dialogPage" [ngStyle]="setting.getDialogPageStyle()">
  <div class="dialogText">
    भगवद्‌गीता हा प्राचीन भारतीय तत्त्वज्ञानविषयक ग्रंथ आहे. ७ सप्टेंबर इ.सन पूर्व ३००८ रोजी श्रीकृष्णाने अर्जुनाला
    गीता
    सांगितली. यात एकूण १८ अध्याय व ७०० श्लोक आहेत.
    <br>
    भारतीय या ग्रंथाला पवित्र धर्मग्रंथ समजतात. त्यामुळे न्यायालयात गीतेवर हात ठेवून शपथ घेण्याची प्रथा पडली आहे.
    <br>
    भगवत्‌ गीता हा हिंदुस्थानातला अतिशय महत्त्वाचा व मानवी इतिहासातल्या ग्रंथांपैकी अतिशय तत्त्वज्ञानावर आधारलेला
    महत्त्वाचा संदर्भग्रंथ आहे. हा ग्रंथ संस्कृत भाषेत काव्यस्वरूपात लिहिलेला आहे. 'महाभारत' या महाकाव्याचा एक भाग
    असलेला हा ग्रंथ १८ अध्यायांचा (७०० श्लोक) आहे. महाभारतातल्या महायुद्धाच्या वेळेस भगवान श्रीकृष्णांनी गीता अर्जुनास
    मार्गदर्शन स्वरूपात सांगितली, असे महाभारताच्या कथेत म्हटले आहे.. हिंदू (वैदिक) धर्माच्या मते भगवान श्रीकृष्ण हे
    भगवान विष्णूंचे स्वरूप मानले जातात. हा ग्रंथ मानवाला परमोच्च ज्ञान देतो आणि जीवन कसे जगावे यांचे मार्गदर्शन करतो
    असे
    मानले जाते.
    <br>
    कुरुक्षेत्रावर रणांगणामधे युद्धाच्या सुरुवातीला सांगितली गेलेली गीता हा श्रीकृष्ण आणि अर्जुन यांच्यातला संवाद असून
    त्यामधे श्रीकृष्णाने अर्जुनाच्या शंकांचे निरसन केले आहे. विविध उदाहरणे आणि उपमांचा आधार घेत श्रीकृष्णाने अर्जुनाला
    योग आणि वेदान्त यांबद्दल मार्गदर्शन केले आहे. यामुळे हिंदू धर्मातील एक अत्यंत महत्त्वाचा मार्गदर्शकपर ग्रंथ आणि
    मानवी जीवनाचे तत्त्वज्ञान सुखकर करण्याकरता उपयुक्त ठरेल असा संदर्भग्रंथ असे गीतेचे स्वरूप आहे. जगातील विविध
    देशांतले
    व विविध धर्मांतले असंख्य तत्त्ववेत्ते, शास्त्रज्ञ आणि विचारवंत यांनी या ग्रंथाबद्दल कायमच गौरवोद्गार काढले आहेत
    आणि
    मानवी जीवनाच्या अथांग सागरामधे गीतेला दीपस्तंभाचे स्थान दिले आहे.
    <br><br>
    <b>
      <li>गीतेतील अध्यायांची नावे</li>
    </b> <br>
    अध्याय १ - अर्जुनविषादयोग<br>
    अध्याय २ - सांख्ययोग(गीतेचे सार)<br>
    अध्याय ३ - कर्मयोग<br>
    अध्याय ४ - ज्ञानकर्मसंन्यासयोग(दिव्य ज्ञान)<br>
    अध्याय ५ - कर्मसंन्यासयोग<br>
    अध्याय ६ - ध्यानयोग<br>
    अध्याय ७ - ज्ञानविज्ञानयोग<br>
    अध्याय ८ - अक्षरब्रह्मयोग<br>
    अध्याय ९ - राजविद्याराजगुह्ययोग (परम गोपनीय ज्ञान)<br>
    अध्याय १० - विभूतियोग(भगवंताचे ऐश्वर्य)<br>
    अध्याय ११ - विश्वरूप दर्शनयोग<br>
    अध्याय १२ - भक्तियोग(श्रीकृष्णाची प्रेममयी सेवा)<br>
    अध्याय १३ - क्षेत्रक्षेज्ञविभागयोग<br>
    अध्याय १४ - गुणत्रयविभागयोग<br>
    अध्याय १५ - पुरुषोत्तमयोग<br>
    अध्याय १६ - दैवासुरसंपविभागयोग<br>
    अध्याय १७ - श्रद्धात्रयविभागयोग<br>
    अध्याय १८ - मोक्षसंन्यासयोग(गीतेचा निष्कर्ष)<br>
    <br>
  </div>
</div>