<div>
    <br>
    <div class="adhayaTitle">॥ अर्जुनविषादयोग ॥ </div>
    <br>

    <div class="adhayaText">
        धृतराष्ट्र उवाच । <br>
        धर्मक्षेत्रे कुरुक्षेत्रे समवेता युयुत्सवः । <br>
        मामकाः पाण्डवाश्चैव किमकुर्वत सञ्जय ॥ १-१ ॥ <br> <br>
    </div>
    धृतराष्ट्र म्हणाले, हे संजया, धर्मभूमी असलेल्या कुरुक्षेत्रात युद्धाच्या इच्छेने एकत्र जमलेल्या माझ्या आणि पांडूच्या
    मुलांनीही काय केले? ॥ १-१ ॥ <br> <br>

    <div class="adhayaText">
        सञ्जय उवाच । <br>
        दृष्ट्वा तु पाण्डवानीकं व्यूढं दुर्योधनस्तदा । <br>
        आचार्यमुपसङ्गम्य राजा वचनमब्रवीत्‌ ॥ १-२ ॥ <br> <br>
    </div>
    संजय म्हणाले, त्यावेळी व्यूहरचना केलेले पांडवांचे सैन्य पाहून राजा दुर्योधन द्रोणाचर्यांजवळ जाऊन असे म्हणाला ॥ १-२ ॥
    <br> <br>

    <div class="adhayaText">
        पश्यैतां पाण्डुपुत्राणामाचार्य महतीं चमूम्‌ । <br>
        व्यूढां द्रुपदपुत्रेण तव शिष्येण धीमता ॥ १-३ ॥ <br> <br>
    </div>
    अहो आचार्य, तुमच्या बुद्धिमान शिष्याने-द्रुपदपुत्र धृष्टद्युम्नाने-व्यूहरचना करून उभी केलेली ही पांडुपुत्रांची
    प्रचंड सेना पाहा. ॥ १-३ ॥ <br> <br>

    <div class="adhayaText">
        अत्र शूरा महेष्वासा भीमार्जुनसमा युधि । <br>
        युयुधानो विराटश्च द्रुपदश्च महारथः ॥ १-४ ॥ <br>
        धृष्टकेतुश्‍चेकितानः काशिराजश्च वीर्यवान्‌ । <br>
        पुरुजित्कुन्तिभोजश्च शैब्यश्च नरपुङ्गवः ॥ १-५ ॥ <br>
        युधामन्युश्च विक्रान्त उत्तमौजाश्च वीर्यवान्‌ । <br>
        सौभद्रो द्रौपदेयाश्च सर्व एव महारथाः ॥ १-६ ॥ <br> <br>
    </div>
    या सैन्यात मोठीमोठी धनुष्ये घेतलेले भीम, अर्जुन यांसारखे शूरवीर, सात्यकी, विराट, महारथी द्रुपद, धृष्टकेतू, चेकितान,
    बलवान काशिराज, पुरुजित, कुंतिभोज, नरश्रेष्ठ शैब्य, पराक्रमी युधामन्यू, शक्तिमान उत्तमौजा, सुभद्रापुत्र अभिमन्यू आणि
    द्रौपदीचे पाच पुत्र हे सर्वच महारथी आहेत. ॥ १-४, १-५, १-६ ॥ <br> <br>

    <div class="adhayaText">
        अस्माकं तु विशिष्टा ये तान्निबोध द्विजोत्तम । <br>
        नायका मम सैन्यस्य संज्ञार्थं तान्ब्रवीमि ते ॥ १-७ ॥ <br> <br>
    </div>
    हे ब्राह्मणश्रेष्ठ, आपल्यातील जे महत्त्वाचे आहेत, ते जाणून घ्या. आपल्या माहितीसाठी आपल्या सैन्याचे जे जे सेनापती
    आहेत, ते मी आपल्याला सांगतो. ॥ १-७ ॥ <br> <br>

    <div class="adhayaText">
        भवान्‌ भीष्मश्च कर्णश्च कृपश्च समितिञ्जयः । <br>
        अश्वत्थामा विकर्णश्च सौमदत्तिस्तथैव च ॥ १-८ ॥ <br> <br>
    </div>
    आपण-द्रोणाचार्य, पितामह भीष्म, कर्ण, युद्धात विजयी होणारे कृपाचार्य, अश्वत्थामा, विकर्ण तसेच सोमदत्ताचा मुलगा
    भूरिश्रवा. ॥ १-८ ॥ <br> <br>

    <div class="adhayaText">
        अन्ये च बहवः शूरा मदर्थे त्यक्तजीविताः । <br>
        नानाशस्त्रप्रहरणाः सर्वे युद्धविशारदाः ॥ १-९ ॥ <br> <br>
    </div>
    इतरही माझ्यासाठी जीवावर उदार झालेले पुष्कळ शूरवीर आहेत. ते सर्वजण निरनिराळ्या शस्त्रास्त्रांनी सुसज्ज असून युद्धात
    पारंगत आहेत. ॥ १-९ ॥ <br> <br>

    <div class="adhayaText">
        अपर्याप्तं तदस्माकं बलं भीष्माभिरक्षितम्‌ । <br>
        पर्याप्तं त्विदमेतेषां बलं भीमाभिरक्षितम्‌ ॥ १-१० ॥ <br> <br>
    </div>
    भीष्मपितामहांनी रक्षण केलेले आपले ते सैन्य सर्व दृष्टींनी अजिंक्य आहे; तर भीमाने रक्षण केलेले यांचे हे सैन्य
    जिंकायला सोपे आहे. ॥ १-१० ॥ <br> <br>

    <div class="adhayaText">
        अयनेषु च सर्वेषु यथाभागमवस्थिताः । <br>
        भीष्ममेवाभिरक्षन्तु भवन्तः सर्व एव हि ॥ १-११ ॥ <br> <br>
    </div>
    म्हणून सर्व व्यूहांच्या प्रवेशद्वारात आपापल्या जागेवर राहून आपण सर्वांनीच निःसंदेह भीष्मपितामहांचेच सर्व बाजूंनी
    रक्षण करावे. ॥ १-११ ॥ <br> <br>

    <div class="adhayaText">
        तस्य सञ्जनयन्‌ हर्षं कुरुवृद्धः पितामहः । <br>
        सिंहनादं विनद्यौच्चै: शङ्खं दध्मौ प्रतापवान्‌ ॥ १-१२ ॥ <br> <br>
    </div>
    कौरवांतील वृद्ध, महापराक्रमी, पितामह भीष्मांनी त्या दुर्योधनाच्या अंतःकरणात आनंद निर्माण करीत मोठ्याने सिंहासारखी
    गर्जना करून शंख वाजविला. ॥ १-१२ ॥ <br> <br>

    <div class="adhayaText">
        ततः शङ्खाश्च भेर्यश्च पणवानकगोमुखाः । <br>
        सहसैवाभ्यहन्यन्त स शब्दस्तुमुलोऽभवत्‌ ॥ १-१३ ॥ <br> <br>
    </div>
    त्यानंतर शंख, नगारे, ढोल, मृदंग, शिंगे इत्यादी रणवाद्ये एकदम वाजू लागली. त्यांचा तो आवाज प्रचंड झाला. ॥ १-१३ ॥ <br>
    <br>

    <div class="adhayaText">
        ततः श्वेतैर्हयैर्युक्ते महति स्यन्दने स्थितौ । <br>
        माधवः पाण्डवाश्चैव दिव्यौ शङ्खौ प्रदध्मतुः ॥ १-१४ ॥ <br> <br>
    </div>
    यानंतर पांढरे घोडे जोडलेल्या उत्तम रथात बसलेल्या श्रीकृष्णांनी आणि पांडवाने (अर्थात पांडुपुत्र अर्जुनाने) ही दिव्य
    शंख वाजविले. ॥ १-१४ ॥ <br> <br>

    <div class="adhayaText">
        पाञ्चजन्यं हृषीकेशो देवदत्तं धनञ्जयः । <br>
        पौण्ड्रं दध्मौ महाशङ्खं भीमकर्मा वृकोदरः ॥ १-१५ ॥ <br> <br>
    </div>
    श्रीकृष्णांनी पांचजन्य नावाचा, अर्जुनाने देवदत्त नावाचा आणि भयानक कृत्ये करणाऱ्या भीमाने पौण्ड्र नावाचा मोठा शंख
    फुंकला. ॥ १-१५ ॥ <br> <br>

    <div class="adhayaText">
        अनन्तविजयं राजा कुन्तीपुत्रो युधिष्ठिरः । <br>
        नकुलः सहदेवश्च सुघोषमणिपुष्पकौ ॥ १-१६ ॥ <br> <br>
    </div>
    कुंतीपुत्र राजा युधिष्ठिराने अनंतविजय नावाचा आणि नकुल व सहदेव यांनी सुघोष व मणिपुष्पक नावाचे शंख वाजविले. ॥ १-१६ ॥
    <br> <br>

    <div class="adhayaText">
        काश्यश्च परमेष्वासः शिखण्डी च महारथः । <br>
        धृष्टद्युम्नो विराटश्च सात्यकिश्चापराजितः ॥ १-१७ ॥ <br>
        द्रुपदो द्रौपदेयाश्च सर्वशः पृथिवीपते । <br>
        सौभद्रश्च महाबाहुः शङ्खान्दध्मुः पृथक्पृथक्‌ ॥ १-१८ ॥ <br> <br>
    </div>
    श्रेष्ठ धनुष्य धारण करणारा काशिराज, महारथी शिखंडी, धृष्टद्युम्न, राजा विराट, अजिंक्य सात्यकी, राजा द्रुपद, द्रौपदीचे
    पाचही पुत्र, महाबाहू सुभद्रापुत्र अभिमन्यू, या सर्वांनी, हे राजा, सर्व बाजूंनी वेगवेगळे शंख वाजविले. ॥ १-१७, १-१८ ॥
    <br> <br>

    <div class="adhayaText">
        स घोषो धार्तराष्ट्राणां हृदयानि व्यदारयत्‌ । <br>
        नभश्च पृथिवीं चैव तुमुलो व्यनुनादयन्‌ ॥ १-१९ ॥ <br> <br>
    </div>
    आणि त्या भयानक आवाजाने आकाश व पृथ्वीला दुमदुमून टाकीत कौरवांची अर्थात आपल्या पक्षातील लोकांची छाती दडपून टाकली. ॥
    १-१९ ॥ <br> <br>

    <div class="adhayaText">
        अथ व्यवस्थितान्दृष्ट्वा धार्तराष्ट्रान्‌ कपिध्वजः । <br>
        प्रवृत्ते शस्त्रसम्पाते धनुरुद्यम्य पाण्डवः ॥ १-२० ॥ <br>
        हृषीकेशं तदा वाक्यमिदमाह महीपते । <br>
        अर्जुन उवाच । <br>
        सेनयोरुभयोर्मध्ये रथं स्थापय मेऽच्युत ॥ १-२१ ॥ <br> <br>
    </div>
    महाराज, त्यानंतर ध्वजावर हनुमान असणाऱ्या पांडवाने (अर्थात पांडुपुत्र अर्जुनाने) युद्धाच्या तयारीने उभ्या असलेल्या
    कौरवांना पाहून, शस्त्रांचा वर्षाव होण्याची वेळ आली तेव्हा धनुष्य उचलून, हृषीकेश श्रीकृष्णांना असे म्हटले, हे
    अच्युता, माझा रथ दोन्ही सैन्यांच्या मध्यभागी उभा करा. ॥ १-२०, १-२१ ॥ <br> <br>

    <div class="adhayaText">
        यावदेतान्निरीक्षेऽहं योद्धुकामानवस्थितान्‌ । <br>
        कैर्मया सह योद्धव्यमस्मिन्‌ रणसमुद्यमे ॥ १-२२ ॥ <br> <br>
    </div>
    मी रणभूमीवर युद्धाच्या इच्छेने सज्ज झालेल्या या शत्रुपक्षाकडील योद्ध्यांना जोवर नीट पाहून घेईन की, मला या युद्धाच्या
    उद्योगात कोणाकोणाशी लढणे योग्य आहे, तोवर रथ उभा करा. ॥ १-२२ ॥ <br> <br>

    <div class="adhayaText">
        योत्स्यमानानवेक्षेऽहं य एतेऽत्र समागताः । <br>
        धार्तराष्ट्रस्य दुर्बुद्धेर्युद्धे प्रियचिकीर्षवः ॥ १-२३ ॥ <br> <br>
    </div>
    दुष्टबुद्धी दुर्योधनाचे युद्धात हित करू इच्छिणारे जे जे हे राजे या सैन्यात आले आहेत, त्या योद्ध्यांना मी पाहातो. ॥
    १-२३ ॥ <br> <br>

    <div class="adhayaText">
        सञ्जय उवाच । <br>
        एवमुक्तो हृषीकेशो गुडाकेशेन भारत । <br>
        सेनयोरुभयोर्मध्ये स्थापयित्वा रथोत्तमम्‌ ॥ १-२४ ॥ <br>
        भीष्मद्रोणप्रमुखतः सर्वेषां च महीक्षिताम्‌ । <br>
        उवाच पार्थ पश्यैतान्‌ समवेतान्‌ कुरुनिति ॥ १-२५ ॥ <br> <br>
    </div>
    संजय म्हणाले, धृतराष्ट्र महाराज, अर्जुनाने असे सांगितल्यावर श्रीकृष्णांनी दोन्ही सैन्यांच्या मध्यभागी भीष्म,
    द्रोणाचार्य व इतर सर्व राजांच्या समोर तो उत्तम रथ उभा करून म्हटले, हे पार्था (अर्थात पृथापुत्र अर्जुना), युद्धासाठी
    जमलेल्या या कौरवांना पाहा. ॥ १-२४, १-२५ ॥ <br> <br>

    <div class="adhayaText">
        तत्रापश्यत्स्थितान्‌ पार्थः पितॄनथ पितामहान्‌ । <br>
        आचार्यान्मातुलान्‌ भ्रातॄन्‌ पुत्रान्‌ पौत्रान्‌ सखींस्तथा ॥ १-२६ ॥ <br>
        श्वशुरान्‌ सुहृदश्चैव सेनयोरुभयोरपि । <br> <br>
    </div>
    त्यानंतर पार्थाने (अर्थात पृथापुत्र अर्जुनाने) त्या दोन्ही सैन्यांमध्ये असलेल्या काका, आजे-पणजे, गुरू, मामा, भाऊ,
    मुलगे, नातू, मित्र, सासरे आणि हितचिंतक यांनाच पाहिले. ॥ १-२६, १-२७(पूर्वार्ध) ॥ <br> <br>

    <div class="adhayaText">
        तान्‌ समीक्ष्य स कौन्तेयः सर्वान्‌ बन्धूनवस्थितान्‌ ॥ १-२७ ॥ <br>
        कृपया परयाविष्टो विषीदन्निदमब्रवीत्‌ । <br> <br>
    </div>
    तेथे असलेल्या त्या सर्व बांधवांना पाहून अत्यंत करुणेने व्याप्त झालेला कुंतीपुत्र अर्जुन शोकाकुल होऊन असे म्हणाला ॥
    १-२७(उत्तरार्ध), १-२८(पूर्वार्ध) ॥ <br> <br>

    <div class="adhayaText">
        अर्जुन उवाच । <br>
        दृष्ट्वेमं स्वजनं कृष्ण युयुत्सुं समुपस्थितम्‌ ॥ १-२८ ॥ <br>
        सीदन्ति मम गात्राणि मुखं च परिशुष्यति । <br>
        वेपुथश्च शरीरे मे रोमहर्षश्च जायते ॥ १-२९ ॥ <br> <br>
    </div>
    अर्जुन म्हणाला, हे कृष्णा, युद्धाच्या इच्छेने रणांगणावर उपस्थित असणाऱ्या या स्वजनांना पाहून माझे अवयव गळून जात आहेत;
    तोंडाला कोरड पडली आहे; शरीराला कंप सुटला आहे आणि अंगावर रोमांच उभे राहात आहेत. ॥ १-२८(उत्तरार्ध), १-२९ ॥ <br> <br>

    <div class="adhayaText">
        गाण्डीवं स्रंसते हस्तात्त्वक्चैव परिदह्यते । <br>
        न च शक्नोम्यवस्थातुं भ्रमवतीव च मे मनः ॥ १-३० ॥ <br> <br>
    </div>
    हातातून गांडीव धनुष्य गळून पडत आहे, अंगाचा दाह होत आहे. तसेच माझे मन भ्रमिष्टासारखे झाले आहे. त्यामुळे मी उभा देखील
    राहू शकत नाही. ॥ १-३० ॥ <br> <br>

    <div class="adhayaText">
        निमित्तानि च पश्यामि विपरीतानि केशव । <br>
        न च श्रेयोऽनुपश्यामि हत्वा स्वजनमाहवे ॥ १-३१ ॥ <br> <br>
    </div>
    हे केशवा, मला विपरीत चिन्हे दिसत आहेत. युद्धात आप्तांना मारून कल्याण होईल, असे मला वाटत नाही. ॥ १-३१ ॥ <br> <br>

    <div class="adhayaText">
        न काङ्क्षे विजयं कृष्ण न च राज्यं सुखानि च । <br>
        किं नो राज्येन गोविन्द किं भोगैर्जीवितेन वा ॥ १-३२ ॥ <br> <br>
    </div>
    हे कृष्णा, मला तर विजयाची इच्छा नाही, राज्याची नाही की सुखांचीही नाही. हे गोविंदा, आम्हाला असे राज्य काय करायचे? अशा
    भोगांनी आणि जगण्याने तरी काय लाभ होणार आहे? ॥ १-३२ ॥ <br> <br>

    <div class="adhayaText">
        येषामर्थे काङ्क्षितं नो राज्यं भोगाः सुखानि च । <br>
        त इमेऽवस्थिता युद्धे प्राणांस्त्यक्त्वा धनानि च ॥ १-३३ ॥ <br> <br>
    </div>
    आम्हाला ज्यांच्यासाठी राज्य, भोग आणि सुखादी अपेक्षित आहेत, तेच हे सर्वजण संपत्तीची आणि जीविताची आशा सोडून युद्धात
    उभे ठाकले आहेत. ॥ १-३३ ॥ <br> <br>

    <div class="adhayaText">
        आचार्याः पितरः पुत्रास्तथैव च पितामहाः । <br>
        मातुलाः श्वशुराः पौत्राः श्यालाः सम्बन्धिनस्तथा ॥ १-३४ ॥ <br> <br>
    </div>
    गुरुजन, काका, मुलगे, आजे, मामा, सासरे, नातू, मेहुणे, त्याचप्रमाणे इतर आप्त आहेत. ॥ १-३४ ॥ <br> <br>

    <div class="adhayaText">
        एतान्न हन्तुमिच्छामि घ्नतोऽपि मधुसूदन । <br>
        अपि त्रैलोक्यराज्यस्य हेतोः किं नु महीकृते ॥ १-३५ ॥ <br> <br>
    </div>
    हे मधुसूदना, हे मला मारण्यास तयार झाले तरी किंवा त्रैलोक्याच्या राज्यासाठीही मी या सर्वांना मारु शकत नाही. मग या
    पृथ्वीची काय कथा? ॥ १-३५ ॥ <br> <br>

    <div class="adhayaText">
        निहत्य धार्तराष्ट्रान्नः का प्रीतिः स्याज्जनार्दन । <br>
        पापमेवाश्रयेदस्मान्‌ हत्वैतानाततायिनः ॥ १-३६ ॥ <br> <br>
    </div>
    हे जनार्दना, धृतराष्ट्राच्या मुलांना मारून आम्हाला कोणते सुख मिळणार? या आततायींना मारून आम्हाला पापच लागणार. ॥ १-३६
    ॥
    <br> <br>

    <div class="adhayaText">
        तस्मान्नार्हा वयं हन्तुं धार्तराष्ट्रान्‌ स्वबान्धवान्‌ । <br>
        स्वजनं हि कथं हत्वा सुखिनः स्याम माधव ॥ १-३७ ॥ <br> <br>
    </div>
    म्हणूनच हे माधवा, आपल्या बांधवांना, धृतराष्ट्रपुत्रांना, आम्ही मारणे योग्य नाही. कारण आपल्याच कुटुंबियांना मारून
    आम्ही कसे सुखी होणार? ॥ १-३७ ॥ <br> <br>

    <div class="adhayaText">
        यद्यप्येते न पश्यन्ति लोभोपहतचेतसः । <br>
        कुलक्षयकृतं दोषं मित्रद्रोहे च पातकम्‌ ॥ १-३८ ॥ <br>
        कथं न ज्ञेयमस्माभिः पापादस्मान्निवर्तितुम्‌ । <br>
        कुलक्षयकृतं दोषं प्रपश्यद्भिर्जनार्दन ॥ १-३९ ॥ <br> <br>
    </div>
    जरी लोभामुळे बुद्धी भ्रष्ट झालेल्या यांना कुळाचा नाश झाल्यामुळे उत्पन्न होणारा दोष आणि मित्राशी वैर करण्याचे पातक
    दिसत नसले तरी हे जनार्दना, कुळाच्या नाशाने उत्पन्न होणारा दोष स्पष्ट दिसत असतानाही आम्ही या पापापासून परावृत्त
    होण्याचा विचार का बरे करू नये? ॥ १-३८, १-३९ ॥ <br> <br>

    <div class="adhayaText">
        कुलक्षये प्रणश्यन्ति कुलधर्माः सनातनाः । <br>
        धर्मे नष्टे कुलं कृत्स्नमधर्मोऽभिभवत्युत ॥ १-४० ॥ <br> <br>
    </div>
    कुळाचा नाश झाला असता परंपरागत कुळधर्म नाहीसे होतात. कुळधर्म नाहीसे झाले असता त्या कुळात मोठ्या प्रमाणात पाप फैलावते.
    ॥ १-४० ॥ <br> <br>

    <div class="adhayaText">
        अधर्माभिभवात्कृष्ण प्रदुष्यन्ति कुलस्त्रियः । <br>
        स्त्रीषु दुष्टासु वार्ष्णेय जायते वर्णसङ्करः ॥ १-४१ ॥ <br> <br>
    </div>
    हे कृष्णा, पाप अधिक वाढल्याने कुळातील स्त्रिया अतिशय बिघडतात आणि हे वार्ष्णेया, स्त्रिया बिघडल्या असता वर्णसंकर
    उत्पन्न होतो. ॥ १-४१ ॥ <br> <br>

    <div class="adhayaText">
        सङ्करो नरकायैव कुलघ्नानां कुलस्य च । <br>
        पतन्ति पितरो ह्येषां लुप्तपिण्डोदकक्रियाः ॥ १-४२ ॥ <br> <br>
    </div>
    वर्णसंकर हा कुळाचा नाश करणाऱ्यांना आणि कुळाला नरकालाच नेतो. कारण श्राद्ध, जलतर्पण इत्यादींना मुकलेले यांचे पितर
    अधोगतीला जातात. ॥ १-४२ ॥ <br> <br>

    <div class="adhayaText">
        दोषैरेतैः कुलघ्नानां वर्णसङ्करकारकैः । <br>
        उत्साद्यन्ते जातिधर्माः कुलधर्माश्च शाश्वताः ॥ १-४३ ॥ <br> <br>
    </div>
    या वर्णसंकर करणाऱ्या दोषांमुळे परंपरागत जातिधर्म व कुळधर्म उध्वस्त होतात. ॥ १-४३ ॥ <br> <br>

    <div class="adhayaText">
        उत्सन्नकुलधर्माणां मनुष्याणां जनार्दन । <br>
        नरकेऽनियतं वासो भवतीत्यनुशुश्रुम ॥ १-४४ ॥ <br> <br>
    </div>
    हे जनार्दना, ज्यांचा कुळधर्म नाहीसा झाला आहे, अशा माणसांना अनिश्चित काळापर्यंत नरकात पडावे लागते, असे आम्ही ऎकत आलो
    आहोत. ॥ १-४४ ॥ <br> <br>

    <div class="adhayaText">
        अहो बत महत्पापं कर्तुं व्यवसिता वयम्‌ । <br>
        यद्राज्यसुखलोभेन हन्तुं स्वजनमुद्यताः ॥ १-४५ ॥ <br> <br>
    </div>
    अरेरे! किती खेदाची गोष्ट आहे! आम्ही बुद्धिमान असूनही राज्य आणि सुख यांच्या लोभाने स्वजनांना ठार मारायला तयार झालो,
    हे केवढे मोठे पाप करायला उद्युक्त झालो बरे! ॥ १-४५ ॥ <br> <br>

    <div class="adhayaText">
        यदि मामप्रतीकारमशस्त्रं शस्त्रपाणयः । <br>
        धार्तराष्ट्रा रणे हन्युस्तन्मे क्षेमतरं भवेत्‌ ॥ १-४६ ॥ <br> <br>
    </div>
    जरी शस्त्ररहित व प्रतिकार न करणाऱ्या मला हातात शस्त्र घेतलेल्या धृतराष्ट्रपुत्रांनी रणात ठार मारले, तरी ते मला अधिक
    कल्याणकारक ठरेल. ॥ १-४६ ॥ <br> <br>

    <div class="adhayaText">
        सञ्जय उवाच । <br>
        एवमुक्त्वार्जुनः सङ्ख्ये रथोपस्थ उपाविशत्‌ । <br>
        विसृज्य सशरं चापं शोकसंविग्नमानसः ॥ १-४७ ॥ <br> <br>
    </div>
    संजय म्हणाले, रणांगणावर दुःखाने मन उद्विग्न झालेला अर्जुन एवढे बोलून बाणासह धनुष्य टाकून देऊन रथाच्या मागील भागात
    बसला. ॥ १-४७ ॥ <br> <br>

    <div class="adhayaText">
        ॐ तत्सदिति श्रीमद्‌भगवद्‌गीतासूपनिषत्सु ब्रह्मविद्यायां योगशास्त्रे श्रीकृष्णार्जुनसंवादे
        अर्जुनविषादयोगो नाम प्रथमोऽध्यायः ॥ १ ॥<br> <br>
    </div>
    ॐ हे परमसत्य आहे. याप्रमाणे श्रीमद्‌भगवद्‌गीतारूपी उपनिषद तथा ब्रह्मविद्या आणि योगशास्त्राविषयी श्रीकृष्ण आणि अर्जुन
    यांच्या संवादातील अर्जुनविषादयोग नावाचा हा पहिला अध्याय समाप्त झाला. ॥ १ ॥<br> <br> <br>
</div>