<div>
  <br>
  <div class="adhayaTitle">॥ अक्षरब्रह्मयोग ॥ </div>
  <br>

  <div class="adhayaText">
    अर्जुन उवाच । <br>
    किं तद्ब्रह्म किमध्यात्मं किं कर्म पुरुषोत्तम । <br>
    अधिभूतं च किं प्रोक्तमधिदैवं किमुच्यते ॥ ८-१ ॥ <br> <br>
  </div>
  अर्जुन म्हणाला, हे पुरुषोत्तम श्रीकृष्णा, ते ब्रह्म काय आहे? अध्यात्म काय आहे? कर्म काय आहे? अधिभूत शब्दाने काय
  सांगितले आहे? आणि अधिदैव कशाला म्हणतात? ॥ ८-१ ॥ <br> <br>

  <div class="adhayaText">
    अधियज्ञः कथं कोऽत्र देहेऽस्मिन्मधुसूदन । <br>
    प्रयाणकाले च कथं ज्ञेयोऽसि नियतात्मभिः ॥ ८-२ ॥ <br>
  </div>
  हे मधुसूदना (श्रीकृष्णा), येथे अधियज्ञ कोण आहे? आणि तो या शरीरात कसा आहे? तसेच अंतकाळी युक्त चित्ताचे पुरुष तुम्हाला
  कसे जाणतात? ॥ ८-२ ॥ <br> <br>

  <div class="adhayaText">
    श्रीभगवानुवाच । <br>
    अक्षरं ब्रह्म परमं स्वभावोऽध्यात्ममुच्यते । <br>
    भूतभावोद्भवकरो विसर्गः कर्मसञ्ज्ञितः ॥ ८-३ ॥ <br> <br>
  </div>
  भगवान श्रीकृष्ण म्हणाले, परम अक्षर ब्रह्म आहे. आपले स्वरूप अर्थात जीवात्मा अध्यात्म नावाने सांगितला जातो. तसेच भूतांचे
  भाव उत्पन्न करणारा जो त्याग आहे, तो कर्म या नावाने संबोधला जातो. ॥ ८-३ ॥ <br> <br>

  <div class="adhayaText">
    अधिभूतं क्षरो भावः पुरुषश्चाधिदैवतम्‌ । <br>
    अधियज्ञोऽहमेवात्र देहे देहभृतां वर ॥ ८-४ ॥ <br> <br>
  </div>
  उत्पत्ती-विनाश असलेले सर्व पदार्थ अधिभूत आहेत. हिरण्यमय पुरुष अधिदैव आहे आणि हे देहधाऱ्यांमध्ये श्रेष्ठ अर्जुना, या
  शरीरात मी वासुदेवच अंतर्यामी रूपाने अधियज्ञ आहे. ॥ ८-४ ॥ <br> <br>

  <div class="adhayaText">
    अन्तकाले च मामेव स्मरन्मुक्त्वा कलेवरम्‌ । <br>
    यः प्रयाति स मद्भावं याति नास्त्यत्र संशयः ॥ ८-५ ॥ <br> <br>
  </div>
  जो पुरुष अंतकाळीही माझेच स्मरण करीत शरीराचा त्याग करून जातो, तो साक्षात माझ्या स्वरूपाला प्राप्त होतो, यात मुळीच संशय
  नाही. ॥ ८-५ ॥ <br> <br>

  <div class="adhayaText">
    यं यं वापि स्मरन्भावं त्यजत्यन्ते कलेवरम्‌ । <br>
    तं तमेवैति कौन्तेय सदा तद्भावभावितः ॥ ८-६ ॥ <br> <br>
  </div>
  हे कुंतीपुत्र अर्जुना, हा मनुष्य अंतकाळी ज्या ज्या भावाचे स्मरण करीत शरीराचा त्याग करतो, त्याला त्याला तो जाऊन मिळतो.
  कारण तो नेहमी त्याच भावाचे चिंतन करीत असतो. ॥ ८-६ ॥ <br> <br>

  <div class="adhayaText">
    तस्मात्सर्वेषु कालेषु मामनुस्मर युध्य च । <br>
    मय्यर्पितमनोबुद्धिर्मामेवैष्यस्यसंशयम्‌ ॥ ८-७ ॥ <br> <br>
  </div>
  म्हणून हे अर्जुना, तू सर्वकाळी निरंतर माझे स्मरण कर आणि युद्धही कर. अशा प्रकारे माझ्या ठिकाणी मन-बुद्धी अर्पण
  केल्यामुळे तू निःसंशय मलाच येऊन मिळशील. ॥ ८-७ ॥ <br> <br>

  <div class="adhayaText">
    अभ्यासयोगयुक्तेन चेतसा नान्यगामिना । <br>
    परमं पुरुषं दिव्यं याति पार्थानुचिन्तयन्‌ ॥ ८-८ ॥ <br> <br>
  </div>
  हे पार्था (अर्थात पृथापुत्र अर्जुना), असा नियम आहे की, परमेश्वराच्या ध्यानाच्या अभ्यासरूपी योगाने युक्त, दुसरीकडे न
  जाणाऱ्या चित्ताने निरंतर चिंतन करणारा मनुष्य, परम प्रकाशस्वरूप दिव्य पुरुषाला म्हणजे परमेश्वरालाच जाऊन मिळतो. ॥ ८-८ ॥
  <br> <br>

  <div class="adhayaText">
    कविं पुराणमनुशासितारमणोरणीयांसमनुस्मरेद्यः । <br>
    सर्वस्य धातारमचिन्त्यरूपमादित्यवर्णं तमसः परस्तात्‌ ॥ ८-९ ॥ <br> <br>
  </div>
  जो पुरुष सर्वज्ञ, अनादी, सर्वांचा नियामक, सूक्ष्माहूनही अतिसूक्ष्म, सर्वांचे धारण-पोषण करणारा, अतर्क्यस्वरूप,
  सूर्याप्रमाणे नेहमी चेतन प्रकाशरूप आणि अविद्येच्या अत्यंत पलीकडील अशा शुद्ध सच्चिदानंदघन परमेश्वराचे स्मरण करतो ॥ ८-९
  ॥ <br> <br>

  <div class="adhayaText">
    प्रयाणकाले मनसाचलेन भक्त्या युक्तो योगबलेन चैव । <br>
    भ्रुवोर्मध्ये प्राणमावेश्य सम्यक्‌ स तं परं पुरुषमुपैति दिव्यम्‌ ॥ ८-१० ॥ <br> <br>
  </div>
  तो भक्तियुक्त पुरुष अंतकाळीसुद्धा योगबलाने भुवयांच्या मध्यभागी प्राण चांगल्या रीतीने स्थापन करून मग निश्चल मनाने स्मरण
  करीत त्या दिव्यरूप परम पुरुष परमात्म्यालाच प्राप्त होतो. ॥ ८-१० ॥ <br> <br>

  <div class="adhayaText">
    यदक्षरं वेदविदो वदन्ति विशन्ति यद्यतयो वीतरागाः । <br>
    यदिच्छन्तो ब्रह्मचर्यं चरन्ति तत्ते पदं सङ्ग्रहेण प्रवक्ष्ये ॥ ८-११ ॥ <br> <br>
  </div>
  वेदवेत्ते विद्वान ज्या सच्चिदानंदघनरूप परमपदाला अविनाशी म्हणतात, आसक्ती नसलेले यत्‍नशील संन्यासी महात्मे ज्याच्यामध्ये
  प्रवेश करतात आणि ज्या परमपदाची इच्छा करणारे ब्रह्मचारी ब्रह्मचर्याचे आचरण करतात, ते परमपद मी तुला थोडक्यात सांगतो. ॥
  ८-११ ॥ <br> <br>

  <div class="adhayaText">
    सर्वद्वाराणि संयम्य मनो हृदि निरुध्य च । <br>
    मूर्ध्न्याधायात्मनः प्राणमास्थितो योगधारणाम्‌ ॥ ८-१२ ॥ <br>
    ओमित्येकाक्षरं ब्रह्म व्याहरन्मामनुस्मरन्‌ । <br>
    यः प्रयाति त्यजन्देहं स याति परमां गतिम्‌ ॥ ८-१३ ॥ <br> <br>
  </div>
  सर्व इंद्रियांची द्वारे अडवून मनाला हृदयाच्या ठिकाणी स्थिर करून नंतर जिंकलेल्या मनाने प्राण मस्तकात स्थापन करून
  परमात्मसंबंधी योगधारणेत स्थिर होऊन जो पुरुष ॐ या एक अक्षर रूप ब्रह्माचा उच्चार करीत आणि त्याचे अर्थस्वरूप निर्गुण
  ब्रह्म जो मी आहे त्याचे चिंतन करीत देह टाकून जातो, तो परम गतीला प्राप्त होतो. ॥ ८-१२, ८-१३ ॥ <br> <br>

  <div class="adhayaText">
    अनन्यचेताः सततं यो मां स्मरति नित्यशः । <br>
    तस्याहं सुलभः पार्थ नित्ययुक्तस्य योगिनः ॥ ८-१४ ॥ <br> <br>
  </div>
  हे पार्था (अर्थात पृथापुत्र अर्जुना), जो पुरुष माझ्या ठिकाणी अनन्यचित्त होऊन नेहमी मज पुरुषत्तमाचे स्मरण करतो, त्या
  नित्य माझ्याशी युक्त असलेल्या योग्याला मी सहज प्राप्त होणारा आहे. ॥ ८-१४ ॥ <br> <br>

  <div class="adhayaText">
    मामुपेत्य पुनर्जन्म दुःखालयमशाश्वतम्‌ । <br>
    नाप्नुवन्ति महात्मानः संसिद्धिं परमां गताः ॥ ८-१५ ॥ <br> <br>
  </div>
  परम सिद्धी मिळविलेले महात्मे एकदा मला प्राप्त झाल्यावर दुःखांचे आगार असलेल्या क्षणभंगुर पुनर्जन्माला जात नाहीत. ॥ ८-१५
  ॥ <br> <br>

  <div class="adhayaText">
    आब्रह्मभुवनाल्लोकाः पुनरावर्तिनोऽर्जुन । <br>
    मामुपेत्य तु कौन्तेय पुनर्जन्म न विद्यते ॥ ८-१६ ॥ <br> <br>
  </div>
  हे अर्जुना, ब्रह्मलोकापर्यंतचे सर्व लोक पुनरावर्ती आहेत. परंतु हे कौन्तेया(कुंतीपुत्र अर्जुना), मला प्राप्त झाल्यावर
  पुनर्जन्म होत नाही. (कारण मी कालातीत आहे आणि हे सर्व ब्रह्मादिकांचे लोक कालाने मर्यादित असल्याने अनित्य आहेत.) ॥ ८-१६
  ॥ <br> <br>

  <div class="adhayaText">
    सहस्रयुगपर्यन्तमहर्यद्ब्रह्मणो विदुः । <br>
    रात्रिं युगसहस्रान्तां तेऽहोरात्रविदो जनाः ॥ ८-१७ ॥ <br> <br>
  </div>
  ब्रह्मदेवाचा एक दिवस एक हजार चतुर्युगांचा असून रात्रही एक हजार चतुर्युगांची असते. जे योगी हे तत्त्वतः जाणतात, ते
  काळाचे स्वरूप जाणणारे होत. ॥ ८-१७ ॥ <br> <br>

  <div class="adhayaText">
    अव्यक्ताद्व्यक्तयः सर्वाः प्रभवन्त्यहरागमे । <br>
    रात्र्यागमे प्रलीयन्ते तत्रैवाव्यक्तसञ्ज्ञके ॥ ८-१८ ॥ <br> <br>
  </div>
  सर्व चराचर भूतसमुदाय ब्रह्मदेवाच्या दिवसाच्या आरंभी अव्यक्तापासून म्हणजे ब्रह्मदेवाच्या सूक्ष्म शरीरापासून उत्पन्न
  होतात आणि ब्रह्मदेवाच्या रात्रीच्या आरंभी त्या अव्यक्त नावाच्या ब्रह्मदेवाच्या सूक्ष्म शरीरात विलीन होतात. ॥ ८-१८ ॥
  <br> <br>

  <div class="adhayaText">
    भूतग्रामः स एवायं भूत्वा भूत्वा प्रलीयते । <br>
    रात्र्यागमेऽवशः पार्थ प्रभवत्यहरागमे ॥ ८-१९ ॥ <br> <br>
  </div>
  हे पार्था (अर्थात पृथापुत्र अर्जुना), तोच हा भूतसमुदाय पुन्हा पुन्हा उत्पन्न होऊन प्रकृतीच्या अधीन असल्यामुळे
  रात्रीच्या आरंभी विलीन होतो व दिवसाच्या आरंभी पुन्हा उत्पन्न होतो. ॥ ८-१९ ॥ <br> <br>

  <div class="adhayaText">
    परस्तस्मात्तु भावोऽन्योऽव्यक्तोऽव्यक्तात्सनातनः । <br>
    यः स सर्वेषु भूतेषु नश्यत्सु न विनश्यति ॥ ८-२० ॥ <br> <br>
  </div>
  त्या अव्यक्ताहून फार पलीकडचा दुसरा अर्थात विलक्षण जो सनातन अव्यक्त भाव आहे, तो परम दिव्य पुरुष सर्व भूते नाहीशी झाली,
  तरी नाहीसा होत नाही. ॥ ८-२० ॥ <br> <br>

  <div class="adhayaText">
    अव्यक्तोऽक्षर इत्युक्तस्तमाहुः परमां गतिम्‌ । <br>
    यं प्राप्य न निवर्तन्ते तद्धाम परमं मम ॥ ८-२१ ॥ <br> <br>
  </div>
  त्याला अव्यक्त, अक्षर असे म्हणतात. त्यालाच श्रेष्ठ गती म्हणतात. ज्या सनातन अव्यक्त भावाला प्राप्त झाल्यावर मनुष्य परत
  येत नाही, ते माझे सर्वश्रेष्ठ स्थान होय. ॥ ८-२१ ॥ <br> <br>

  <div class="adhayaText">
    पुरुषः स परः पार्थ भक्त्या लभ्यस्त्वनन्यया । <br>
    यस्यान्तः स्थानि भूतानि येन सर्वमिदं ततम्‌ ॥ ८-२२ ॥ <br> <br>
  </div>
  हे पार्था (अर्थात पृथापुत्र अर्जुना), ज्या परमात्म्याच्या ठिकाणी सर्व भूते आहेत आणि ज्या सच्चिदानंदघन परमात्म्याने हे
  सर्व जग व्यापले आहे, तो सनातन अव्यक्त परम पुरुष अनन्य भक्तीनेच प्राप्त होणारा आहे. ॥ ८-२२ ॥ <br> <br>

  <div class="adhayaText">
    यत्र काले त्वनावृत्तिमावृत्तिं चैव योगिनः । <br>
    प्रयाता यान्ति तं कालं वक्ष्यामि भरतर्षभ ॥ ८-२३ ॥ <br> <br>
  </div>
  हे भरतवंशीयांमध्ये श्रेष्ठ अर्जुना, ज्या काळी शरीराचा त्याग करून गेलेले योगी परत जन्माला न येणाऱ्या गतीला प्राप्त
  होतात आणि ज्या काळी गेलेले परत जन्माला येणाऱ्या गतीला प्राप्त होतात, तो काळ अर्थात दोन मार्ग मी सांगेन. ॥ ८-२३ ॥ <br>
  <br>

  <div class="adhayaText">
    अग्निर्ज्योतिरहः शुक्लः षण्मासा उत्तरायणम्‌ । <br>
    तत्र प्रयाता गच्छन्ति ब्रह्म ब्रह्मविदो जनाः ॥ ८-२४ ॥ <br> <br>
  </div>
  ज्या मार्गात ज्योतिर्मय अग्नीची अभिमानी देवता आहे, दिवसाची अभिमानी देवता आहे, शुक्लपक्षाची अभिमानी देवता आहे आणि
  उत्तरायणाच्या सहा महिन्यांची अभिमानी देवता आहे, त्या मार्गात मेल्यावर गेलेले ब्रह्मज्ञानी योगी वरील देवतांकडून क्रमाने
  नेले जाऊन ब्रह्माला प्राप्त होतात. ॥ ८-२४ ॥ <br> <br>

  <div class="adhayaText">
    धूमो रात्रिस्तथा कृष्णः षण्मासा दक्षिणायनम्‌ । <br>
    तत्र चान्द्रमसं ज्योतिर्योगी प्राप्य निवर्तते ॥ ८-२५ ॥ <br> <br>
  </div>
  ज्या मार्गात धुराची अभिमानी देवता आहे, रात्रीची अभिमानी देवता आहे, कृष्णपक्षाची अभिमानी देवता आहे आणि दक्षिणायनाच्या
  सहा महिन्यांची अभिमानी देवता आहे, त्या मार्गात मेल्यावर गेलेला सकाम कर्म करणारा योगी वरील देवतांकडून नेला जातो. पुढे
  तो चंद्रतेजाला प्राप्त होऊन स्वर्गात आपल्या शुभ कर्मांची फळे भोगून परत येतो. ॥ ८-२५ ॥ <br> <br>

  <div class="adhayaText">
    शुक्लकृष्णे गती ह्येते जगतः शाश्वते मते । <br>
    एकया यात्यनावृत्तिमन्ययावर्तते पुनः ॥ ८-२६ ॥ <br> <br>
  </div>
  कारण जगाचे हे दोन प्रकारचे शुक्ल व कृष्ण अर्थात देवयान व पितृयान मार्ग सनातन मानले गेले आहेत. यांतील ज्या मार्गाने
  गेले असता परत यावे लागत नाही, अशा मार्गाने गेलेला त्या परम गतीला प्राप्त होतो आणि दुसऱ्या मार्गाने गेलेला पुन्हा परत
  येतो म्हणजे जन्म-मृत्यूला प्राप्त होतो. ॥ ८-२६ ॥ <br> <br>

  <div class="adhayaText">
    नैते सृती पार्थ जानन्योगी मुह्यति कश्चन । <br>
    तस्मात्सर्वेषु कालेषु योगयुक्तो भवार्जुन ॥ ८-२७ ॥ <br> <br>
  </div>
  हे पार्था (अर्थात पृथापुत्र अर्जुना), अशा रीतीने या दोन मार्गांना तत्त्वतः जाणल्यावर कोणीही योगी मोह पावत नाही. म्हणून
  हे अर्जुना, तू सर्व काळी समबुद्धिरूप योगाने युक्त हो अर्थात नेहमी माझ्या प्राप्तीसाठी साधन करणारा हो. ॥ ८-२७ ॥ <br>
  <br>

  <div class="adhayaText">
    वेदेषु यज्ञेषु तपःसु चैव दानेषु यत्पुण्यफलं प्रदिष्टम्‌ । <br>
    अत्येति तत्सर्वमिदं विदित्वा योगी परं स्थानमुपैति चाद्यम्‌ ॥ ८-२८ ॥ <br> <br>
  </div>
  योगी पुरुष या रहस्याला तत्त्वतः जाणून, वेदांचे पठण, यज्ञ, तप, दान इत्यादी करण्याचे जे पुण्यफळ सांगितले आहे, त्या
  सर्वाला निःसंशय ओलांडून जातो आणि सनातन परमपदाला पोहोचतो. ॥ ८-२८ ॥ <br> <br>

  <div class="adhayaText">
    ॐ तत्सदिति श्रीमद्‌भगवद्‌गीतासूपनिषत्सु ब्रह्मविद्यायां योगशास्त्रे श्रीकृष्णार्जुनसंवादे
    अक्षरब्रह्मयोगो नामाष्टमोऽध्यायः ॥ ८ ॥ <br> <br>
  </div>
  ॐ हे परमसत्य आहे. याप्रमाणे श्रीमद्‌भगवद्‌गीतारूपी उपनिषद तथा ब्रह्मविद्या आणि योगशास्त्राविषयी श्रीकृष्ण आणि अर्जुन
  यांच्या संवादातील अक्षरब्रह्मयोग नावाचा हा आठवा अध्याय समाप्त झाला. ॥ ८ ॥ <br> <br> <br>
</div>