<div>
  <br>
  <div class="adhayaTitle">॥ भक्तियोग ॥ </div>
  <br>

  <div class="adhayaText">
    अर्जुन उवाच । <br>
    एवं सततयुक्ता ये भक्तास्त्वां पर्युपासते । <br>
    ये चाप्यक्षरमव्यक्तं तेषां के योगवित्तमाः ॥ १२-१ ॥ <br> <br>
  </div>
  अर्जुन म्हणाला, जे अनन्यप्रेमी भक्तजन पूर्वी सांगितलेल्या आपल्या भजन, ध्यानात निरंतर मग्न राहून आपणा सगुणरूप
  परमेश्वराची आणि दुसरे जे केवळ अविनाशी सच्चिदानंदघन निराकार ब्रह्माचीच अतिश्रेष्ठ भावाने उपासना करतात, त्या दोन्ही
  प्रकारच्या भक्तांमध्ये अतिशय उत्तम योगवेत्ते कोण होत? ॥ १२-१ ॥ <br> <br>

  <div class="adhayaText">
    श्रीभगवानुवाच । <br>
    मय्यावेश्य मनो ये मां नित्ययुक्ता उपासते । <br>
    श्रद्धा परयोपेतास्ते मे युक्ततमा मताः ॥ १२-२ ॥ <br> <br>
  </div>
  भगवान श्रीकृष्ण म्हणाले, माझ्या ठिकाणी मन एकाग्र करून निरंतर माझ्या भजन, ध्यानात रत झालेले जे भक्तजन अतिशय श्रेष्ठ
  श्रद्धेने युक्त होऊन मज सगुणरूप परमेश्वराला भजतात, ते मला योग्यांमधील अतिउत्तम योगी वाटतात. ॥ १२-२ ॥ <br> <br>

  <div class="adhayaText">
    ये त्वक्षरमनिर्देश्यमव्यक्तं पर्युपासते । <br>
    सर्वत्रगमचिन्त्यं च कूटस्थमचलं ध्रुवम्‌ ॥ १२-३ ॥ <br>
    सन्नियम्येन्द्रियग्रामं सर्वत्र समबुद्धयः । <br>
    ते प्राप्नुवन्ति मामेव सर्वभूतहिते रताः ॥ १२-४ ॥ <br> <br>
  </div>
  परंतु जे पुरुष इंद्रियसमूहाला चांगल्या प्रकारे ताब्यात ठेवून मन, बुद्धीच्या पलीकडे असणाऱ्या, सर्वव्यापी, अवर्णनीय
  स्वरूप आणि नेहमी एकरूप असणाऱ्या नित्य, अचल, निराकार, अविनाशी, सच्चिदानंदघन ब्रह्माची निरंतर ऐक्यभावनेने ध्यान करीत
  उपासना करतात, ते सर्व भूतमात्रांच्या कल्याणात तत्पर आणि सर्वांच्या ठिकाणी समान भाव ठेवणारे योगी मलाच येऊन मिळतात. ॥
  १२-३, १२-४ ॥ <br> <br>

  <div class="adhayaText">
    क्लेशोऽधिकतरस्तेषामव्यक्तासक्तचेतसाम्‌ ॥ <br>
    अव्यक्ता हि गतिर्दुःखं देहवद्भिरवाप्यते ॥ १२-५ ॥ <br> <br>
  </div>
  सच्चिदानंदघन निराकार ब्रह्मांत चित्त गुंतलेल्या त्या पुरुषांच्या साधनांत कष्ट जास्त आहेत. कारण देहाचा अभिमान
  असणाऱ्यांकडून अव्यक्त ब्रह्माची प्राप्ती कष्टानेच होत असते. ॥ १२-५ ॥ <br> <br>

  <div class="adhayaText">
    ये तु सर्वाणि कर्माणि मयि संन्यस्य मत्पराः । <br>
    अनन्येनैव योगेन मां ध्यायन्त उपासते ॥ १२-६ ॥ <br> <br>
  </div>
  परंतु जे मत्परायण भक्तजन सर्व कर्मे माझ्या ठिकाणी अर्पण करून मज सगुणरूप परमेश्वराचीच अनन्य भक्तियोगाने निरंतर चिंतन
  करीत उपासना करतात ॥ १२-६ ॥ <br> <br>

  <div class="adhayaText">
    तेषामहं समुद्धर्ता मृत्युसंसारसागरात्‌ । <br>
    भवामि नचिरात्पार्थ मय्यावेशितचेतसाम्‌ ॥ १२-७ ॥ <br> <br>
  </div>
  हे पार्था (अर्थात पृथापुत्र अर्जुना), त्या माझ्यात चित्त गुंतवलेल्या प्रेमी भक्तांचा मी तत्काळ मृत्युरूप संसारसागरातून
  उद्धार करणारा होतो. ॥ १२-७ ॥ <br> <br>

  <div class="adhayaText">
    मय्येव मन आधत्स्व मयि बुद्धिं निवेशय । <br>
    निवसिष्यसि मय्येव अत ऊर्ध्वं न संशयः ॥ १२-८ ॥ <br> <br>
  </div>
  माझ्यातच मन ठेव. माझ्या ठिकाणीच बुद्धी स्थापन कर. म्हणजे मग तू माझ्यातच राहशील, यात मुळीच संशय नाही. ॥ १२-८ ॥ <br>
  <br>

  <div class="adhayaText">
    अथ चित्तं समाधातुं न शक्नोषि मयि स्थिरम्‌ । <br>
    अभ्यासयोगेन ततो मामिच्छाप्तुं धनञ्जय ॥ १२-९ ॥ <br> <br>
  </div>
  जर तू माझ्यात मन निश्चल ठेवायला समर्थ नसशील, तर हे धनंजया (अर्थात अर्जुना), अभ्यासरूप योगाने मला प्राप्त होण्याची
  इच्छा कर. ॥ १२-९ ॥ <br> <br>

  <div class="adhayaText">
    अभ्यासेऽप्यसमर्थोऽसि मत्कर्मपरमो भव । <br>
    मदर्थमपि कर्माणि कुर्वन्सिद्धिमवाप्स्यसि ॥ १२-१० ॥ <br> <br>
  </div>
  जर तू वर सांगितलेल्या अभ्यासालाही असमर्थ असशील, तर केवळ माझ्याकरता कर्म करायला परायण हो. अशा रीतीने माझ्यासाठी कर्मे
  केल्यानेही माझ्या प्राप्तीची सिद्धी तू मिळवशील. ॥ १२-१० ॥ <br> <br>

  <div class="adhayaText">
    अथैतदप्यशक्तोऽसि कर्तुं मद्योगमाश्रितः । <br>
    सर्वकर्मफलत्यागं ततः कुरु यतात्मवान्‌ ॥ १२-११ ॥ <br> <br>
  </div>
  जर माझ्या प्राप्तिरूप योगाचा आश्रय करून वर सांगितलेले साधन करायलाही तू असमर्थ असशील, तर मन बुद्धी इत्यादींवर विजय
  मिळविणारा होऊन सर्व कर्मांच्या फळांचा त्याग कर. ॥ १२-११ ॥ <br> <br>

  <div class="adhayaText">
    श्रेयो हि ज्ञानमभ्यासाञ्ज्ञानाद्ध्यानं विशिष्यते । <br>
    ध्यानात्कर्मफलत्यागस्त्यागाच्छान्तिरनन्तरम्‌ ॥ १२-१२ ॥ <br> <br>
  </div>
  मर्म न जाणता केलेल्या अभ्यासापेक्षा ज्ञान श्रेष्ठ आहे. ज्ञानापेक्षा मज परमेश्वराच्या स्वरूपाचे ध्यान श्रेष्ठ आहे आणि
  ध्यानापेक्षाही सर्व कर्मांच्या फळांचा त्याग श्रेष्ठ आहे. कारण त्यागाने ताबडतोब परम शांती मिळते. ॥ १२-१२ ॥ <br> <br>

  <div class="adhayaText">
    अद्वेष्टा सर्वभूतानां मैत्रः करुण एव च । <br>
    निर्ममो निरहङ्कारः समदुःखसुखः क्षमी ॥ १२-१३ ॥ <br>
    सन्तुष्टः सततं योगी यतात्मा दृढनिश्चयः । <br>
    मय्यर्पितमनोबुद्धिर्यो मद्भक्तः स मे प्रियः ॥ १२-१४ ॥ <br> <br>
  </div>
  जो कोणत्याही भूताचा द्वेष न करणारा, स्वार्थरहित, सर्वांवर प्रेम करणारा व अकारण दया करणारा, माझेपणा व मीपणा नसलेला,
  दुःखात व सुखात समभाव असलेला आणि क्षमावान म्हणजे अपराध करणाऱ्यालाही (त्याच्या पश्चातापानंतर) अभय देणारा असतो; तसेच जो
  योगी नेहमी संतुष्ट असतो, ज्याने शरीर, मन व इंद्रिये ताब्यात ठेवलेली असतात, ज्याची माझ्यावर दृढ श्रद्धा असते, तो मन व
  बुद्धी मलाच अर्पण केलेला माझा भक्त मला प्रिय आहे. ॥ १२-१३, १२-१४ ॥ <br> <br>

  <div class="adhayaText">
    यस्मान्नोद्विजते लोको लोकान्नोद्विजते च यः । <br>
    हर्षामर्षभयोद्वेगैर्मुक्तो यः स च मे प्रियः ॥ १२-१५ ॥ <br> <br>
  </div>
  ज्याच्यापासून कोणत्याही जीवाला उद्वेग होत नाही तसेच ज्याला कोणत्याही जीवाचा उद्वेग होत नाही, जो हर्ष, मत्सर, भीती आणि
  उद्वेग इत्यादींपासून मुक्त असतो, तो भक्त मला प्रिय आहे. ॥ १२-१५ ॥ <br> <br>

  <div class="adhayaText">
    अनपेक्षः शुचिर्दक्ष उदासीनो गतव्यथः । <br>
    सर्वारम्भपरित्यागी यो मद्भक्तः स मे प्रियः ॥ १२-१६ ॥ <br> <br>
  </div>
  ज्याला कशाची अपेक्षा नाही, जो अंतर्बाह्य शुद्ध, चतुर, तटस्थ आणि दुःखमुक्त आहे, असा कर्तृत्वाचा अभिमान न बाळगणारा माझा
  भक्त मला प्रिय आहे. ॥ १२-१६ ॥ <br> <br>

  <div class="adhayaText">
    यो न हृष्यति न द्वेष्टि न शोचति न काङ्क्षति । <br>
    शुभाशुभपरित्यागी भक्तिमान्यः स मे प्रियः ॥ १२-१७ ॥ <br> <br>
  </div>
  जो कधी हर्षयुक्त होत नाही, द्वेष करीत नाही, शोक करीत नाही, इच्छा करीत नाही, तसेच जो शुभ व अशुभ सर्व कर्मांचा त्याग
  करणारा आहे, तो भक्तियुक्त पुरुष मला प्रिय आहे. ॥ १२-१७ ॥ <br> <br>

  <div class="adhayaText">
    समः शत्रौ च मित्रे च तथा मानापमानयोः । <br>
    शीतोष्णसुखदुःखेषु समः सङ्गविवर्जितः ॥ १२-१८ ॥ <br> <br>
  </div>
  जो शत्रू-मित्र आणि मान-अपमान यांविषयी समभाव बाळगतो, तसेच थंडी-ऊन, सुख-दुःख इत्यादी द्वंद्वांत ज्याची वृत्ती सारखीच
  राहते, ज्याला आसक्ती नसते ॥ १२-१८ ॥ <br> <br>

  <div class="adhayaText">
    तुल्यनिन्दास्तुतिर्मौनी सन्तुष्टो येन केनचित्‌ । <br>
    अनिकेतः स्थिरमतिर्भक्तिमान्मे प्रियो नरः ॥ १२-१९ ॥ <br> <br>
  </div>
  ज्याला निंदा-स्तुती सारखीच वाटते, जो ईशस्वरूपाचे मनन करणारा असतो, जो जे काही मिळेल त्यानेच शरीरनिर्वाह होण्याने नेहमी
  समाधानी असतो, निवासस्थानाविषयी ज्याला ममता किंवा आसक्ती नसते, तो स्थिर बुद्धी असणारा भक्तिमान पुरुष मला प्रिय असतो. ॥
  १२-१९ ॥ <br> <br>

  <div class="adhayaText">
    ये तु धर्म्यामृतमिदं यथोक्तं पर्युपासते । <br>
    श्रद्दधाना मत्परमा भक्तास्तेऽतीव मे प्रियाः ॥ १२-२० ॥ <br> <br>
  </div>
  परंतु जे श्रद्धाळू पुरुष मत्परायण होऊन या वर सांगितलेल्या धर्ममय अमृताचे निष्काम प्रेमभावनेने सेवन करतात, ते भक्त मला
  अतिशय प्रिय आहेत. ॥ १२-२० ॥ <br> <br>

  <div class="adhayaText">
    ॐ तत्सदिति श्रीमद्‌भगवद्‌गीतासूपनिषत्सु ब्रह्मविद्यायां योगशास्त्रे श्रीकृष्णार्जुनसंवादे
    भक्तियोगो नाम द्वादशोऽध्यायः ॥ १२ ॥ <br> <br>
  </div>
  ॐ हे परमसत्य आहे. याप्रमाणे श्रीमद्‌भगवद्‌गीतारूपी उपनिषद तथा ब्रह्मविद्या आणि योगशास्त्राविषयी श्रीकृष्ण आणि अर्जुन
  यांच्या संवादातील भक्तियोग नावाचा हा बारावा अध्याय समाप्त झाला. ॥ १२ ॥ <br> <br> <br>
</div>