<div class="dialogTitle" [ngStyle]="setting.getHeaderStyle()">
  <input type="image" src="assets\icon\back.png" (click)="closeDialog()" alt="Submit" align="left"
    class="dialogBackBtn">
  Summary of Bhagavad Gita<br>
  <div style="font-size:13px;">In everyone’s life also, the Bhagavad Gita happen.</div>
</div>
<br>

<div class="dialogPage" [ngStyle]="setting.getDialogPageStyle()">
  <div class="dialogText">
    <b>Chapter 1: Visada Yoga</b> <br>
    The first chapter is where you regret and say, “I am powerless and I give up”. <br> <br>

    <b>Chapter 2: Sankhya Yoga</b> <br>
    The second chapter in your life is when someone wakes you up and says, “Hey come on! There’s nothing to regret in
    life. There is something in you that doesn’t change and you have the power to sail over all this”. Then you wake up
    and you felt good. <br> <br>

    <b>Chapter 3: Karma Yoga</b> <br>
    The third chapter tells you to act. Don’t sit and worry, ‘What about me? What about me? ?’ Go and act, this is Karma
    Yoga. <br> <br>

    <b>Chapter 4: Jnana Yoga</b> <br>
    The fourth chapter tells you, now that you are acting you must also listen to knowledge. Don’t become like a machine
    and only act, listen to knowledge as well . There is something beyond all this. <br> <br>

    <b>Chapter 5: Karma Vairagya Yoga</b> <br>
    The fifth chapter tells you about material and spiritual knowledge. You cannot say, “Everything is being done and
    there is nothing for me to do”, or you cannot think, “I am doing everything. I did this and I did that”. This is not
    going to work for you. Wake up and see, are things happening or are you really doing it? <br> <br>

    <b>Chapter 6: Abhyasa Yoga</b> <br>
    Then the sixth chapter is when you learn to meditate. <br> <br>

    <b>Chapter 7: Paramahamsa Vijnana Yoga</b> <br>
    The seventh chapter tells you, now that you’re meditating, you should know the author of meditation and the one who
    is meditating in you. ‘Who am I? What is time?’ Knowing all about science. <br> <br>

    <b>Chapter 10: Vibhuti-Vistara-Yoga</b> <br>
    Like that it goes on! When you meditate miracles happen in your life. Wake up and see the miracles! Many don’t
    observe miracles, nor believe in it. If you recognize it and believe in it then it happens even more! Give a chance
    for miracles to happen, don’t be so steeped in the material cause and effect — ‘I did this so this will happen’, or
    ‘I did that and only that will happen’, no! You did it but something else can also happen out of the blue!
    Recognizing that ‘something different’ is Vibhuti. Vibhuti means giving a chance for miracles in your life,
    exploring it. <br> <br>

    <b>Chapter 11: Visvarupa-Darsana Yoga</b> <br>
    Then after that is knowing the universal self and knowing that everything is in me and I am in everything. <br> <br>

    <b>Chapter 12: Bhakti Yoga</b> <br>
    Then comes love and devotion. You know and understand all this, but then what? It is not enough. You should be in
    deep love! When you know that the divine loves you, you cannot but fall in love with divine!That’s the 12th chapter.
    <br> <br>

    <b>Chapter 13: Ksetra-Ksetrajna Vibhaga Yoga</b> <br>
    Then you understand what are the divine qualities and what are the demonic qualities and you realize that you have
    all the divine qualities in you. <br> <br>

    <b>Chapter 14: Gunatraya-Vibhaga Yoga</b> <br>
    Then there are the three qualities or Gunas (Sattvic, Rajasic and Tamasic) to everything: mind, ego and food.
    Sattavic ego is, “I am everything and everybody”. The Tamasic ego is knowing that you are only this body, and the
    Rajasic ego is having a limited mindset and falling into craving and aversion. <br> <br>

    <b>Chapter 18: Moksa-Opadesa Yoga</b> <br>
    The final chapter is knowing that you cannot wash your own sins. Drop them and understand what is being said, “I am
    here to take care of your sins. Feel that you are mine, be connected to me and I will take care of everything. Just
    relax!’<br>
    This is sanyaasa or liberation. <br> <br>
  </div>
</div>