<div>
  <br>
  <div class="adhayaTitle">॥ कर्मसंन्यासयोग ॥ </div>
  <br>

  <div class="adhayaText">
    अर्जुन उवाच । <br>
    संन्यासं कर्मणां कृष्ण पुनर्योगं च शंससि । <br>
    यच्छ्रेय एतयोरेकं तन्मे ब्रूहि सुनिश्चितम्‌ ॥ ५-१ ॥ <br> <br>
  </div>
  अर्जुन म्हणाला, हे कृष्णा, तुम्ही कर्मे टाकण्याची आणि फिरून कर्मयोगाची प्रशंसा करता! तेव्हा या दोहोंपैकी माझ्यासाठी
  अगदी निश्चित कल्याणकारक जे एक साधन असेल, ते सांगा. ॥ ५-१ ॥ <br> <br>

  <div class="adhayaText">
    श्रीभगवानुवाच । <br>
    संन्यासः कर्मयोगश्च निःश्रेयसकरावुभौ । <br>
    तयोस्तु कर्मसंन्यासात्कर्मयोगो विशिष्यते ॥ ५-२ ॥ <br> <br>
  </div>
  भगवान श्रीकृष्ण म्हणाले, कर्मसंन्यास आणि कर्मयोग हे दोन्हीही परम कल्याण करणारेच आहेत. परंतु या दोहोतही संन्यासाहून
  कर्मयोग साधण्यास सोपा असल्याने श्रेष्ठ आहे. ॥ ५-२ ॥ <br> <br>

  <div class="adhayaText">
    ज्ञेयः स नित्यसंन्यासी यो न द्वेष्टि न काङ्क्षति । <br>
    निर्द्वन्द्वो हि महाबाहो सुखं बन्धात्प्रमुच्यते ॥ ५-३ ॥ <br> <br>
  </div>
  हे महाबाहो अर्जुना, जो मनुष्य कोणाचा द्वेष करीत नाही आणि कशाची अपेक्षा करीत नाही, तो कर्मयोगी नेहमीच संन्यासी समजावा.
  कारण राग-द्वेष इत्यादी द्वंद्वांनी रहित असलेला मनुष्य सुखाने संसारबंधनातून मुक्त होतो. ॥ ५-३ ॥ <br> <br>

  <div class="adhayaText">
    सांख्ययोगौ पृथग्बालाः प्रवदन्ति न पण्डिताः । <br>
    एकमप्यास्थितः सम्यगुभयोर्विन्दते फलम्‌ ॥ ५-४ ॥ <br> <br>
  </div>
  वर सांगितलेले संन्यास आणि कर्म योग वेगवेगळी फळे देणारे आहेत, असे मूर्ख लोक म्हणतात; पंडित नव्हेत. कारण दोहोंपैकी
  एकाच्या ठिकाणीसुद्धा उत्तम प्रकारे स्थित असलेला मनुष्य दोहोंचे फलस्वरूप असलेल्या परमात्म्याला प्राप्त होतो. ॥ ५-४ ॥
  <br> <br>

  <div class="adhayaText">
    यत्सांख्यैः प्राप्यते स्थानं तद्योगैरपि गम्यते । <br>
    एकं सांख्यं च योगं च यः पश्यति स पश्यति ॥ ५-५ ॥ <br> <br>
  </div>
  ज्ञानयोग्यांना जे परमधाम प्राप्त होते; तेच कर्मयोग्यांनाही प्राप्त होते. म्हणून जो मनुष्य ज्ञानयोग आणि कर्मयोग हे
  फळाच्या दृष्टीने एकच आहेत, असे पाहतो, तोच खऱ्या अर्थाने पाहतो. ॥ ५-५ ॥ <br> <br>

  <div class="adhayaText">
    संन्यासस्तु महाबाहो दुःखमाप्तुमयोगतः । <br>
    योगयुक्तो मुनिर्ब्रह्म नचिरेणाधिगच्छति ॥ ५-६ ॥ <br> <br>
  </div>
  परंतु हे महाबाहो अर्जुना, कर्मयोगाशिवाय मन इंद्रिये व शरीर यांच्याकडून होणाऱ्या सर्व कर्मांच्या बाबतीत कर्तेपणाचा
  त्याग होणे कठीण आहे. आणि भगवत्स्वरूपाचे चिंतन करणारा कर्मयोगी परब्रह्म परमात्म्याला फार लवकर प्राप्त होतो. ॥ ५-६ ॥
  <br> <br>

  <div class="adhayaText">
    योगयुक्तो विशुद्धात्मा विजितात्मा जितेन्द्रियः । <br>
    सर्वभूतात्मभूतात्मा कुर्वन्नपि न लिप्यते ॥ ५-७ ॥ <br> <br>
  </div>
  ज्याचे मन स्वतःच्या ताब्यात आहे, जो इंद्रियनिग्रही आणि शुद्ध अंतःकरणाचा आहे, तसेच सर्व सजीवांचा आत्मरूप परमात्माच
  ज्याचा आत्मा आहे, असा कर्मयोगी कर्मे करूनही अलिप्त राहातो. ॥ ५-७ ॥ <br> <br>

  <div class="adhayaText">
    नैव किञ्चित्करोमीति युक्तो मन्येत तत्त्ववित्‌ । <br>
    पश्यञ्शृण्वन्स्पृशञ्जिघ्रन्नश्नन्गच्छन्स्वपञ्श्वसन्‌ ॥ ५-८ ॥ <br>
    प्रलपन्विसृजन्गृह्णन्नुन्मिषन्निमिषन्नपि । <br>
    इन्द्रियाणीन्द्रियार्थेषु वर्तन्त इति धारयन्‌ ॥ ५-९ ॥ <br> <br>
  </div>
  सांख्यायोगी तत्त्ववेत्त्याने पाहात असता, ऐकत असता, स्पर्श करीत असता, वास घेत असता, भोजन करीत असता, चालत असता, झोपत
  असता, श्वासोच्छ्वास करीत असता, बोलत असता, टाकीत असता, घेत असता, तसेच डोळ्यांनी उघडझाप करीत असतानाही सर्व इंद्रिये
  आपापल्या विषयांत वावरत आहेत, असे समजून निःसंशय असे मानावे की, मी काहीच करीत नाही. ॥ ५-८, ५-९ ॥ <br> <br>

  <div class="adhayaText">
    ब्रह्मण्याधाय कर्माणि सङ्गं त्यक्त्वा करोति यः । <br>
    लिप्यते न स पापेन पद्मपत्रमिवाम्भसा ॥ ५-१० ॥ <br> <br>
  </div>
  जो पुरुष सर्व कर्मे परमात्म्याला अर्पण करून आणि आसक्ती सोडून कर्मे करतो, तो पुरुष पाण्यातील कमलपत्राप्रमाणे पापाने
  लिप्त होत नाही. ॥ ५-१० ॥ <br> <br>

  <div class="adhayaText">
    कायेन मनसा बुद्ध्या केवलैरिन्द्रियैरपि । <br>
    योगिनः कर्म कुर्वन्ति सङ्गं त्यक्त्वात्मशुद्धये ॥ ५-११ ॥ <br> <br>
  </div>
  कर्मयोगी ममत्वबुद्धी सोडून केवळ अंतःकरणाच्या शुद्धीसाठी इंद्रिये, मन, बुद्धी आणि शरीर यांच्याद्वारे आसक्ती सोडून कर्म
  करतात. ॥ ५-११ ॥ <br> <br>

  <div class="adhayaText">
    युक्तः कर्मफलं त्यक्त्वा शान्तिमाप्नोति नैष्ठिकीम्‌ । <br>
    अयुक्तः कामकारेण फले सक्तो निबध्यते ॥ ५-१२ ॥ <br> <br>
  </div>
  कर्मयोगी कर्मांच्या फळांचा त्याग करून भगवत्‌प्राप्तीरूप शांतीला प्राप्त होतो आणि कामना असलेला पुरुष कामनांच्या
  प्रेरणेमुळे फळांत आसक्त होऊन बद्ध होतो. ॥ ५-१२ ॥ <br> <br>

  <div class="adhayaText">
    सर्वकर्माणि मनसा संन्यस्यास्ते सुखं वशी । <br>
    नवद्वारे पुरे देही नैव कुर्वन्न कारयन्‌ ॥ ५-१३ ॥ <br> <br>
  </div>
  अंतःकरण ज्याच्या ताब्यात आहे, असा सांख्ययोगाचे आचरण करणारा पुरुष कोणतेही कर्म करणारा किंवा करविणारा न होताच नऊ
  दरवाजांच्या शरीररूपी घरात सर्व कर्मांचा मनाने त्याग करून आनंदाने सच्चिदानंदघन परमात्म्याच्या स्वरूपात स्थित राहातो. ॥
  ५-१३ ॥ <br> <br>

  <div class="adhayaText">
    न कर्तृत्वं न कर्माणि लोकस्य सृजति प्रभुः । <br>
    न कर्मफलसंयोगं स्वभावस्तु प्रवर्तते ॥ ५-१४ ॥ <br> <br>
  </div>
  परमेश्वर मनुष्यांचे कर्तेपण, कर्मे आणि कर्मफलांशी संयोग उत्पन्न करीत नाही; तर प्रकृतीच खेळ करीत असते. ॥ ५-१४ ॥ <br>
  <br>

  <div class="adhayaText">
    नादत्ते कस्यचित्पापं न चैव सुकृतं विभुः । <br>
    अज्ञानेनावृतं ज्ञानं तेन मुह्यन्ति जन्तवः ॥ ५-१५ ॥ <br> <br>
  </div>
  सर्वव्यापी परमेश्वरही कोणाचेही पापकर्म किंवा पुण्यकर्म स्वतःकडे घेत नाही. परंतु अज्ञानाने ज्ञान झाकले गेले आहे.
  त्यामुळे सर्व अज्ञानी लोक मोहित होतात. ॥ ५-१५ ॥ <br> <br>

  <div class="adhayaText">
    ज्ञानेन तु तदज्ञानं येषां नाशितमात्मनः । <br>
    तेषामादित्यवज्ज्ञानं प्रकाशयति तत्परम्‌ ॥ ५-१६ ॥ <br> <br>
  </div>
  परंतु ज्यांचे ते अज्ञान परमात्मज्ञानाने नाहीसे झाले आहे, त्यांचे ते ज्ञान सूर्याप्रमाणे त्या सच्चिदानंदघन परमात्म्याला
  प्रकाशित करते. ॥ ५-१६ ॥ <br> <br>

  <div class="adhayaText">
    तद्‍बुद्धयस्तदात्मानस्तन्निष्ठास्तत्परायणाः । <br>
    गच्छन्त्यपुनरावृत्तिं ज्ञाननिर्धूतकल्मषाः ॥ ५-१७ ॥ <br> <br>
  </div>
  ज्यांचे मन व बुद्धी तद्रूप झालेली आहे आणि सच्चिदानंदघन परमात्म्यातच ज्यांचे नित्य ऐक्य झाले आहे, असे ईश्वरपरायण पुरुष
  ज्ञानाने पापरहित होऊन परम गतीला प्राप्त होतात. ॥ ५-१७ ॥ <br> <br>

  <div class="adhayaText">
    विद्याविनयसम्पन्ने ब्राह्मणे गवि हस्तिनि । <br>
    शुनि चैव श्वपाके च पण्डिताः समदर्शिनः ॥ ५-१८ ॥ <br> <br>
  </div>
  ते ज्ञानी पुरुष विद्या व विनय यांनी युक्त असलेल्या ब्राह्मण, गाय, हत्ती, कुत्रा, आणि चांडाळ या सर्वांना समदृष्टीनेच
  पाहातात. ॥ ५-१८ ॥ <br> <br>

  <div class="adhayaText">
    इहैव तैर्जितः सर्गो एषां साम्ये स्थितं मनः । <br>
    निर्दोषं हि समं ब्रह्म तस्माद्ब्रह्मणि ते स्थिताः ॥ ५-१९ ॥ <br> <br>
  </div>
  ज्यांचे मन समभावात स्थिर झाले आहे, त्यांनी या जन्मीच संपूर्ण संसार जिंकला. कारण सच्चिदानंदघन परमात्मा निर्दोष आणि सम
  आहे. म्हणून ते सच्चिदानंदघन परमात्म्यातच स्थिर असतात. ॥ ५-१९ ॥ <br> <br>

  <div class="adhayaText">
    न प्रहृष्येत्प्रियं प्राप्य नोद्विजेत्प्राप्य चाप्रियम्‌ । <br>
    स्थिरबुद्धिरसम्मूढो ब्रह्मविद्‌ ब्रह्मणि स्थितः ॥ ५-२० ॥ <br> <br>
  </div>
  जो पुरुष प्रिय वस्तु मिळाली असता आनंदित होत नाही आणि अप्रिय वस्तु प्राप्त झाली असता उद्विग्न होत नाही, तो स्थिर बुद्धी
  असलेला, संशयरहित ब्रह्मवेत्ता पुरुष सच्चिदानंदघन परब्रह्म परमात्म्यात ऐक्यभावाने नित्य स्थित असतो. ॥ ५-२० ॥ <br> <br>

  <div class="adhayaText">
    बाह्यस्पर्शेष्वसक्तात्मा विन्दत्यात्मनि यत्सुखम्‌ । <br>
    स ब्रह्मयोगयुक्तात्मा सुखमक्षयमश्नुते ॥ ५-२१ ॥ <br> <br>
  </div>
  ज्याच्या अंतःकरणाला बाहेरील विषयांची आसक्ती नसते, असा साधक आत्म्यात असलेल्या ध्यानामुळे मिळणाऱ्या सात्त्विक आनंदाला
  प्राप्त होतो. त्यानंतर तो सच्चिदानंदघन परब्रह्म परमात्म्याच्या ध्यानरूप योगात ऐक्यभावाने स्थिती असलेला पुरुष अक्षय
  आनंदाचा अनुभव घेतो. ॥ ५-२१ ॥ <br> <br>

  <div class="adhayaText">
    ये हि संस्पर्शजा भोगा दुःखयोनय एव ते । <br>
    आद्यन्तवन्तः कौन्तेय न तेषु रमते बुधः ॥ ५-२२ ॥ <br> <br>
  </div>
  जे हे इंद्रिय आणि विषय यांच्या संयोगाने उत्पन्न होणारे सर्व भोग आहेत, ते जरी विषयी पुरुषांना सुखरूप वाटत असले तरी तेही
  दुःखालाच कारण होणारे आणि अनित्य आहेत. म्हणून हे कुंतीपुत्र अर्जुना, बुद्धिमान विवेकी पुरुष त्यात रमत नाहीत. ॥ ५-२२ ॥
  <br> <br>

  <div class="adhayaText">
    शक्नोतीहैव यः सोढुं प्राक्शरीरविमोक्षणात्‌ । <br>
    कामक्रोधोद्भवं वेगं स युक्तः स सुखी नरः ॥ ५-२३ ॥ <br> <br>
  </div>
  जो साधक या मनुष्यशरीरात शरीर पडण्याआधीच काम-क्रोध यांमुळे उत्पन्न होणारा आवेग सहन करण्यास समर्थ होतो, तोच योगी होय आणि
  तोच सुखी होय. ॥ ५-२३ ॥ <br> <br>

  <div class="adhayaText">
    योऽन्तः सुखोऽन्तरारामस्तथान्तर्ज्योतिरेव यः । <br>
    स योगी ब्रह्मनिर्वाणं ब्रह्मभूतोऽधिगच्छति ॥ ५-२४ ॥ <br> <br>
  </div>
  जो पुरुष अंतरात्म्यातच सुखी, आत्म्यातच रमणारा आणि आत्म्यातच ज्ञान मिळालेला असतो, तो सच्चिदानंदघन परब्रह्म परमात्म्यासह
  ऐक्यभावाला प्राप्त झालेला सांख्ययोगी शांत ब्रह्माला प्राप्त होतो. ॥ ५-२४ ॥ <br> <br>

  <div class="adhayaText">
    लभन्ते ब्रह्मनिर्वाणमृषयः क्षीणकल्मषाः । <br>
    छिन्नद्वैधा यतात्मानः सर्वभूतहिते रताः ॥ ५-२५ ॥ <br> <br>
  </div>
  ज्यांचे सर्व पाप नष्ट झाले आहे, ज्यांचे सर्व संशय ज्ञानामुळे फिटले आहेत, जे सजीवमात्रांच्या कल्याणात तत्पर आहेत आणि
  ज्यांचे जिंकलेले मन निश्चलपणे परमात्म्यात स्थिर असते, ते ब्रह्मवेत्ते शांत ब्रह्माला प्राप्त होतात. ॥ ५-२५ ॥ <br> <br>

  <div class="adhayaText">
    कामक्रोधवियुक्तानां यतीनां यतचेतसाम्‌ । <br>
    अभितो ब्रह्मनिर्वाणं वर्तते विदितात्मनाम्‌ ॥ ५-२६ ॥ <br> <br>
  </div>
  काम-क्रोध मावळलेले, मन जिंकलेले, परब्रह्म परमात्म्याचा साक्षात्कार करून घेतलेले जे ज्ञानी पुरुष असतात, त्यांच्या सर्व
  बाजूंनी शांत परब्रह्म परमात्माच परिपूर्ण भरलेला असतो. ॥ ५-२६ ॥ <br> <br>

  <div class="adhayaText">
    स्पर्शान्कृत्वा बहिर्बाह्यांश्चक्षुश्चैवान्तरे भ्रुवोः । <br>
    प्राणापानौ समौ कृत्वा नासाभ्यन्तरचारिणौ ॥ ५-२७ ॥ <br>
    यतेन्द्रियमनोबुद्धिर्मुनिर्मोक्षपरायणः । <br>
    विगतेच्छाभयक्रोधो यः सदा मुक्त एव सः ॥ ५-२८ ॥ <br> <br>
  </div>
  बाहेरच्या विषयभोगांचे चिंतन न करता ते बाहेरच ठेवून, दृष्टी भुवयांच्या मध्यभागी स्थिर करून तसेच नाकातून वाहणारे प्राण व
  अपान वायू सम करून, ज्याने इंद्रिये, मन व बुद्धी जिंकली आहेत, असा मोक्षतत्पर मुनी इच्छा, भय आणि क्रोध यांनी रहित झाला
  की, तो सदोदित मुक्तच असतो. ॥ ५-२७, ५-२८ ॥ <br> <br>

  <div class="adhayaText">
    भोक्तारं यज्ञतपसां सर्वलोकमहेश्वरम्‌ । <br>
    सुहृदं सर्वभूतानां ज्ञात्वा मां शान्तिमृच्छति ॥ ५-२९ ॥ <br> <br>
  </div>
  माझा भक्त मला सर्व यज्ञ आणि तपांचा भोक्ता, सर्व लोकांच्या ईश्वरांचाही ईश्वर, सजीवमात्रांचा सुहृद अर्थात स्वार्थरहित,
  दयाळू आणि प्रेमी, असे तत्त्वतः समजून शांतीला प्राप्त होतो. ॥ ५-२९ ॥ <br> <br>

  <div class="adhayaText">
    ॐ तत्सदिति श्रीमद्‌भगवद्‌गीतासूपनिषत्सु ब्रह्मविद्यायां योगशास्त्रे श्रीकृष्णार्जुनसंवादे
    कर्मसंन्यासयोगो नाम पंचमोऽध्यायः ॥ ५ ॥ <br> <br>
  </div>
  ॐ हे परमसत्य आहे. याप्रमाणे श्रीमद्‌भगवद्‌गीतारूपी उपनिषद तथा ब्रह्मविद्या आणि योगशास्त्राविषयी श्रीकृष्ण आणि अर्जुन
  यांच्या संवादातील कर्मसंन्यासयोग नावाचा हा पाचवा अध्याय समाप्त झाला. ॥ ५ ॥ <br> <br> <br>
</div>