<div>
  <br>
  <div class="adhayaTitle">॥ गुणत्रयविभागयोग ॥ </div>
  <br>

  <div class="adhayaText">
    श्रीभगवानुवाच । <br>
    परं भूयः प्रवक्ष्यामि ज्ञानानां ज्ञानमुत्तमम्‌ । <br>
    यज्ज्ञात्वा मुनयः सर्वे परां सिद्धिमितो गताः ॥ १४-१ ॥ <br> <br>
  </div>
  भगवान श्रीकृष्ण म्हणाले, ज्ञानांतीलही अती उत्तम ते परम ज्ञान मी तुला पुन्हा सांगतो की, जे जाणल्याने सर्व मुनिजन या
  संसारातून मुक्त होऊन परम सिद्धी पावले आहेत. ॥ १४-१ ॥ <br> <br>

  <div class="adhayaText">
    इदं ज्ञानमुपाश्रित्य मम साधर्म्यमागताः । <br>
    सर्गेऽपि नोपजायन्ते प्रलये न व्यथन्ति च ॥ १४-२ ॥ <br> <br>
  </div>
  हे ज्ञान धारण करून माझ्या स्वरूपाला प्राप्त झालेले पुरुष सृष्टीच्या आरंभी पुन्हा जन्माला येत नाहीत आणि प्रलयकाळीही
  व्याकुळ हौत नाहीत. ॥ १४-२ ॥ <br> <br>

  <div class="adhayaText">
    मम योनिर्महद्ब्रह्म तस्मिन्गर्भं दधाम्यहम्‌ । <br>
    सम्भवः सर्वभूतानां ततो भवति भारत ॥ १४-३ ॥ <br> <br>
  </div>
  हे भारता (अर्थात भरतवंशी अर्जुना), माझी महद्ब्रह्मरूप मूळ प्रकृती संपूर्ण भूतांची योनी म्हणजे गर्भधारणा करण्याचे स्थान
  आहे आणि मी त्या योनीच्या ठिकाणी चेतनसमुदायरूप गर्भाची स्थापना करतो. त्या जड-चेतन संयोगाने सर्व भूतांची उत्पत्ती होते.
  ॥ १४-३ ॥ <br> <br>

  <div class="adhayaText">
    सर्वयोनिषु कौन्तेय मूर्तयः सम्भवन्ति याः ॥ <br>
    तासां ब्रह्म महद्योनिरहं बीजप्रदः पिता ॥ १४-४ ॥ <br> <br>
  </div>
  हे कौंतेया (अर्थात कुंतीपुत्र अर्जुना), नाना प्रकारच्या सर्व जातीत जितके शरीरधारी प्राणी उत्पन्न होतात, त्या सर्वांचा
  गर्भ धारण करणारी माता प्रकृती आहे आणि बीज स्थापन करणारा पिता मी आहे. ॥ १४-४ ॥ <br> <br>

  <div class="adhayaText">
    सत्त्वं रजस्तम इति गुणाः प्रकृतिसम्भवाः । <br>
    निबध्नन्ति महाबाहो देहे देहिनमव्ययम्‌ ॥ १४-५ ॥ <br> <br>
  </div>
  हे महाबाहो अर्जुना, सत्त्वगुण, रजोगुण आणि तमोगुण हे प्रकृतीपासून उत्पन्न झालेले तिन्ही गुण अविनाशी जीवात्म्याला शरीरात
  बांधून ठेवतात. ॥ १४-५ ॥ <br> <br>

  <div class="adhayaText">
    तत्र सत्त्वं निर्मलत्वात्प्रकाशकमनामयम्‌ । <br>
    सुखसङ्गेन बध्नाति ज्ञानसङ्गेन चानघ ॥ १४-६ ॥ <br> <br>
  </div>
  हे निष्पाप अर्जुना, त्या तीन गुणांमधील सत्त्वगुण निर्मळ असल्यामुळे प्रकाश उत्पन्न करणारा आणि विकाररहित आहे. तो
  सुखासंबंधीच्या आणि ज्ञानासंबंधीच्या अभिमानाने बांधतो. ॥ १४-६ ॥ <br> <br>

  <div class="adhayaText">
    रजो रागात्मकं विद्धि तृष्णासङ्गसमुद्भवम्‌ । <br>
    तन्निबध्नाति कौन्तेय कर्मसङ्गेन देहिनम्‌ ॥ १४-७ ॥ <br> <br>
  </div>
  हे कौंतेया (अर्थात कुंतीपुत्र अर्जुना), रागरूप रजोगुण इच्छा आणि आसक्ती यांपासून उत्पन्न झालेला आहे, असे समज. तो या
  जीवात्म्याला कर्मांच्या आणि त्यांच्या फळांच्या संबंधाने बांधतो. ॥ १४-७ ॥ <br> <br>

  <div class="adhayaText">
    तमस्त्वज्ञानजं विद्धि मोहनं सर्वदेहिनाम्‌ । <br>
    प्रमादालस्यनिद्राभिस्तन्निबध्नाति भारत ॥ १४-८ ॥ <br> <br>
  </div>
  हे भारता (अर्थात भरतवंशी अर्जुना), सर्व देहाभिमानी पुरुषांना मोह पाडणारा तमोगुण अज्ञानापासून उत्पन्न झालेला आहे, असे
  समज. तो या जीवात्म्याला प्रमाद, आळस आणि निद्रा यांनी बांधतो. ॥ १४-८ ॥ <br> <br>

  <div class="adhayaText">
    सत्त्वं सुखे सञ्जयति रजः कर्मणि भारत । <br>
    ज्ञानमावृत्य तु तमः प्रमादे सञ्जयत्युत ॥ १४-९ ॥ <br> <br>
  </div>
  हे भारता (अर्थात भरतवंशी अर्जुना), सत्त्वगुण सुखाला, रजोगुण कर्माला तसेच तमोगुण ज्ञानाला झाकून प्रमाद करण्यालाही
  प्रवृत्त करतो. ॥ १४-९ ॥ <br> <br>

  <div class="adhayaText">
    रजस्तमश्चाभिभूय सत्त्वं भवति भारत । <br>
    रजः सत्त्वं तमश्चैव तमः सत्त्वं रजस्तथा ॥ १४-१० ॥ <br> <br>
  </div>
  हे भारता (अर्थात भरतवंशी अर्जुना), रजोगुण आणि तमोगुण यांना दडपून सत्त्वगुण वाढतो. सत्त्वगुण आणि तमोगुण यांना दडपून
  रजोगुण वाढतो. तसेच सत्त्वगुण आणि रजोगुण यांना दडपून तमोगुण वाढतो. ॥ १४-१० ॥ <br> <br>

  <div class="adhayaText">
    सर्वद्वारेषु देहेऽस्मिन्प्रकाश उपजायते । <br>
    ज्ञानं यदा तदा विद्याद्विवृद्धं सत्त्वमित्युत ॥ १४-११ ॥ <br> <br>
  </div>
  ज्यावेळी या देहात तसेच अंतःकरणात व इंद्रियांत चैतन्य आणि विवेकशक्ती उत्पन्न होते, त्यावेळी असे समजावे की, सत्त्वगुण
  वाढला आहे. ॥ १४-११ ॥ <br> <br>

  <div class="adhayaText">
    लोभः प्रवृत्तिरारम्भः कर्मणामशमः स्पृहा । <br>
    रजस्येतानि जायन्ते विवृद्धे भरतर्षभ ॥ १४-१२ ॥ <br> <br>
  </div>
  हे भरतर्षभा (अर्थात भरतवंशीयांमध्ये श्रेष्ठ अर्जुना), रजोगुण वाढल्यावर लोभ, प्रवृत्ती, स्वार्थाने प्रेरित होऊन
  फळांच्या इच्छेने कर्मांचा आरंभ, अशांती आणि विषयभोगांची लालसा ही सर्व उत्पन्न होतात. ॥ १४-१२ ॥ <br> <br>

  <div class="adhayaText">
    अप्रकाशोऽप्रवृत्तिश्च प्रमादो मोह एव च । <br>
    तमस्येतानि जायन्ते विवृद्धे कुरुनन्दन ॥ १४-१३ ॥ <br> <br>
  </div>
  हे कुरुनंदना (अर्थात कुरुवंशी अर्जुना), तमोगुण वाढल्यावर अंतःकरण व इंद्रिये यांत अंधार, कर्तव्य कर्मांत प्रवृत्ती
  नसणे, व्यर्थ हालचाली आणि झोप इत्यादी अंतःकरणाला मोहित करणाऱ्या वृत्ती ही सर्व उत्पन्न होतात. ॥ १४-१३ ॥ <br> <br>

  <div class="adhayaText">
    यदा सत्त्वे प्रवृद्धे तु प्रलयं याति देहभृत्‌ । <br>
    तदोत्तमविदां लोकानमलान्प्रतिपद्यते ॥ १४-१४ ॥ <br> <br>
  </div>
  जेव्हा हा मनुष्य सत्त्वगुण वाढलेला असताना मरण पावतो, तेव्हा तो उत्तम कर्मे करणाऱ्यांच्या निर्मळ दिव्य स्वर्गादी लोकांत
  जातो. ॥ १४-१४ ॥ <br> <br>

  <div class="adhayaText">
    रजसि प्रलयं गत्वा कर्मसङ्गिषु जायते । <br>
    तथा प्रलीनस्तमसि मूढयोनिषु जायते ॥ १४-१५ ॥ <br> <br>
  </div>
  रजोगुण वाढलेला असता मरण पावल्यास कर्मांची आसक्ती असणाऱ्या मनुष्यांत जन्मतो. तसेच तमोगुण वाढला असता मेलेला माणूस किडा,
  पशू, पक्षी इत्यादी मूढ (विवेकशून्य) जातींत जन्मतो. ॥ १४-१५ ॥ <br> <br>

  <div class="adhayaText">
    कर्मणः सुकृतस्याहुः सात्त्विकं निर्मलं फलम्‌ । <br>
    रजसस्तु फलं दुःखमज्ञानं तमसः फलम्‌ ॥ १४-१६ ॥ <br> <br>
  </div>
  श्रेष्ठ (सात्त्विक) कर्माचे सात्त्विक अर्थात सुख, ज्ञान आणि वैराग्य इत्यादी निर्मळ फळ सांगितले आहे. राजस कर्माचे फळ
  दुःख तसेच तामस कर्माचे फळ अज्ञान सांगितले आहे. ॥ १४-१६ ॥ <br> <br>

  <div class="adhayaText">
    सत्त्वात्सञ्जायते ज्ञानं रजसो लोभ एव च । <br>
    प्रमादमोहौ तमसो भवतोऽज्ञानमेव च ॥ १४-१७ ॥ <br> <br>
  </div>
  सत्त्वगुणापासून ज्ञान उत्पन्न होते. रजोगुणापासून निःसंशयपणे लोभ आणि तमोगुणापासून प्रमाद आणि मोह उत्पन्न होतात आणि
  अज्ञानही उत्पन्न होते. ॥ १४-१७ ॥ <br> <br>

  <div class="adhayaText">
    ऊर्ध्वं गच्छन्ति सत्त्वस्था मध्ये तिष्ठन्ति राजसाः । <br>
    जघन्यगुणवृत्तिस्था अधो गच्छन्ति तामसाः ॥ १४-१८ ॥ <br> <br>
  </div>
  सत्त्वगुणात असलेले पुरुष स्वर्गादी उच्च लोकांना जातात. रजोगुणात असलेले पुरुष मध्यलोकात म्हणजे मनुष्यलोकातच राहातात आणि
  तमोगुणाचे कार्य असलेल्या निद्रा, प्रमाद आणि आळस इत्यादीत रत असलेले तामसी पुरुष अधोगतीला अर्थात कीटक, पशू इत्यादी नीच
  जातीत तसेच नरकात जातात. ॥ १४-१८ ॥ <br> <br>

  <div class="adhayaText">
    नान्यं गुणेभ्यः कर्तारं यदा द्रष्टानुपश्यति । <br>
    गुणेभ्यश्च परं वेत्ति मद्भावं सोऽधिगच्छति ॥ १४-१९ ॥ <br> <br>
  </div>
  ज्यावेळी द्रष्टा तिन्ही गुणांशिवाय दुसरा कोणीही कर्ता नाही, असे पाहातो आणि तिन्ही गुणांच्या अत्यंत पलीकडे असणाऱ्या
  सच्चिदानंदघनस्वरूप मला परमात्म्याला तत्त्वतः जाणतो, त्यावेळी तो माझ्या स्वरूपाला प्राप्त होतो. ॥ १४-१९ ॥ <br> <br>

  <div class="adhayaText">
    गुणानेतानतीत्य त्रीन्देही देहसमुद्भवान्‌ । <br>
    जन्ममृत्युजरादुःखैर्विमुक्तोऽमृतमश्नुते ॥ १४-२० ॥ <br> <br>
  </div>
  हा पुरुष शरीराच्या उत्पत्तीला कारण असलेल्या या तिन्ही गुणांना उल्लंघून जन्म, मृत्यू, वार्धक्य आणि सर्व प्रकारच्या
  दुःखांपासून मुक्त होऊन परमानंदाला प्राप्त होतो. ॥ १४-२० ॥ <br> <br>

  <div class="adhayaText">
    अर्जुन उवाच । <br>
    कैर्लिङ्गैस्त्रीन्गुणानेतानतीतो भवति प्रभो । <br>
    किमाचारः कथं चैतांस्त्रीन्गुणानतिवर्तते ॥ १४-२१ ॥ <br> <br>
  </div>
  अर्जुन म्हणाला, या तिन्ही गुणांच्या पलीकडे गेलेला पुरुष कोणकोणत्या लक्षणांनी युक्त असतो? आणि त्याचे आचरण कशा प्रकारचे
  असते? तसेच हे प्रभो (श्रीकृष्णा), मनुष्य कोणत्या उपायाने या तीन गुणांच्या पलीकडे जातो? ॥ १४-२१ ॥ <br> <br>

  <div class="adhayaText">
    श्रीभगवानुवाच । <br>
    प्रकाशं च प्रवृत्तिं च मोहमेव च पाण्डव । <br> <br>
    न द्वेष्टि सम्प्रवृत्तानि न निवृत्तानि काङ्क्षति ॥ १४-२२ ॥ <br> <br>
  </div>
  भगवान श्रीकृष्ण म्हणाले, हे पांडवा (अर्थात पांडुपुत्र अर्जुना), जो पुरुष सत्त्वगुणाचे कार्यरूप प्रकाश, रजोगुणाचे
  कार्यरूप प्रवृत्ती आणि तमोगुणाचे कार्यरूप मोह ही प्राप्त झाली असता त्यांचा विषाद मानत नाही आणि प्राप्त झाली नाही तरी
  त्यांची इच्छा करीत नाही ॥ १४-२२ ॥ <br> <br>

  <div class="adhayaText">
    उदासीनवदासीनो गुणैर्यो न विचाल्यते । <br>
    गुणा वर्तन्त इत्येव योऽवतिष्ठति नेङ्गते ॥ १४-२३ ॥ <br> <br>
  </div>
  जो साक्षीरूप राहून गुणांकडून विचलित केला जाऊ शकत नाही आणि गुणच गुणांत वावरत आहेत, असे समजून जो सच्चिदानंदघन
  परमात्म्यात एकरूप होऊन राहतो व त्या स्थितीपासून कधी ढळत नाही ॥ १४-२३ ॥ <br> <br>

  <div class="adhayaText">
    समदुःखसुखः स्वस्थः समलोष्टाश्मकाञ्चनः । <br>
    तुल्यप्रियाप्रियो धीरस्तुल्यनिन्दात्मसंस्तुतिः ॥ १४-२४ ॥ <br> <br>
  </div>
  जो पुरुष निरंतर आत्मभावात राहून दुःख-सुख समान मानतो, माती, दगड आणि सोने यांना सारखेच मानतो, ज्याला आवडती व नावडती
  गोष्ट सारखीच वाटते, जो ज्ञानी आहे आणि स्वतःची निंदा व स्तुती ज्याला समान वाटतात ॥ १४-२४ ॥ <br> <br>

  <div class="adhayaText">
    मानापमानयोस्तुल्यस्तुल्यो मित्रारिपक्षयोः । <br>
    सर्वारम्भपरित्यागी गुणातीतः स उच्यते ॥ १४-२५ ॥ <br> <br>
  </div>
  जो मान व अपमान सारखेच मानतो, ज्याची मित्र व शत्रू या दोघांविषयी समान वृत्ती असते, तसेच सर्व कार्यात ज्याला मी करणारा
  असा अभिमान नसतो, त्याला गुणातीत म्हणतात. ॥ १४-२५ ॥ <br> <br>

  <div class="adhayaText">
    मां च योऽव्यभिचारेण भक्तियोगेन सेवते । <br>
    स गुणान्समतीत्यैतान्ब्रह्मभूयाय कल्पते ॥ १४-२६ ॥ <br> <br>
  </div>
  आणि जो पुरुष अव्यभिचारी भक्तियोगाने मला निरंतर भजतो, तो सुद्धा या तिन्ही गुणांना पूर्णपणे उल्लंघून सच्चिदानंदघन
  ब्रह्माला प्राप्त होण्यास योग्य ठरतो. ॥ १४-२६ ॥ <br> <br>

  <div class="adhayaText">
    ब्रह्मणो हि प्रतिष्ठाहममृतस्याव्ययस्य च । <br>
    शाश्वतस्य च धर्मस्य सुखस्यैकान्तिकस्य च ॥ १४-२७ ॥ <br> <br>
  </div>
  कारण त्या अविनाशी परब्रह्माचा, अमृताचा, नित्य धर्माचा आणि अखंड एकरस आनंदाचा आश्रय मी आहे. ॥ १४-२७ ॥ <br> <br>

  <div class="adhayaText">
    ॐ तत्सदिति श्रीमद्‌भगवद्‌गीतासूपनिषत्सु ब्रह्मविद्यायां योगशास्त्रे श्रीकृष्णार्जुनसंवादे
    गुणत्रयविभागयोगो नाम चतुर्दशोऽध्यायः ॥ १४ ॥ <br> <br>
  </div>
  ॐ हे परमसत्य आहे. याप्रमाणे श्रीमद्‌भगवद्‌गीतारूपी उपनिषद तथा ब्रह्मविद्या आणि योगशास्त्राविषयी श्रीकृष्ण आणि अर्जुन
  यांच्या संवादातील गुणत्रयविभागयोग नावाचा हा चौदावा अध्याय समाप्त झाला. ॥ १४ ॥ <br> <br> <br>
</div>