<div>
  <br>
  <div class="adhayaTitle">॥ क्षेत्रक्षत्रज्ञविभागयोग ॥ </div>
  <br>

  <div class="adhayaText">
    अर्जुन उवाच । <br>
    ये शास्त्रविधिमुत्सृज्य यजन्ते श्रद्धयान्विताः । <br>
    तेषां निष्ठा तु का कृष्ण सत्त्वमाहो रजस्तमः ॥ १७-१ ॥ <br> <br>
  </div>
  अर्जुन म्हणाला, हे श्रीकृष्णा, जी माणसे शास्त्रविधीला सोडून श्रद्धेने युक्त होऊन देवादिकांचे पूजन करतात, त्यांची मग
  स्थिती कोणती? सात्त्विक, राजस की तामस? ॥ १७-१ ॥ <br> <br>

  <div class="adhayaText">
    श्रीभगवानुवाच । <br>
    त्रिविधा भवति श्रद्धा देहिनां सा स्वभावजा । <br>
    सात्त्विकी राजसी चैव तामसी चेति तां शृणु ॥ १७-२ ॥ <br> <br>
  </div>
  भगवान श्रीकृष्ण म्हणाले, मनुष्यांची ती शास्त्रीय संस्कार नसलेली, केवळ स्वभावतः उत्पन्न झालेली श्रद्धा सात्त्विक, राजस
  व तामस अशा तीन प्रकारचीच असते. ती तू माझ्याकडून ऐक. ॥ १७-२ ॥ <br> <br>

  <div class="adhayaText">
    सत्त्वानुरूपा सर्वस्य श्रद्धा भवति भारत । <br>
    श्रद्धामयोऽयं पुरुषो यो यच्छ्रद्धः स एव सः ॥ १७-३ ॥ <br> <br>
  </div>
  हे भारता (अर्थात भरतवंशी अर्जुना), सर्व माणसांची श्रद्धा त्यांच्या अंतःकरणानुरूप असते. हा पुरुष श्रद्धामय आहे. म्हणून
  जो पुरुष ज्या श्रद्धेने युक्त आहे, तो स्वतःही तोच आहे (अर्थात त्या श्रद्धेनुसार त्याचे स्वरूप असते). ॥ १७-३ ॥ <br>
  <br>

  <div class="adhayaText">
    यजन्ते सात्त्विका देवान्यक्षरक्षांसि राजसाः । <br>
    प्रेतान्भूतगणांश्चान्ये यजन्ते तामसा जनाः ॥ १७-४ ॥ <br> <br>
  </div>
  सात्त्विक माणसे देवांची पूजा करतात. राजस माणसे यक्ष-राक्षसांची तसेच इतर तामस माणसे असतात, ती प्रेत व भूतगणांची पूजा
  करतात. ॥ १७-४ ॥ <br> <br>

  <div class="adhayaText">
    अशास्त्रविहितं घोरं तप्यन्ते ये तपो जनाः । <br>
    दम्भाहङ्कारसंयुक्ताः कामरागबलान्विताः ॥ १७-५ ॥ <br> <br>
  </div>
  जी माणसे शास्त्रविधी सोडून केवळ मनाच्या कल्पनेप्रमाणे घोर तप करतात तसेच दंभ, अहंकार, कामना, आसक्ती आणि बळाचा अभिमान
  यांनी युक्त असतात ॥ १७-५ ॥ <br> <br>

  <div class="adhayaText">
    कर्शयन्तः शरीरस्थं भूतग्राममचेतसः । <br>
    मां चैवान्तःशरीरस्थं तान्विद्ध्यासुरनिश्चयान्‌ ॥ १७-६ ॥ <br> <br>
  </div>
  जे शरीराच्या रूपात असलेल्या भूतसमुदायाला आणि अंतःकरणात राहणाऱ्या मलाही कृश करणारे असतात, ते अज्ञानी लोक आसुरी
  स्वभावाचे आहेत, असे तू जाण. ॥ १७-६ ॥ <br> <br>

  <div class="adhayaText">
    आहारस्त्वपि सर्वस्य त्रिविधो भवति प्रियः । <br>
    यज्ञस्तपस्तथा दानं तेषां भेदमिमं शृणु ॥ १७-७ ॥ <br> <br>
  </div>
  भोजनही सर्वांना आपापल्या प्रकृतीप्रमाणे तीन प्रकारचे प्रिय असते. आणि तसेच यज्ञ, तप व दानही तीन तीन प्रकारची आहेत.
  त्यांचे हे निरनिराळे भेद तू माझ्याकडून ऐक. ॥ १७-७ ॥ <br> <br>

  <div class="adhayaText">
    आयुःसत्त्वबलारोग्यसुखप्रीतिविवर्धनाः । <br>
    रस्याः स्निग्धाः स्थिरा हृद्या आहाराः सात्त्विकप्रियाः ॥ १७-८ ॥ <br> <br>
  </div>
  आयुष्य, बुद्धी, बळ, आरोग्य, सुख आणि प्रीती वाढविणारे, रसयुक्त, स्निग्ध, स्थिर राहणारे, स्वभावतः मनाला प्रिय वाटणारे
  असे भोजनाचे पदार्थ सात्त्विक पुरुषांना प्रिय असतात. ॥ १७-८ ॥ <br> <br>

  <div class="adhayaText">
    कट्वम्ललवणात्युष्णतीक्ष्णरूक्षविदाहिनः । <br>
    आहारा राजसस्येष्टा दुःखशोकामयप्रदाः ॥ १७-९ ॥ <br> <br>
  </div>
  कडू, आंबट, खारट, फार गरम, तिखट, कोरडे, जळजळणारे आणि दुःख, काळजी व रोग उत्पन्न करणारे भोजनाचे पदार्थ राजस माणसांना
  आवडतात. ॥ १७-९ ॥ <br> <br>

  <div class="adhayaText">
    यातयामं गतरसं पूति पर्युषितं च यत्‌ । <br>
    उच्छिष्टमपि चामेध्यं भोजनं तामसप्रियम्‌ ॥ १७-१० ॥ <br> <br>
  </div>
  जे भोजन कच्चे, रस नसलेले, दुर्गंध येणारे, शिळे आणि उष्टे असते, तसेच जे अपवित्रही असते, ते भोजन तामसी लोकांना आवडते. ॥
  १७-१० ॥ <br> <br>

  <div class="adhayaText">
    अफलाकाङ्क्षिभिर्यज्ञो विधिदृष्टो य इज्यते । <br>
    यष्टव्यमेवेति मनः समाधाय स सात्त्विकः ॥ १७-११ ॥ <br> <br>
  </div>
  जो शास्त्रविधीने नेमून दिलेला, यज्ञ करणे कर्तव्य आहे, असे मनाचे समाधान करून फळाची इच्छा न करणाऱ्या पुरुषांकडून केला
  जातो, तो सात्त्विक यज्ञ होय. ॥ १७-११ ॥ <br> <br>

  <div class="adhayaText">
    अभिसन्धाय तु फलं दम्भार्थमपि चैव यत्‌ । <br>
    इज्यते भरतश्रेष्ठ तं यज्ञं विद्धि राजसम्‌ ॥ १७-१२ ॥ <br> <br>
  </div>
  परंतु हे भरतश्रेष्ठा (अर्थात भरतवंशीयांमध्ये श्रेष्ठ अर्जुना), केवळ दिखाव्यासाठी किंवा फळही नजरेसमोर ठेवून जो यज्ञ
  केला जातो, तो यज्ञ तू राजस समज. ॥ १७-१२ ॥ <br> <br>

  <div class="adhayaText">
    विधिहीनमसृष्टान्नं मन्त्रहीनमदक्षिणम्‌ । <br>
    श्रद्धाविरहितं यज्ञं तामसं परिचक्षते ॥ १७-१३ ॥ <br> <br>
  </div>
  शास्त्राला सोडून, अन्नदान न करता, मंत्रांशिवाय, दक्षिणा न देता व श्रद्धा न ठेवता केल्या जाणाऱ्या यज्ञाला तामस यज्ञ असे
  म्हणतात. ॥ १७-१३ ॥ <br> <br>

  <div class="adhayaText">
    देवद्विजगुरुप्राज्ञपूजनं शौचमार्जवम्‌ । <br>
    ब्रह्मचर्यमहिंसा च शारीरं तप उच्यते ॥ १७-१४ ॥ <br> <br>
  </div>
  देव, ब्राह्मण, गुरू व ज्ञानी यांची पूजा करणे, पावित्र्य, सरळपणा, ब्रह्मचर्य आणि अहिंसा, हे शारीरिक तप म्हटले जाते. ॥
  १७-१४ ॥ <br> <br>

  <div class="adhayaText">
    अनुद्वेगकरं वाक्यं सत्यं प्रियहितं च यत्‌ । <br>
    स्वाध्यायाभ्यसनं चैव वाङ्मयं तप उच्यते ॥ १७-१५ ॥ <br> <br>
  </div>
  जे दुसऱ्याला न बोचणारे, प्रिय, हितकारक आणि यथार्थ भाषण असते ते, तसेच वेदशास्त्रांचे पठण व परमेश्वराच्या नामजपाचा
  अभ्यास, हेच वाणीचे तप म्हटले जाते. ॥ १७-१५ ॥ <br> <br>

  <div class="adhayaText">
    मनःप्रसादः सौम्यत्वं मौनमात्मविनिग्रहः । <br>
    भावसंशुद्धिरित्येतत्तपो मानसमुच्यते ॥ १७-१६ ॥ <br> <br>
  </div>
  मनाची प्रसन्नता, शांत भाव, भगवच्चिंतन करण्याचा स्वभाव, मनाचा निग्रह आणि अंतःकरणातील भावांची पूर्ण पवित्रता, हे मनाचे
  तप म्हटले जाते. ॥ १७-१६ ॥ <br> <br>

  <div class="adhayaText">
    श्रद्धया परया तप्तं तपस्तत्त्रिविधं नरैः । <br>
    अफलाकाङ्क्षिभिर्युक्तैः सात्त्विकं परिचक्षते ॥ १७-१७ ॥ <br> <br>
  </div>
  फळाची इच्छा न करणाऱ्या योगी पुरुषांकडून अत्यंत श्रद्धेने केलेल्या वर सांगितलेल्या तिन्ही प्रकारच्या तपाला सात्त्विक तप
  म्हणतात. ॥ १७-१७ ॥ <br> <br>

  <div class="adhayaText">
    सत्कारमानपूजार्थं तपो दम्भेन चैव यत्‌ । <br>
    क्रियते तदिह प्रोक्तं राजसं चलमध्रुवम्‌ ॥ १७-१८ ॥ <br> <br>
  </div>
  जे तप सत्कार, मान व पूजा होण्यासाठी तसेच दुसऱ्या काही स्वार्थासाठीही स्वभावाप्रमाणे किंवा पाखंडीपणाने केले जाते, ते
  अनिश्चित तसेच क्षणिक फळ देणारे तप येथे राजस असे म्हटले आहे. ॥ १७-१८ ॥ <br> <br>

  <div class="adhayaText">
    मूढग्राहेणात्मनो यत्पीडया क्रियते तपः । <br>
    परस्योत्सादनार्थं वा तत्तामसमुदाहृतम्‌ ॥ १७-१९ ॥ <br> <br>
  </div>
  जे तप मूर्खतापूर्वक हट्टाने, मन, वाणी आणि शरीर यांना कष्ट देऊन किंवा दुसऱ्यांचे अनिष्ट करण्यासाठी केले जाते, ते तप
  तामस म्हटले गेले आहे. ॥ १७-१९ ॥ <br> <br>

  <div class="adhayaText">
    दातव्यमिति यद्दानं दीयतेऽनुपकारिणे । <br>
    देशे काले च पात्रे च तद्दानं सात्त्विकं स्मृतम्‌ ॥ १७-२० ॥ <br> <br>
  </div>
  दान देणे कर्तव्य आहे, या भावनेने जे दान, देश, काल आणि पात्र मिळाली असता उपकार न करणाऱ्याला दिले जाते, ते दान सात्त्विक
  म्हटले गेले आहे. ॥ १७-२० ॥ <br> <br>

  <div class="adhayaText">
    यत्तु प्रत्युपकारार्थं फलमुद्दिश्य वा पुनः । <br>
    दीयते च परिक्लिष्टं तद्दानं राजसं स्मृतम्‌ ॥ १७-२१ ॥ <br> <br>
  </div>
  परंतु जे दान क्लेशपूर्वक, प्रत्युपकाराच्या हेतूने अथवा फळ नजरेसमोर ठेवून दिले जाते, ते दान राजस म्हटले आहे. ॥ १७-२१ ॥
  <br> <br>

  <div class="adhayaText">
    अदेशकाले यद्दानमपात्रेभ्यश्च दीयते । <br>
    असत्कृतमवज्ञातं तत्तामसमुदाहृतम्‌ ॥ १७-२२ ॥ <br> <br>
  </div>
  जे दान सत्काराशिवाय किंवा तिरस्कारपूर्वक अयोग्य ठिकाणी, अयोग्य काळी आणि कुपात्री दिले जाते, ते दान तामस म्हटले गेले
  आहे. ॥ १७-२२ ॥ <br> <br>

  <div class="adhayaText">
    ॐ तत्सदिति निर्देशो ब्रह्मणस्त्रिविधः स्मृतः । <br>
    ब्राह्मणास्तेन वेदाश्च यज्ञाश्च विहिताः पुरा ॥ १७-२३ ॥ <br> <br>
  </div>
  ॐ तत्‌ सत्‌ अशी तीन प्रकारची सच्चिदानंदघन ब्रह्माची नावे सांगितली आहेत. त्यांपासून सृष्टीच्या आरंभी ब्राह्मण, वेद आणि
  यज्ञादी रचले गेले आहेत. ॥ १७-२३ ॥ <br> <br>

  <div class="adhayaText">
    तस्मादोमित्युदाहृत्य यज्ञदानतपःक्रियाः । <br>
    प्रवर्तन्ते विधानोक्ताः सततं ब्रह्मवादिनाम्‌ ॥ १७-२४ ॥ <br> <br>
  </div>
  म्हणून वेदमंत्रांचा उच्चार करणाऱ्या श्रेष्ठ पुरुषांच्या शास्त्राने सांगितलेल्या यज्ञ, दान व तप रूप क्रियांचा नेहमी ॐ
  या परमात्म्याच्या नावाचा उच्चार करूनच आरंभ होत असतो. ॥ १७-२४ ॥ <br> <br>

  <div class="adhayaText">
    तदित्यनभिसन्धाय फलं यज्ञतपःक्रियाः । <br>
    दानक्रियाश्च विविधाः क्रियन्ते मोक्षकाङ्क्षिभिः ॥ १७-२५ ॥ <br> <br>
  </div>
  तत्‌ या नावाने संबोधिल्या जाणाऱ्या परमात्म्याचेच हे सर्व आहे, या भावनेने फळाची इच्छा न करता नाना प्रकारच्या यज्ञ, तप व
  दान रूप क्रिया कल्याणाची इच्छा करणाऱ्या पुरुषांकडून केल्या जातात. ॥ १७-२५ ॥ <br> <br>

  <div class="adhayaText">
    सद्भावे साधुभावे च सदित्येतत्प्रयुज्यते । <br>
    प्रशस्ते कर्मणि तथा सच्छब्दः पार्थ युज्यते ॥ १७-२६ ॥ <br> <br>
  </div>
  सत्‌ या परमात्म्याच्या नावाचा सत्य भावात आणि श्रेष्ठ भावात प्रयोग केला जातो. तसेच हे पार्था (अर्थात पृथापुत्र
  अर्जुना), उत्तम कर्मातही सत्‌ शब्द योजला जातो. ॥ १७-२६ ॥ <br> <br>

  <div class="adhayaText">
    यज्ञे तपसि दाने च स्थितिः सदिति चोच्यते । <br>
    कर्म चैव तदर्थीयं सदित्येवाभिधीयते ॥ १७-२७ ॥ <br> <br>
  </div>
  तसेच यज्ञ, तप आणि दान यांमध्ये जी स्थिती अर्थात आस्तिक बुद्धी असते, तिलाही सत्‌ असे म्हणतात आणि त्या परमात्म्यासाठी
  केलेले कर्म निश्चयाने सत्‌ असे म्हटले जाते. ॥ १७-२७ ॥ <br> <br>

  <div class="adhayaText">
    अश्रद्धया हुतं दत्तं तपस्तप्तं कृतं च यत्‌ । <br>
    असदित्युच्यते पार्थ न च तत्प्रेत्य नो इह ॥ १७-२८ ॥ <br> <br>
  </div>
  हे पार्था (अर्थात पृथापुत्र अर्जुना), श्रद्धेशिवाय केलेले हवन, दिलेले दान, केलेले तप आणि जे काही केलेले शुभ कार्य
  असेल, ते सर्व असत्‌ म्हटले जाते. त्यामुळे ते ना इहलोकात फलदायी होत ना परलोकात. ॥ १७-२८ ॥ <br> <br>

  <div class="adhayaText">
    ॐ तत्सदिति श्रीमद्‌भगवद्‌गीतासूपनिषत्सु ब्रह्मविद्यायां योगशास्त्रे श्रीकृष्णार्जुनसंवादे
    श्रद्धात्रयविभागयोगो नाम सप्तदशोऽध्यायः ॥ १७ ॥ <br> <br>
  </div>
  ॐ हे परमसत्य आहे. याप्रमाणे श्रीमद्‌भगवद्‌गीतारूपी उपनिषद तथा ब्रह्मविद्या आणि योगशास्त्राविषयी श्रीकृष्ण आणि अर्जुन
  यांच्या संवादातील श्रद्धात्रयविभागयोग नावाचा हा सतरावा अध्याय समाप्त झाला. ॥ १७ ॥ <br> <br> <br>
</div>