<div>
    <br>
    <div class="adhayaTitle">॥ कर्मयोग ॥ </div>
    <br>

    <div class="adhayaText">
        अर्जुन उवाच । <br>
        ज्यायसी चेत्कर्मणस्ते मता बुद्धिर्जनार्दन । <br>
        तत्किं कर्मणि घोरे मां नियोजयसि केशव ॥ ३-१ ॥ <br> <br>
    </div>
    अर्जुन म्हणाला, हे जनार्दन श्रीकृष्णा, जर तुम्हाला कर्माहून ज्ञान श्रेष्ठ वाटते, तर मग हे केशवा (श्रीकृष्णा), मला
    भयंकर कर्म करण्यास का प्रवृत्त करीत आहात? ॥ ३-१ ॥ <br> <br>

    <div class="adhayaText">
        व्यामिश्रेणेव वाक्येन बुद्धिं मोहयसीव मे । <br>
        तदेकं वद निश्चित्य येन श्रेयोऽहमाप्नुयाम्‌ ॥ ३-२ ॥ <br> <br>
    </div>
    तुम्ही मिश्रितशा भाषणाने माझ्या बुद्धीला जणू मोहित करीत आहात. म्हणून अशी एकच गोष्ट निश्चित करून मला सांगा की
    ज्यामुळे माझे कल्याण होईल. ॥ ३-२ ॥ <br> <br>

    <div class="adhayaText">
        श्रीभगवानुवाच । <br>
        लोकेऽस्मिन्द्विविधा निष्ठा पुरा प्रोक्ता मयानघ । <br>
        ज्ञानयोगेन साङ्ख्यानां कर्मयोगेन योगिनाम्‌ ॥ ३-३ ॥ <br> <br>
    </div>
    भगवान श्रीकृष्ण म्हणाले, हे निष्पापा, या जगात दोन प्रकारची निष्ठा माझ्याकडून पूर्वी सांगितली गेली आहे. त्यातील
    सांख्ययोग्यांची निष्ठा ज्ञानयोगाने आणि योग्यांची निष्ठा कर्मयोगाने होते. ॥ ३-३ ॥ <br> <br>

    <div class="adhayaText">
        न कर्मणामनारम्भान्नैष्कर्म्यं पुरुषोऽश्नुते । <br>
        न च संन्यसनादेव सिद्धिं समधिगच्छति ॥ ३-४ ॥ <br> <br>
    </div>
    मनुष्य कर्मे केल्याशिवाय निष्कर्मतेला म्हणजेच योगनिष्ठेला प्राप्त होत नाही आणि फक्त कर्मांचा त्याग केल्याने सिद्धीला
    म्हणजेच सांख्यनिष्ठेला प्राप्त होत नाही. ॥ ३-४ ॥ <br> <br>

    <div class="adhayaText">
        न हि कश्चित्क्षणमपि जातु तिष्ठत्यकर्मकृत्‌ । <br>
        कार्यते ह्यवशः कर्म सर्वः प्रकृतिर्जैगुणैः ॥ ३-५ ॥ <br> <br>
    </div>
    निःसंशयपणे कोणीही मनुष्य कोणत्याही वेळी क्षणभरसुद्धा काम न करता राहात नाही. कारण सर्व मनुष्यसमुदाय प्रकृतीपासून
    उत्पन्न झालेल्या गुणांमुळे पराधीन असल्यामुळे कर्म करायला भाग पाडला जातो. ॥ ३-५ ॥ <br> <br>

    <div class="adhayaText">
        कर्मेन्द्रियाणि संयम्य य आस्ते मनसा स्मरन्‌ । <br>
        इन्द्रियार्थान्विमूढात्मा मिथ्याचारः स उच्यते ॥ ३-६ ॥ <br> <br>
    </div>
    जो मूर्ख मनुष्य सर्व इंद्रिये बळेच वरवर आवरून मनाने त्या इंद्रियांच्या विषयांचे चिंतन करीत राहतो, तो मिथ्याचारी
    म्हणजे दांभिक म्हटला जातो. ॥ ३-६ ॥ <br> <br>

    <div class="adhayaText">
        यस्त्विन्द्रियाणि मनसा नियम्यारभतेऽर्जुन । <br>
        कर्मेन्द्रियैः कर्मयोगमसक्तः स विशिष्यते ॥ ३-७ ॥ <br> <br>
    </div>
    परंतु हे अर्जुना, जो मनुष्य मनाने इंद्रियांना ताब्यात ठेवून आसक्त न होता सर्व इंद्रियांच्या द्वारे कर्मयोगाचे आचरण
    करतो, तो श्रेष्ठ होय. ॥ ३-७ ॥ <br> <br>

    <div class="adhayaText">
        नियतं कुरु कर्म त्वं कर्म ज्यायो ह्यकर्मणः । <br>
        शरीरयात्रापि च ते न प्रसिद्ध्येदकर्मणः ॥ ३-८ ॥ <br> <br>
    </div>
    तू शास्त्रविहित कर्तव्यकर्म कर. कारण कर्म न करण्यापेक्षा कर्म करणे श्रेष्ठ आहे. तसेच कर्म न करण्याने तुझे
    शरीरव्यवहारही चालणार नाहीत. ॥ ३-८ ॥ <br> <br>

    <div class="adhayaText">
        यज्ञार्थात्कर्मणोऽन्यत्र लोकोऽयं कर्मबन्धनः । <br>
        तदर्थं कर्म कौन्तेय मुक्तसङ्गः समाचर ॥ ३-९ ॥ <br> <br>
    </div>
    यज्ञानिमित्त केल्या जाणाऱ्या कर्मांशिवाय दुसऱ्या कर्मात गुंतलेला हा मनुष्यसमुदाय कर्मांनी बांधला जातो. म्हणून हे
    कुंतीपुत्र अर्जुना, तू आसक्ती सोडून यज्ञासाठी उत्तम प्रकारे कर्तव्यकर्म कर. ॥ ३-९ ॥ <br> <br>

    <div class="adhayaText">
        सहयज्ञाः प्रजाः सृष्ट्वा पुरोवाच प्रजापतिः । <br>
        अनेन प्रसविष्यध्वमेष वोऽस्त्विष्टकामधुक्‌ ॥ ३-१० ॥ <br> <br>
    </div>
    प्रजापती ब्रह्मदेवाने कल्पारंभी यज्ञासह प्रजा उत्पन्न करून त्यांना सांगितले की, तुम्ही या यज्ञाच्या द्वारे उत्कर्ष
    प्राप्त करून घ्या आणि हा यज्ञ तुमचे इच्छित मनोरथ पूर्ण करणारा होवो. ॥ ३-१० ॥ <br> <br>

    <div class="adhayaText">
        देवान्भावयतानेन ते देवा भावयन्तु वः । <br>
        परस्परं भावयन्तः श्रेयः परमवाप्स्यथ ॥ ३-११ ॥ <br> <br>
    </div>
    तुम्ही या यज्ञाने देवतांची पुष्टी करा आणि त्या देवतांनी तुम्हाला पुष्ट करावे. अशा प्रकारे निःस्वार्थीपणाने एकमेकांची
    उन्नती करीत तुम्ही परम कल्याणाला प्राप्त व्हाल. ॥ ३-११ ॥ <br> <br>

    <div class="adhayaText">
        इष्टान्भोगान्हि वो देवा दास्यन्ते यज्ञभाविताः । <br>
        तैर्दत्तानप्रदायैभ्यो यो भुङ्क्ते स्तेन एव सः ॥ ३-१२ ॥ <br> <br>
    </div>
    यज्ञाने पुष्ट झालेल्या देवता तुम्हाला न मागताही इच्छित भोग खात्रीने देत राहातील. अशा रीतीने त्या देवतांनी दिलेले भोग
    त्यांना अर्पण न करता जो स्वतःच उपभोगतो, तो चोरच आहे. ॥ ३-१२ ॥ <br> <br>

    <div class="adhayaText">
        यज्ञशिष्टाशिनः सन्तो मुच्यन्ते सर्वकिल्बिषैः । <br>
        भुञ्जते ते त्वघं पापा ये पचन्त्यात्मकारणात्‌ ॥ ३-१३ ॥ <br> <br>
    </div>
    यज्ञ करून शिल्लक राहिलेले अन्न खाणारे श्रेष्ठ मनुष्य सर्व पापांपासून मुक्त होतात. पण जे पापी लोक केवळ स्वतःच्या
    शरीरपोषणासाठी अन्न शिजवितात, ते तर पापच खातात. ॥ ३-१३ ॥ <br> <br>

    <div class="adhayaText">
        अन्नाद्भवन्ति भूतानि पर्जन्यादन्नसम्भवः । <br>
        यज्ञाद्भवति पर्जन्यो यज्ञः कर्मसमुद्भवः ॥ ३-१४ ॥ <br>
        कर्म ब्रह्मोद्भवं विद्धि ब्रह्माक्षरसमुद्भवम्‌ । <br>
        तस्मात्सर्वगतं ब्रह्म नित्यं यज्ञे प्रतिष्ठितम्‌ ॥ ३-१५ ॥ <br> <br>
    </div>
    सर्व प्राणी अन्नापासून उत्पन्न होतात. अन्ननिर्मिती पावसापासून होते. पाऊस यज्ञामुळे पडतो. आणि यज्ञ विहित कर्मांमुळे
    घडतो. कर्मसमुदाय वेदांपासून व वेद अविनाशी परमात्म्यापासून उत्पन्न झालेले आहेत, असे समज. यावरून हेच सिद्ध होते की,
    सर्वव्यापी परम अक्षर परमात्मा नेहमीच यज्ञात प्रतिष्ठित असतो. ॥ ३-१४, ३-१५ ॥ <br> <br>

    <div class="adhayaText">
        एवं प्रवर्तितं चक्रं नानुवर्तयतीह यः । <br>
        अघायुरिन्द्रियारामो मोघं पार्थ स जीवति ॥ ३-१६ ॥ <br> <br>
    </div>
    हे पार्था (अर्थात पृथापुत्र अर्जुना), जो मनुष्य या जगात अशा प्रकारे परंपरेने चालू असलेल्या सृष्टिचक्राला अनुसरून
    वागत नाही म्हणजेच आपल्या कर्तव्याचे पालन करीत नाही, तो इंद्रियांच्या द्वारे भोगांत रमणारा पापी आयुष्य असलेला मनुष्य
    व्यर्थच जगतो. ॥ ३-१६ ॥ <br> <br>

    <div class="adhayaText">
        यस्त्वात्मरतिरेव स्यादात्मतृप्तश्च मानवः । <br>
        आत्मन्येव च सन्तुष्टस्तस्य कार्यं न विद्यते ॥ ३-१७ ॥ <br> <br>
    </div>
    परंतु जो मनुष्य आत्म्यामध्येच रमणारा आणि आत्म्यामध्येच तृप्त तसेच आत्म्यामध्येच संतुष्ट असतो, त्याच्यासाठी कोणतेही
    कर्तव्य उरत नाही. ॥ ३-१७ ॥ <br> <br>

    <div class="adhayaText">
        नैव तस्य कृतेनार्थो नाकृतेनेह कश्चन । <br>
        न चास्य सर्वभूतेषु कश्चिदर्थव्यपाश्रयः ॥ ३-१८ ॥ <br> <br>
    </div>
    त्या महामनुष्याला या विश्वात कर्मे करण्याचे काही प्रयोजन असत नाही. तसेच कर्मे न करण्याचेही काही प्रयोजन असत नाही.
    तसेच सर्व प्राणिमात्रातही त्याचा जरादेखील स्वार्थाचा संबंध असत नाही. ॥ ३-१८ ॥ <br> <br>

    <div class="adhayaText">
        तस्मादसक्तः सततं कार्यं कर्म समाचर । <br>
        असक्तो ह्याचरन्कर्म परमाप्नोति पूरुषः ॥ ३-१९ ॥ <br> <br>
    </div>
    म्हणून तू नेहमी आसक्त न होता कर्तव्य कर्म नीट करीत राहा. कारण आसक्ती सोडून कर्म करणारा मनुष्य परमात्म्याला जाऊन
    मिळतो. ॥ ३-१९ ॥ <br> <br>

    <div class="adhayaText">
        कर्मणैव हि संसिद्धिमास्थिता जनकादयः । <br>
        लोकसङ्ग्रहमेवापि सम्पश्यन्कर्तुमर्हसि ॥ ३-२० ॥ <br> <br>
    </div>
    जनकादी ज्ञानी लोकही आसक्तिरहित कर्मांनीच परमसिद्धीला प्राप्त झाले होते. म्हणून तसेच लोकसंग्रहाकडे दृष्टी देऊनदेखील
    तू कर्म करणेच योग्य आहे. ॥ ३-२० ॥ <br> <br>

    <div class="adhayaText">
        यद्यदाचरति श्रेष्ठस्तत्तदेवेतरो जनः । <br>
        स यत्प्रमाणं कुरुते लोकस्तदनुवर्तते ॥ ३-२१ ॥ <br> <br>
    </div>
    श्रेष्ठ मनुष्य जे जे आचरण करतो, त्या त्या प्रमाणेच इतर लोकही आचरण करतात; तो जे काही प्रमाण म्हणून सांगतो,
    त्याप्रमाणेच सर्व मनुष्यसमुदाय वागू लागतो. ॥ ३-२१ ॥ <br> <br>

    <div class="adhayaText">
        न मे पार्थास्ति कर्तव्यं त्रिषु लोकेषु किञ्चन । <br>
        नानवाप्तमवाप्तव्यं वर्त एव च कर्मणि ॥ ३-२२ ॥ <br> <br>
    </div>
    हे पार्था (अर्थात पृथापुत्र अर्जुना), मला या तिन्ही लोकांत काहीही कर्तव्य नाही आणि मिळविण्याजोगी कोणतीही वस्तू
    मिळाली नाही, असे नाही. तरीही मी कर्तव्य कर्म करीतच असतो. ॥ ३-२२ ॥ <br> <br>

    <div class="adhayaText">
        यदि ह्यहं न वर्तेयं जातु कर्मण्यतन्द्रितः । <br>
        मम वर्त्मानुवर्तन्ते मनुष्याः पार्थ सर्वशः ॥ ३-२३ ॥ <br> <br>
    </div>
    कारण हे पार्था (अर्थात पृथापुत्र अर्जुना), जर का मी सावध राहून कर्मे केली नाहीत, तर मोठे नुकसान होईल, कारण मनुष्य
    सर्व प्रकारे माझ्याच मार्गाचे अनुकरण करतात. ॥ ३-२३ ॥ <br> <br>

    <div class="adhayaText">
        उत्सीदेयुरिमे लोका न कुर्यां कर्म चेदहम्‌ । <br>
        सङ्करस्य च कर्ता स्यामुपहन्यामिमाः प्रजाः ॥ ३-२४ ॥ <br> <br>
    </div>
    म्हणून जर मी कर्मे केली नाहीत, तर ही सर्व माणसे नष्ट-भ्रष्ट होतील आणि मी संकरतेचे कारण होईन, तसेच या सर्व प्रजेचा
    घात करणारा होईन. ॥ ३-२४ ॥ <br> <br>

    <div class="adhayaText">
        सक्ताः कर्मण्यविद्वांसो यथा कुर्वन्ति भारत । <br>
        कुर्याद्विद्वांस्तथासक्तश्चिकीर्षुर्लोकसङ्ग्रहम्‌ ॥ ३-२५ ॥ <br> <br>
    </div>
    हे भारता(भरतवंशी अर्जुना), कर्मांत आसक्त असणारे अज्ञानी लोक ज्या रीतीने कर्मे करतात, त्याच रीतीने आसक्ती नसलेल्या
    विद्वानानेही लोकसंग्रह करण्याच्या इच्छेने कर्मे करावीत. ॥ ३-२५ ॥ <br> <br>

    <div class="adhayaText">
        न बुद्धिभेदं जनयेदज्ञानां कर्मसङ्गिनाम्‌ । <br>
        जोषयेत्सर्वकर्माणि विद्वान्युक्तः समाचरन्‌ ॥ ३-२६ ॥ <br> <br>
    </div>
    परमात्मस्वरूपात स्थिर असलेल्या ज्ञानी मनुष्याने शास्त्रविहित कर्मांत आसक्ती असलेल्या अज्ञानी लोकांच्या बुद्धीत भ्रम
    म्हणजेच कर्मांविषयी अश्रद्धा निर्माण करू नये. उलट स्वतः शास्त्रविहित सर्व कर्मे उत्तमप्रकारे करीत त्यांच्याकडूनही
    तशीच करून घ्यावीत. ॥ ३-२६ ॥ <br> <br>

    <div class="adhayaText">
        प्रकृतेः क्रियमाणानि गुणैः कर्माणि सर्वशः । <br>
        अहङ्कारविमूढात्मा कर्ताहमिति मन्यते ॥ ३-२७ ॥ <br> <br>
    </div>
    वास्तविक सर्व कर्मे सर्व प्रकारे प्रकृतीच्या गुणांमार्फत केली जातात. तरीही ज्याचे अंतःकरण अहंकारामुळे मोहित झाले
    आहे, असा अज्ञानी मनुष्य मी कर्ता आहे, असे मानतो. ॥ ३-२७ ॥ <br> <br>

    <div class="adhayaText">
        तत्त्ववित्तु महाबाहो गुणकर्मविभागयोः । <br>
        गुणा गुणेषु वर्तन्त इति मत्वा न सज्जते ॥ ३-२८ ॥ <br> <br>
    </div>
    पण हे महाबाहो (अर्जुना), गुणविभाग आणि कर्मविभाग यांचे तत्त्व जाणणारा ज्ञानयोगी सर्व गुणच गुणांत वावरत असतात, हे
    लक्षात घेऊन त्यांमध्ये आसक्त होत नाही. ॥ ३-२८ ॥ <br> <br>

    <div class="adhayaText">
        प्रकृतेर्गुणसम्मूढाः सज्जन्ते गुणकर्मसु । <br>
        तानकृत्स्नविदो मन्दान्कृत्स्नविन्न विचालयेत्‌ ॥ ३-२९ ॥ <br> <br>
    </div>
    प्रकृतीच्या गुणांनी अत्यंत मोहित झालेली माणसे गुणांत आणि कर्मांत आसक्त होतात. त्या चांगल्या रीतीने न जाणणाऱ्या
    मंदबुद्धीच्या अज्ञानी मनुष्यांचा पूर्ण ज्ञान असणाऱ्या ज्ञानी मनुष्याने बुद्धिभेद करू नये. ॥ ३-२९ ॥ <br> <br>

    <div class="adhayaText">
        मयि सर्वाणि कर्माणि संन्यस्याध्यात्मचेतसा । <br>
        निराशीर्निर्ममो भूत्वा युध्यस्व विगतज्वरः ॥ ३-३० ॥ <br> <br>
    </div>
    अंतर्यामी मज परमात्म्यामध्ये गुंतलेल्या चित्ताने सर्व कर्मे मला समर्पण करून आशा, ममता व संताप रहित होऊन तू युद्ध कर.
    ॥ ३-३० ॥ <br> <br>

    <div class="adhayaText">
        ये मे मतमिदं नित्यमनुतिष्ठन्ति मानवाः । <br>
        श्रद्धावन्तोऽनसूयन्तो मुच्यन्ते तेऽपि कर्मभिः ॥ ३-३१ ॥ <br> <br>
    </div>
    जे कोणी मानव दोषदृष्टी टाकून श्रद्धायुक्त अंतःकरणाने माझ्या या मताचे नेहमी अनुसरण करतात, तेही सर्व कर्मांपासून मुक्त
    होतात. ॥ ३-३१ ॥ <br> <br>

    <div class="adhayaText">
        ये त्वेतदभ्यसूयन्तो नानुतिष्ठन्ति मे मतम्‌ । <br>
        सर्वज्ञानविमूढांस्तान्विद्धि नष्टानचेतसः ॥ ३-३२ ॥ <br> <br>
    </div>
    परंतु जे मानव माझ्यावर दोषारोप करून माझ्या या मतानुसार वागत नाहीत, त्या मूर्खांना तू सर्व ज्ञानांना मुकलेले आणि नष्ट
    झालेलेच समज. ॥ ३-३२ ॥ <br> <br>

    <div class="adhayaText">
        सदृशं चेष्टते स्वस्याः प्रकृतेर्ज्ञानवानपि । <br>
        प्रकृतिं यान्ति भूतानि निग्रहः किं करिष्यति ॥ ३-३३ ॥ <br> <br>
    </div>
    सर्व प्राणी प्रकृतीच्या वळणावर जातात, म्हणजेच आपल्या स्वभावाच्या अधीन होऊन कर्मे करतात. ज्ञानीसुद्धा आपल्या
    स्वभावानुसारच व्यवहार करतो. मग या विषयांत कोणाचाही हट्टीपणा काय करील? ॥ ३-३३ ॥ <br> <br>

    <div class="adhayaText">
        इन्द्रियस्येन्द्रियस्यार्थे रागद्वेषौ व्यवस्थितौ । <br>
        तयोर्न वशमागच्छेत्तौ ह्यस्य परिपन्थिनौ ॥ ३-३४ ॥ <br> <br>
    </div>
    प्रत्येक इंद्रियाचे इंद्रियाच्या विषयात राग व द्वेष लपलेले असतात. माणसाने त्या दोहोंच्या आहारी जाता कामा नये. कारण
    ते दोन्हीही त्याच्या कल्याणमार्गात विघ्न करणारे मोठे शत्रू आहेत. ॥ ३-३४ ॥ <br> <br>

    <div class="adhayaText">
        श्रेयान्स्वधर्मो विगुणः परधर्मात्स्वनुष्ठितात्‌ । <br>
        स्वधर्मे निधनं श्रेयः परधर्मो भयावहः ॥ ३-३५ ॥ <br> <br>
    </div>
    चांगल्याप्रकारे आचरणात आणलेल्या दुसऱ्याच्या धर्माहून गुणरहित असला तरी आपला धर्म अतिशय उत्तम आहे. आपल्या धर्मात तर
    मरणेही कल्याणकारक आहे. पण दुसऱ्याचा धर्म भय देणारा आहे. ॥ ३-३५ ॥ <br> <br>

    <div class="adhayaText">
        अर्जुन उवाच । <br>
        अथ केन प्रयुक्तोऽयं पापं चरति पूरुषः । <br>
        अनिच्छन्नपि वार्ष्णेय बलादिव नियोजितः ॥ ३-३६ ॥ <br> <br>
    </div>
    अर्जुन म्हणाला, हे वार्ष्णेया(श्रीकृष्णा), तर मग हा मनुष्य स्वतःची इच्छा नसतानाही जबरदस्तीने करावयास लावल्याप्रमाणे
    कोणाच्या प्रेरणेने पापाचे आचरण करतो? ॥ ३-३६ ॥ <br> <br>

    <div class="adhayaText">
        श्रीभगवानुवाच । <br>
        काम एष क्रोध एष रजोगुणसमुद्भवः । <br>
        महाशनो महापाप्मा विद्ध्येनमिह वैरिणम्‌ ॥ ३-३७ ॥ <br> <br>
    </div>
    भगवान श्रीकृष्ण म्हणाले, रजोगुणापासून उत्पन्न झालेला हा कामच क्रोध आहे. हा खूप खादाड अर्थात भोगांनी कधीही तृप्त न
    होणारा व मोठा पापी आहे. हाच या विषयातील वैरी आहे, असे तू जाण. ॥ ३-३७ ॥ <br> <br>

    <div class="adhayaText">
        धूमेनाव्रियते वह्निर्यथादर्शो मलेन च । <br>
        यथोल्बेनावृतो गर्भस्तथा तेनेदमावृतम्‌ ॥ ३-३८ ॥ <br> <br>
    </div>
    ज्याप्रमाणे धुराने अग्नी, धुळीने आरसा आणि वारेने गर्भ झाकला जातो, त्याचप्रमाणे त्या कामामुळे हे ज्ञान आच्छादित
    राहाते. ॥ ३-३८ ॥ <br> <br>

    <div class="adhayaText">
        आवृतं ज्ञानमेतेन ज्ञानिनो नित्यवैरिणा । <br>
        कामरूपेण कौन्तेय दुष्पूरेणानलेन च ॥ ३-३९ ॥ <br> <br>
    </div>
    आणि हे कुंतीपुत्र अर्जुना, कधीही तृप्त न होणारा हा कामरूपी अग्नी ज्ञानी माणसाचा कायमचा शत्रू आहे. त्याने मनुष्यांचे
    ज्ञान झाकले आहे. ॥ ३-३९ ॥ <br> <br>

    <div class="adhayaText">
        इन्द्रियाणि मनो बुद्धिरस्याधिष्ठानमुच्यते । <br>
        एतैर्विमोहयत्येष ज्ञानमावृत्य देहिनम्‌ ॥ ३-४० ॥ <br> <br>
    </div>
    इंद्रिये, मन आणि बुद्धी ही या कामाचे निवासस्थान म्हटली जातात. हा काम या मन, बुद्धी व इंद्रियांच्या द्वारा ज्ञानाला
    आच्छादित करून जीवात्म्याला मोहित करतो. ॥ ३-४० ॥ <br> <br>

    <div class="adhayaText">
        तस्मात्त्वमिन्द्रियाण्यादौ नियम्य भरतर्षभ । <br>
        पाप्मानं प्रजहि ह्येनं ज्ञानविज्ञाननाशनम्‌ ॥ ३-४१ ॥ <br> <br>
    </div>
    म्हणून हे अर्जुना, तू प्रथम इंद्रियांवर ताबा ठेवून, या ज्ञान आणि विज्ञान यांचा नाश करणाऱ्या, मोठ्या पापी कामाला
    अवश्य बळेच मारून टाक. ॥ ३-४१ ॥ <br> <br>

    <div class="adhayaText">
        इन्द्रियाणि पराण्याहुरिन्द्रियेभ्यः परं मनः । <br>
        मनसस्तु परा बुद्धिर्यो बुद्धेः परतस्तु सः ॥ ३-४२ ॥ <br> <br>
    </div>
    इंद्रियांना स्थूलशरीराहून पर म्हणजे श्रेष्ठ, बलवान आणि सूक्ष्म म्हटले जाते. या इंद्रियांहून मन पर आहे. मनाहून बुद्धी
    पर आहे. आणि जो बुद्धीहूनही अत्यंत पर आहे, तो आत्मा होय. ॥ ३-४२ ॥ <br> <br>

    <div class="adhayaText">
        एवं बुद्धेः परं बुद्ध्वा संस्तभ्यात्मानमात्मना । <br>
        जहि शत्रुं महाबाहो कामरूपं दुरासदम्‌ ॥ ३-४३ ॥ <br> <br>
    </div>
    अशा प्रकारे बुद्धीहून पर अर्थात सूक्ष्म, बलवान व अत्यंत श्रेष्ठ असा आत्मा आहे, हे जाणून आणि बुद्धीच्या द्वारा मनाला
    स्वाधीन करून, हे महाबाहो, तू या कामरूप अजिंक्य शत्रूला मारून टाक. ॥ ३-४३ ॥ <br> <br>

    <div class="adhayaText">
        ॐ तत्सदिति श्रीमद्‌भगवद्‌गीतासूपनिषत्सु ब्रह्मविद्यायां योगशास्त्रे श्रीकृष्णार्जुनसंवादे
        कर्मयोगो नाम तृतीयोऽध्यायः ॥ ३ ॥ <br> <br>
    </div>
    ॐ हे परमसत्य आहे. याप्रमाणे श्रीमद्‌भगवद्‌गीतारूपी उपनिषद तथा ब्रह्मविद्या आणि योगशास्त्राविषयी श्रीकृष्ण आणि अर्जुन
    यांच्या संवादातील कर्मयोग नावाचा हा तिसरा अध्याय समाप्त झाला. ॥ ३ ॥ <br> <br> <br>
</div>