<div class="dialogTitle" [ngStyle]="setting.getHeaderStyle()">
  <input type="image" src="assets\icon\back.png" (click)="closeDialog()" alt="Submit" align="left"
    class="dialogBackBtn">
  Precious Technology
</div>

<div class="dialogPage" [ngStyle]="setting.getDialogPageStyle()">
  <div class="dialogText">
    <b>
      Overview
    </b>
    <div>
      Precious Technology helps global enterprises reimagine their businesses for the digital age. Through
      innovative technology solutions built around Digital, IoT, Cloud, Automation, Cybersecurity, Analytics,
      Infrastructure Management and Engineering Services.
    </div>

    <br>
    <b>
      Vision
    </b>
    <div>
      To create a better everyday life for the many people.
    </div>

    <br>
    <b>
      Culture and values
    </b>
    <div>
      Our culture is our foundation, and we take great pride in it.
    </div>

    <br>
    <b>
      The five pillars of Precious Technology
    </b>
    <div>
      There are five pillars we strive to uphold that underscore what we do and how we do it. They are:
    </div>

    <div style="padding-left:20px;">
      <br>
      <b>
        1. Transformation
      </b>
      <div>
        Every one of us is here to transform ourselves, our company, and our world for the better.
      </div>

      <br>
      <b>
        2. Integrity
      </b>
      <div>
        We don't believe the ends justify the means. Do the right thing.
      </div>

      <br>
      <b>
        3. Collaboration
      </b>
      <div>
        We’re capable of so much more when we work together.
      </div>

      <br>
      <b>
        4. Humor
      </b>
      <div>
        Changing the world is hard work. It’s important to have a few laughs along the way.
      </div>

      <br>
      <b>
        5. Results
      </b>
      <div>
        We set clear goals. We measure our success. We fix what doesn’t work. We deliver.
      </div>
    </div>
  </div>
  <br>